<div id="corpo" data-id="nova-quota">
<section class="perfil edit">
	<header class="content-header">
		<div class="controlers">
			<h2 class="titulo">Adicionar Quotas</h2>
		</div>
		<!-- ACTION BOTOES -->
		<div class="botoes">
			<button data-name="guardar" class="botao guardar" onClick="ValidateForm_SocioPerfil('novo-socio');">Guardar</button>
			<button data-name="anular" class="botao anular" onClick="CleanForm('novo-socio');">Anular</button>
		</div>
	</header>
	<span class="info block">Ao selecionar o tipo de mensalidade os meses da lista agrupam-se/dividem-se automaticamente consuante a mensalidade</span>
	<span data-id="corpo">
		
	<form class="form" name="form-quotas" action="" method="POST">
		<div class="co long middle">
			<fieldset class="fieldset fluid">
				<legend>Valor e tipo de mensalidade</legend>
				<div>
					<label for="montante" class="label">Valor</label>
					<input class="input small" type="text" name="montante" onkeyup="ObjFormQuotas.updateMontante(event);" value="0.00">
				</div>
				<ul class="no-list">
					<li class="line">
						<select name="TipoMensalidade" class="select" onchange="ObjFormQuotas.TipoMensalidade(this);" placeholder="Mensalidade (1, 2, 3, 4, 6, 12 Meses)">
							<option value="0" disabled="">Distribuição</option>
							<option value="1"  selected>Mensal (1 em 1 Mes)</option>
							<option value="2">Bimestral (2 em 2 Meses)</option>
							<option value="3">TriMestral (3 em 3 Meses)</option>
							<option value="4">Quadrimestral (4 em 4 Meses)</option>
							<option value="6">Semestral (6 em 6 Meses)</option>
							<option value="12">Anual (1 Ano)</option>
						</select>
					</li>
					<li class="line">
						<select name="Distribuicao" class="select" placeholder="Divisão do Valor" onchange="ObjFormQuotas.updateMontante(event);">
							<option value="0" disabled="">Selecionar uma Distribuição</option>
							<option value="1">Repartir montante por todos os meses</option>
							<option value="2" selected="">Mesmo montante por Mês</option>
						</select>
					</li>
				</ul>
			</fieldset>
			<fieldset class="fieldset">
			<legend>Intervalo de Tempo</legend>
					<div class="line">
						<label for="de">de</label>
						<select class="select" name="DEmes" onchange="ObjFormQuotas.updateTabela(this);">
							<option value="Janeiro">Janeiro</option>
							<option value="Fevereiro">Fevereiro</option>
						</select>
						<select class="select" name="DEano" onchange="ObjFormQuotas.updateTabela(this);">
							<option value="2015">2015</option>
							<option value="2014" selected>2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
						</select>
					</div>
					
					<div class="line">
						<label for="a">&nbsp;a&nbsp;</label>
						<select class="select" name="AOmes" onchange="ObjFormQuotas.updateTabela(this);">
							<option value="Janeiro">Janeiro</option>
							<option value="Fevereiro">Fevereiro</option>
						</select>
						<select class="select" name="AOano" onchange="ObjFormQuotas.updateTabela(this);">
							<option value="2015">2015</option>
							<option value="2014" selected>2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
						</select>
					</div>
			</fieldset>
		</div>
	</form>
		<input type="button" class="botao adicionar" value="Actualizar Grelha" onclick="ObjFormQuotas.updateTabela(this);">
		<span>
			<table class="tabela inputs" data-id="table-prev">
				<thead>
					<tr>
						<th scope="col" style="width:100px;">Descrição</th>
						<th scope="col" style="width:60px;">Ano</th>
						<th scope="col" style="width:80px;">Total</th>
						<th scope="col" style="width:100px;">Praz. Pagamento</th>
						<th scope="col" style="width:50px; display:none;">LastMonth</th>
						<th scope="col" style="width:50px; display:none;">isQuota</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</span>
		<input type="button" class="botao adicionar" value="Criar Quotas" onclick="ObjFormQuotas.CriarQuotas(this);">


		<br/>
			<form name="form-socios-filter" action="" method="POST">
				<div class="col maxwidth-long" data-id="filtros">
					 ---------------------------------------- 
					<h3 class="titulo-3">Filtros (sócios)</h3>
					<fieldset class="fieldset tags">
						<legend>Estado do Sócio</legend>
						<input type="checkbox" class="tag" name="EstadoSocio[]" id="estado-socio-all" value="all" checked>
						<label for="estado-socio-all" >Todos</label>

						{$HTML_ESTADOSOCIO}
					</fieldset>

					<fieldset class="fieldset tags">
						<legend>Tipo de Sócio</legend>
						<input type="checkbox" class="tag" name="TipoSocio[]" id="tipo-socio-all" value="all" checked>
						<label for="tipo-socio-all" >Todos</label>

						{$HTML_TIPOSOCIO}
					</fieldset>
					<fieldset class="fieldset tags">
						<legend>Sexo</legend>
						<input type="radio" class="tag" name="SexoSocio" id="sexo-socio-all" value="all" checked>
						<label for="sexo-socio-all" >Todos</label>

						<input type="radio" class="tag" name="SexoSocio" id="sexo-socio-Fem" value="Feminino" >
						<label for="sexo-socio-Fem" >Feminino</label>
						<input type="radio" class="tag" name="SexoSocio" id="sexo-socio-Masc" value="Masculino" >
						<label for="sexo-socio-Masc" >Masculino</label>
					</fieldset>
					-- ---------------------------------------- 
					Total Sócios: <span data-id="num-socios-tipo">76</span>
				</div>
			</form>
			</span>
			<br/>
		<script>
			ObjFormQuotas.setVariables();
		</script>
				<div class="botoes form-footer">
			<button data-name="guardar" class="botao guardar" onClick="ValidateForm_SocioPerfil('novo-socio');">Guardar</button>
			<button data-name="anular" class="botao anular" onClick="CleanForm('novo-socio');">Anular</button>
		</div>
	</section>
</div>