<div id="corpo-showmodal" data-id="{$formNome}">
	<section class="perfil edit">
		<header class="content-header">
			<div class="controlers">
				<h2 class="titulo">{$titulo}</h2>
			</div>
		</header>
		<!-- Editar -->
		<span data-id="corpo" class="windowbody">
			<form class="form" name="{$formNome}" action="{$FORMAction}" method="POST">
				<div class="col long middle">
					<fieldset class="fieldset fluid">
						<legend>Geral</legend>
						<input class="input" type="text" name="Nome" placeholder="Nome" maxlength="80" required autofocus>
						<label for="Joia" class="input-label">Joia</label>
						<input class="input" type="text" name="Joia" placeholder="Joia" maxlength="12" value="0.00 €">
					</fieldset>
				</div>
			</form>
		</span>
		<div class="botoes form-footer">
			<button data-name="guardar" class="botao guardar" onClick="ObjModal.ValidateForm('{$formNome}');">Guardar</button>
			<button data-name="anular" class="botao anular" onClick="ObjModal.CloseWindow();">Anular</button>
		</div>
	</section>
</div>
{$MsgScript}