<span data-name="ShowModal" class="winmodal hidden"></span>

<div id="corpo" data-id="novo-socio">
	<section class="perfil edit">
		<header class="content-header">
			<div class="controlers">
				<h2 class="titulo">{$titulo}</h2>
			</div>
			<!-- ACTION BOTOES -->
			<div class="botoes">
				<button data-name="guardar" class="botao guardar" onClick="ValidateForm_SocioPerfil('novo-socio');">Guardar</button>
				<button data-name="anular" class="botao anular" onClick="CleanForm('novo-socio');">Anular</button>
			</div>
		</header>
		<span class="info block">Após o registo pode adicionar e alterar estas informações.</span>
		<!-- Editar -->
		<span data-id="corpo">
			<form class="form" name="novo-socio" action="{$FORMAction}" method="POST">
				<div class="col long middle">
					<div class="line">
						<fieldset class="fieldset col w-50 center">
							<legend>Fotografia</legend>
							<div class="img-uploader" data-id="divUploadImage">
								<img class="img-preview" width="120px" src="{$imgsPath}users/user-male-a-01.jpg" id="imgUserTumb">
								<input class="upload" name="upload-image" type="file">
								<img class="folder" src="{$imgsPath}pasta-blue.png" alt="procurar">
							</div>
						</fieldset>
						<div class="col w-50 center">
							<fieldset class="fieldset tags col long">
								<legend>Género</legend>
								<input type="radio" class="tag" name="socio-sexo" id="socio-sexo-1" value="Masculino" required checked="checked">
								<label for="socio-sexo-1" onClick="ChangeUserTumb('imgUserTumb','Masculino');">Masculino</label>
								<input type="radio" class="tag" name="socio-sexo" id="socio-sexo-2" value="Feminino" required>
								<label for="socio-sexo-2" onClick="ChangeUserTumb('imgUserTumb','Feminino');">Feminino</label>
							</fieldset>
							<fieldset class="fieldset tags col short">
								<legend>Nº Sócio (Automático)</legend>
								<input class="input numero" style="width: 10em;" type="text" name="NumSocio" placeholder="Número de Sócio" maxlength="20" value="{$NumSocio}" data-magicinput="false">
							</fieldset>
						</div>
					</div>

					<fieldset class="fieldset fluid">
						<legend>Dados Pessoais</legend>
						<input class="input" type="text" name="Nome" placeholder="Nome" maxlength="80" required>
						<input class="input numero" type="text" name="NIF" placeholder="NIF" maxlength="11">
						<input class="input numero" type="text" id="BICC" name="BICC" placeholder="BI/CC" maxlength="11">
						<label for="data-nascimento" class="input-label">Data de Nascimento</label>
						<input class="input numero" type="date" name="data-nascimento" placeholder="Data de Nascimento" data-magicinput="false">
					</fieldset>
					<fieldset class="fieldset morada-box">
						<legend>Localização</legend>
						<input class="input codigo-postal" name="Codigo-Postal" placeholder="Código Postal" type="text" onkeyup="CTTINFO(event);" maxlength="8" data-magicinput="false" required>
						<div class="info-box">Introduza um código postal (ex: 3000-123)</div>
						<input class="input block" name="Morada" placeholder="Morada" type="text" maxlength="550" data-magicinput="false" required>
					</fieldset>
					<fieldset class="fieldset fluid">
						<legend>Contactos</legend>
						<input class="input" type="text" name="Email" placeholder="E-mail" maxlength="80">
						<input class="input numero" type="text" name="Telefone" placeholder="Telefone" maxlength="11">
					</fieldset>
				</div>
	
				<div class="col long">
					<h3>Informações Adicionais</h3>
					<fieldset class="fieldset">
						<legend>Registo Interno</legend>
						<select class="select" name="EstadoSocio" placeholder="Estado de Socio" data-magicinput="false" required>
							<option value="Estado do Sócio" disabled selected>Estado de Sócio</option>
							{loop id=socioestado}
								<option value="{field:id_socioestado}">{field:nome}</option>
							{/loop}
						</select>
						<button data-name="novo-estado" class="botao guardar" type="button" onClick="ObjModal.OpenWindow('EstadoSocio','socio-estado');">Novo</button>
						
						<select class="select" name="TipoSocio" placeholder="Tipo de Sócio" data-magicinput="false" required>
							<option value="Tipo de Sócio" disabled selected>Tipo de Sócio</option>
							{loop id=sociotipo}
								<option value="{field:id_sociotipo}">{field:nome}</option>
							{/loop}
						</select>
						<button data-name="novo-tipo" class="botao guardar" type="button" onClick="ObjModal.OpenWindow('TipoSocio','socio-tipo');">Novo</button>
						
					</fieldset>
					<fieldset class="fieldset fluid">
						<legend>Outros</legend>
						<textarea class="input" name="Observacoes" placeholder="Observações/Notas" data-magicinput="false"></textarea>
					</fieldset>
				</div>
			</form>
		</span>
		<div class="botoes form-footer">
			<button data-name="guardar" class="botao guardar" onClick="ValidateForm_SocioPerfil('novo-socio');">Guardar</button>
			<button data-name="anular" class="botao anular" onClick="CleanForm('novo-socio');">Anular</button>
		</div>
	</section>
</div>
{$MsgScript}
	<!--
	<script type='text/javascript'>
		document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'novo-socio'); }

	</script>
	-->