	<div id="corpo" data-id="form-socio">
		<section class="perfil edit">
			<header class="content-header">
				<div class="controlers">
					<h2 class="titulo">{$titulo}</h2>
				</div>
				<!-- ACTION BOTOES -->
				<div class="botoes">
					<button data-name="editar" class="botao editar" onClick="EnableForm('socio-perfil-edit');">editar</button>
					<button data-name="guardar" class="botao guardar" onClick="ValidateForm_SocioPerfilEdit('socio-perfil-edit');">Guardar</button>
					<button data-name="anular" class="botao anular" onClick="ResetFormValues('socio-perfil-edit');">anular</button>
					<button data-name="apagar" class="botao apagar" onClick="RemoveRecord('socio-perfil-edit');">apagar</button>
				</div>
			</header>
			<span data-id="corpo" class="act-editar">
				<!-- Editar -->
				<form name="socio-perfil-edit" action="{$FormAction}" method="POST">
					<div class="coluna no-margin full-width">
						<div class="img-uploader" data-id="divUploadImage">
							<img class="img-preview" width="150px" src="{$foto-url}" id="imgUserTumb">
							<input class="upload" name="upload-image" type="file">
							<img class="folder" src="{$imgsPath}pasta-blue.png" alt="procurar">
						</div>
	
						<div class="info-socio">
							<input name="Nome" value="{field:nome}" type="text" maxlength="80" size="34" placeholder="Nome" required/>
							<span class="socio-codigo">
								Sócio nº: <input name="NumSocio" value="{field:codigo}" type="number" maxlength="20" class="numeros" placeholder="Nº">
							</span>

							<div class="tags perfil-sexo">
								<input type="radio" name="socio-sexo" id="socio-sexo-1" value="Masculino" placeholder="Sexo" required {field:sexMas}>
								<label for="socio-sexo-1" data-name="socio-sexo" onClick="ChangeUserTumb('imgUserTumb','Masculino');">Masculino</label>
								<input type="radio" name="socio-sexo" id="socio-sexo-2" value="Feminino" placeholder="Sexo" required {field:sexFem}>
								<label for="socio-sexo-2" data-name="socio-sexo" onClick="ChangeUserTumb('imgUserTumb','Feminino');">Feminino</label>
							</div>

							<select class="etiqueta azul" name="EstadoSocio" placeholder="Estado-Socio" required >
								<option value="Estado do Sócio" disabled selected>Estado de Sócio</option>
								{$HTML_SELECT_ESTADO}
							</select>
							<select class="etiqueta verde" name="TipoSocio" placeholder="Tipo-Socio" required >
								<option value="Tipo do Sócio" disabled selected>Tipo de Sócio</option>
								{$HTML_SELECT_TIPO}
							</select>

							<span class="last-active-main">
								{$reg-update}
							</span>
						</div>
					</div>

					<legend class="card-info"></legend>
					<ul class="bloco">
						<li>
							<strong>Telefone:</strong>
							<span class="numeros">
								<input name="Telefone" type="text" value="{field:telefone}" maxlength="11" placeholder="Telefone">
							</span>
							<a href="#contactos" onclick="ShowMoreFields(this,'SPAN','data-action', '+ contactos','- contactos');">+ contactos</a>
						</li>
						<span data-action="#contactos" class="hidden">
							<li>
								<strong>Telemovel:</strong>
								<span class="numeros">
									<input name="Telemovel" type="text" value="{field:telemovel}" maxlength="11" placeholder="Telemovel">
								</span>
							</li>
							<li>
								<strong>Fax:</strong>
								<span class="numeros">
									<input name="Fax" type="text" value="{field:fax}" maxlength="11" placeholder="Fax">
								</span>
							</li>
							<li>
								<strong>Outro 1:</strong>
								<span class="numeros">
									<input name="Outro1" type="text" value="{field:outro1}" maxlength="60" placeholder="Outro 1">
								</span>
							</li>
							<li>
								<strong>Outro 2:</strong>
								<span class="numeros">
									<input name="Outro2" type="text" value="{field:outro2}" maxlength="60" placeholder="Outro 2">
								</span>
							</li>
						</span>
						<li>
							<strong>Email:</strong>
							<input name="Email" type="email" value="{field:email}" maxlength="80" size="32" placeholder="Email">
						</li>
						<li>
							<strong>Morada:</strong>
							<input name="Morada" type="text" value="{field:morada}" maxlength="550" size="32" placeholder="Morada">
							<span class="line2">
								<input class="numero" name="Codigo-Postal" type="text" value="{field:codigo_postal}" maxlength="8" size="10" onkeyup="CTTINFO();" required placeholder="Código Postal">
								<span class="info-box">{field:concelho_desig}, <span>{field:distrito_desig}</span></span>
							</span>
						</li>
					</ul>

					<legend class="card-info"></legend>
					<ul class="bloco longo">
						<li>
							<strong>Data de Inscrição:</strong>
							<input type="date" name="data-inscricao" value="{field:data_entrada}">
						</li>
						<li>
							<strong>Data de Saída:</strong>
							<input type="date" name="data-saida" value='{field:data_saida}'>
						</li>
						<li>
							<strong>Data de Nascimento:</strong>
							<input name="data-nascimento" type="date" value="{field:data_nascimento}" >
						</li>
					</ul>

					<legend class="card-info"></legend>
					<ul class="bloco longo">
						<li>
							<strong>Cartão de Cidadão:</strong>
							<span class="numeros">
								<input name="BICC" type="text" value="{field:bicc}" maxlength="11" onkeyup="GetValuesByBI(this);" placeholder="B.I/C.C">
							</span>
						</li>
						<li>
							<strong>Contribuinte (NIF):</strong>
							<span class="numeros">
								<input name="NIF" type="text" value="{field:nif}" maxlength="11" placeholder="N.I.F">
							</span>
						</li>
						<li>
							<strong>Conta Bancária (NIB):</strong>
							<span class="numeros">
								<input name="NIB" type="text" value="{field:nib}" maxlength="21" placeholder="N.I.B"></span>
						</li>
					</ul>

					<legend class="card-info"></legend>
					<ul class="bloco longo observacoes">
						<li>
							<strong>Observações:</strong>
							<textarea name="Observacoes" placeholder="Observações/Notas" rows="4" cols="33">{field:observacoes}</textarea>
						</li>
					</ul>

					<legend class="card-info"></legend>
					<ul class="bloco longo">
						<li>
							<strong>Modalidades / Quotas em atraso</strong>
							<ul class="lista quotas-aberto">
								<li class="total">&nbsp;Total<span class="numero">€{$total_divida}&nbsp;</span></li>
								{loop id=modalidade-quotas}
								<li class="modalidade"><a href="{field:goto-link}">{field:nome_modalidade}<span class="numero">€{field:total_divida}</span></a></li>
								{/loop}
							</ul>
						</li>
					</ul>
					<input type="hidden" name="CodSocio" value="{field:id_socio}" >
				</form>
			</span>
		</section>
	</div>
	<script>
		EnableForm('socio-perfil-edit');
	</script>
	<script>
		INI_FILEUPLOAD("upload-image","divUploadImage","spanProgressBar");
	</script>
	{$MsgScript}