	<span data-name="ShowModal" class="winmodal hidden"></span>

	<div id="corpo" data-id="form-socio">
		<section class="perfil edit">
			<header class="content-header">
				<div class="controlers">
					<h2 class="titulo">{$titulo}</h2>
				</div>
				<!-- ACTION BOTOES -->
				<div class="botoes tabs" data-id="tabs">
					<a data-name="tab-perfil" class="botao tab active" onClick="ObjTabs.activeTabArea(this);">Perfil
						<div class="botoes-tab">
							<button data-name="editar" class="botao ico fi-page-edit" title="Editar" onClick="EnableForm('socio-perfil-edit');"></button>
							<button data-name="guardar" class="botao ico fi-check" title="Guardar"  onClick="ValidateForm_SocioPerfil('socio-perfil-edit');"></button>
							<button data-name="anular" class="botao ico fi-arrow-left" title="Anular"  onClick="ResetFormValues('socio-perfil-edit');"></button>
							<button data-name="apagar" class="botao ico fi-trash" title="Apagar"  onClick="CloseAnularMessage(true); RemoveRecord('socio-perfil-edit');"></button>
						</div>
					</a>
					<a data-name="tab-quotas" class="botao tab" onClick="ObjTabs.activeTabArea(this); ObjTabSocioQuotas.setQuotasInfoFromJSON();">Quotas
						<div class="botoes-tab">
							<button data-name="inserir" class="botao ico fi-plus" title="Inserir" onClick="alert('Inserir Quotas/Joia/Anos');"></button>
						</div>
					</a>
					<a data-name="tab-family" class="botao tab" onClick="ObjTabs.activeTabArea(this); ObjTouchSocioFamiliares.setFamiliaresFromJSON();">Familiares
						<div class="botoes-tab">
							<button data-name="inserir" class="botao ico fi-plus" title="Inserir" onClick="ObjTouchSocioFamiliares.insertFamiliar();"></button>
						</div>
					</a>
					<!--
					<a data-name="tab-dragdrop" class="botao tab" onClick="ObjTabs.activeTabArea(this);">Area de Controlo</a>
					-->
				</div>
			</header>
			<!-- DragDrop ZONE
			<span data-name="tab-dragdrop" data-id="dragdropZone" class="act-editar drag-drop-zone hidden"
					ondrop="ObjTouchSocioControlo.dropItem(event)" 
					ondragover="ObjTouchSocioControlo.dragOverZone(event)" 
					ondragenter="ObjTouchSocioControlo.dragEnterZone(event)"
					ondragleave="ObjTouchSocioControlo.dragLeaveZone(event)"></span>
			-->
			<span data-name="tab-quotas" class="act-editar drag-drop-zone hidden">
				{$template_socio_quotas}
			</span>
			<span data-name="tab-family" class="act-editar drag-drop-zone hidden"
						ondrop="ObjTouchSocioFamiliares.dropItem(event)" 
						ondragover="ObjTouchSocioFamiliares.dragOverZone(event)" 
						ondragenter="ObjTouchSocioFamiliares.dragEnterZone(event)"
						ondragleave="ObjTouchSocioFamiliares.dragLeaveZone(event)" >
				<span data-id="tab-family-json">{$family_jsondata}</span>
				<!-- 
				<div class="familiar">
					<div class="fam-afinidade">
						<select name="Afinidade" placeholder="Grau de Parentesco" required="">
							<option value="0" disabled="" selected="">Grau de parentesco...</option>
							<option value="Pai">Pai</option>
							<option value="Mãe">Mãe</option>
							<option value="Irmão">Irmão</option>
							<option value="Irmã">Irmã</option>
							<option value="Primo">Primo</option>
							<option value="Prima">Prima</option>
							<option value="Tio Paterno">Tio Paterno</option>
							<option value="Tia Paterna">Tia Paterna</option>
							<option value="Tio Materno">Tio Materno</option>
							<option value="Tia Materna">Tia Materna</option>
							<option value="Avô Paterno">Avô Paterno</option>
							<option value="Avó Paterna">Avó Paterna</option>
							<option value="Avô Materno">Avô Materno</option>
							<option value="Avó Materna">Avó Materna</option>
						</select>
					</div>
					<div class="fam-socio-dragdrop" data-name="newfamiliar"
						ondrop="ObjTouchSocioFamiliares.dropItem(event)" 
						ondragover="ObjTouchSocioFamiliares.dragOverZone(event)" 
						ondragenter="ObjTouchSocioFamiliares.dragEnterZone(event)"
						ondragleave="ObjTouchSocioFamiliares.dragLeaveZone(event)" >Arrastar Sócio para aqui.</div>
					<div class="fam-savebtn"><img src="../../img/icons/compose-32.png" /></div>
				</div>
				-->
			</span>
			
			<span data-name="tab-perfil">
				<span class="info block">{$reg-update}</span>
				<span data-id="corpo" data-form="form-socio" class="act-editar">
		
					<!-- Editar -->
					<form class="form perfil-ver" name="socio-perfil-edit" action="{$FormAction}" method="POST">
						<div class="col">
							<div class="info-socio">
								<div class="img-uploader disabled" data-id="divUploadImage">
									<img class="img-preview" width="100px" height="100px" src="{$foto-url}" id="imgUserTumb">
									<input class="upload" name="upload-image" type="file">
									<img class="folder" src="{$imgsPath}pasta-blue.png" alt="procurar">
								</div>
						
								<h2 class="nome-socio">
									<input class="input" name="Nome" value="{field:nome}" type="text" placeholder="Nome" required/>
								</h2>
								<div class="socio-details">
									<span class="socio-codigo">
										nº <input class="input numero" name="NumSocio" value="{field:codigo}" type="number" placeholder="Nº">
									</span>
	
									<div class="tags perfil-sexo">
									<input type="radio" name="socio-sexo" id="socio-sexo-1" value="Masculino" placeholder="Sexo" required {field:sexMas}>
									<label for="socio-sexo-1" data-name="socio-sexo" onClick="ChangeUserTumb('imgUserTumb','Masculino');">Masculino</label>
									<input type="radio" name="socio-sexo" id="socio-sexo-2" value="Feminino" placeholder="Sexo" required {field:sexFem}>
									<label for="socio-sexo-2" data-name="socio-sexo" onClick="ChangeUserTumb('imgUserTumb','Feminino');">Feminino</label>
								</div>
								<br/>
								<select class="select label verde" name="EstadoSocio" placeholder="Estado-Socio" required >
									<option value="Estado do Sócio" disabled selected>Estado de Sócio</option>
									{$HTML_SELECT_ESTADO}
								</select>
								<select class="select label grey-blue" name="TipoSocio" placeholder="Tipo-Socio" required >
									<option value="Tipo do Sócio" disabled selected>Tipo de Sócio</option>
									{$HTML_SELECT_TIPO}
								</select>
							</div>
						</div>
						<fieldset class="fieldset">
							<legend>Contactos</legend>
							<ul class="no-list">
								<li>
									<label>Telefone:</label>
									<input class="input  small" name="Telefone" type="text" value="{field:telefone}" maxlength="16" placeholder="Telefone">
									<a class="botao toggle" href="#contactos" onclick="ShowMoreFields(this,'DIV','data-action', '+ contactos','- contactos');">+ contactos</a>
								</li>
								
								<!-- + Contactos -->
								<div data-action="#contactos" class="hidden">
								
								<li>
									<label>Telemovel:</label>
									<input class="input small" name="Telemovel" type="text" value="{field:telemovel}" placeholder="Telemovel">
								</li>
								<li>
									<label>Fax:</label>
									<span class="numeros">
										<input class="input small" name="Fax" type="text" value="{field:fax}" placeholder="Fax">
									</span>
								</li>
								<li>
									<label>Outro 1:</label>
									<span class="numeros">
										<input class="input" name="Outro1" type="text" value="{field:outro1}" maxlength="60" placeholder="Outro 1">
									</span>
								</li>
								<li>
									<label>Outro 2:</label>
									<span class="numeros">
										<input class="input" name="Outro2" type="text" value="{field:outro2}" maxlength="60" placeholder="Outro 2">
									</span>
								</li>
								
								</div>
								<!-- // + Contactos -->
								
								<li>
									<label>Email:</label>
									<input class="input long" name="Email" type="email" value="{field:email}" maxlength="80" size="32" placeholder="Email">
								</li>
								<li>
									<div class="morada-box">
										<label>Morada:</label>
										<input class="input long" name="Morada" type="text" value="{field:morada}" maxlength="550" size="32" placeholder="Morada">
										<div class="line2">
											<input class="input mini" name="Codigo-Postal" type="text" value="{field:codigo_postal}" maxlength="8" size="10" onkeyup="CTTINFO(event);" required placeholder="Código Postal">
											<span class="info-box">{field:concelho_desig}, <span>{field:distrito_desig}</span></span>
										</div>
									</div>
								</li>
							</ul>
						</fieldset>
		
						<fieldset class="fieldset">
							<legend>Detalhes</legend>
							<ul class="no-list long-labels">
								<li>
									<label>Cartão de Cidadão:</label>
									<input class="input small" name="BICC" type="text" value="{field:bicc}" maxlength="11" placeholder="B.I/C.C">
								</li>
								<li>
									<label>Contribuinte (NIF):</label>
									<input class="input small" name="NIF" type="text" value="{field:nif}" maxlength="11" placeholder="N.I.F">
								</li>
								<li>
									<label>Conta Bancária (NIB):</label>
									<input class="input fluid" name="NIB" type="text" value="{field:nib}" maxlength="21" placeholder="N.I.B">
								</li>
							</ul>
						</fieldset>
		
						<fieldset class="fieldset">
							<legend>Datas</legend>
							<ul class="no-list long-labels">
								<li>
									<label>Data de Inscrição:</label>
									<input class="input" type="date" name="data-inscricao" value="{field:data_entrada}">
								</li>
								<li>
									<label>Data de Saída:</label>
									<input class="input" type="date" name="data-saida" value='{field:data_saida}'>
								</li>
								<li>
									<label>Data de Nascimento:</label>
									<input class="input" name="data-nascimento" type="date" value="{field:data_nascimento}" >
								</li>
							</ul>
						</fieldset>
						
						<ul class="no-list observacoes">
							<li>
								<label>Observações:</label><br>
								<textarea class="input full" name="Observacoes" placeholder="Observações/Notas" rows="4" cols="33">{field:observacoes}</textarea>
							</li>
						</ul>

						<input type="hidden" name="CodSocio" value="{field:id_socio}" data-isid="true" required>
						<input type="hidden" name="jsondata" value="{$jsondata}" data-setpost="false">
					</form>
				</span>
			</span>
		</section>
	</div>
	{$MsgScript}