	<section class="perfil-quotas">
		<div class="divisor open">
        <div class="static-header">
            <fieldset class="fieldset auto-w">
			    <legend class="label">Atividade</legend>
			    <select class="select" name="select-actividades" onChange="ObjTabSocioQuotas.selectModalidade(this);">
			    {loop id=listamodalidades}
			    	<option value="{field:id_modalidade}">{field:nome_modalidade}</option>
			    {/loop}
			    </select>
            </fieldset>
 
            <div class="auto-w">
				<button data-name="guardar" class="botao guardar" onclick="ObjTabSocioQuotas.RegistarPagamento(true,'paycheck');">Registar Pagamento</button>
				<button data-name="cancelar" class="botao apagar" onclick="ObjTabSocioQuotas.RegistarPagamento(true,'unpaycheck');">Registar Divida</button>
				<button data-name="apagar" class="botao apagar" onclick="ObjTabSocioQuotas.RemoverQuotas(true);">apagar</button>
            </div>
    
            </div>
			<div class="cwrap">
				<div class="divisor-sub open" data-id="lista-quotas">
					<h4>
					</h4>
					<div class="cwrap">
						<table class="tabela" summary="Listagem de Sócios">
							<thead>
								<tr>
									<th scope="col checkbox-wrap">
                                        <input class="checkbox" id="checkbox-300" type="checkbox" name="checkbox">
                                        <label for="checkbox-300"></label>
								    </th>
									<th scope="col">Descrição</th>
									<th scope="col">Total</th>
									<th scope="col">em falta</th>
									<th scope="col">Data</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
			

	</section>
	<span data-id="quotasJSON" style="display:none;">{$json}</span>
	