			<span class="quotas">
				<div class="col long bg-azul" >
					<input type="hidden" name="QActividade" value="" data-index="-1" >
					<h3>Actividades...</h3>
					<span class="botao ico fi-minus quotas-socio" onclick="ObjTabSocioQuotas.closeSelect(this,'actividades-nomes');"></span>
					<ul class="lista quotas-aberto" data-id="actividades-nomes" data-urlparam="idm">
						{loop id=actividades-nomes}
							<li class="modalidade"><a href="javascript:void(0);" onclick="ObjTabSocioQuotas.setSelectItem(this,'{field:id_modalidade}');">{field:nome_modalidade}<span class="numero">€{field:total_divida}</span></a></li>
						{/loop}
					</ul>
				</div>
				<div class="col small bg-azul" >
					<input type="hidden" name="QAnos" value="" data-index="-1" >
					<h3>Anos...</h3>
					<span class="botao ico fi-minus quotas-socio" onclick="ObjTabSocioQuotas.closeSelect(this,'actividades-anos');"></span>
					<ul class="lista quotas-aberto" data-id="actividades-anos" data-urlparam="ano">
						<!--{loop id=actividades-anos}
						<li class="modalidade"><a href="javascript:void(0);" onclick="ObjTabSocioQuotas.setSelectItem(this,'{field:ano}');">{field:ano}<span class="numero">€{field:total_divida}</span></a></li>
						{/loop}-->
					</ul>
				</div>
			</span>
			<span class="hidden" data-id="quotasJSON">{$json}</span>