/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
 html, button, input, select, textarea {
    color: #222;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

input[type="submit"] {
    border:none;
}


/* ==========================================================================
   Números e Rabiscos Custom Styles "António Pinto www.numeroserabiscos.com"
   ========================================================================== */

/* -------- Tipografia ------- *
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2012 Fontspring
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris Font Foundry
 * License URL: http://www.fontspring.com/fflicense/exljbris
 */
 @font-face {
    font-family:'Anivers';
    src: url('type/Anivers_Regular-webfont.eot');
    src: url('type/Anivers_Regular-webfont.eot?#iefix') format('embedded-opentype'), url('type/Anivers_Regular-webfont.woff') format('woff'), url('type/Anivers_Regular-webfont.ttf') format('truetype'), url('type/Anivers_Regular-webfont.svg#AniversRegular') format('svg');
    font-weight: normal;
    font-style: normal;
 }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family:'Anivers';
        src: url('type/Anivers_Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    }
}

/* ------- * -------- Globais ------- * ------- */ 
html {
    position: relative;
    min-height: 100%;
    font-family:'Anivers', Calibri, sans-serif;
}

body {
    margin: 0 0 140px;
    /* footer height */
    font-family: Calibri, sans-serif;
}

h1, h2, h3 {
    font-family:'Anivers', Calibri, sans-serif;
    font-weight: normal;
}

#corpo {
    position: relative;
    margin: 6.1em 0 0 161px;
    padding: 0;
}



.inline {
	display: inline-block;
}

/* --- Regras para quando não há menu (.no-menu) --*/
#corpo.no-menu {
    margin: 0em 0 0 161px;
}

#corpo.no-menu .titulo {
    top: 0em;
}

/* --- --- Barra Lateral --- --- */

#sidebar {
    position: fixed;
    font-size: 1em;
    z-index: 95;
    top: 0;
    left: 0;
    background: #333;
    height: 100%;
    width: 10em;
    padding: 12em 0 0 0;
    border-right: 1px solid #FFF;
	overflow:hidden; 
}

#sidebar .left-menu
 {
	list-style: none;
	margin: 0;
	padding: 0;
	box-shadow: 0 0.5em 3em 0px rgba(0, 0, 0, 0.4);
}

#sidebar .left-menu .item {
	display: block;
	text-align: left;
	width: auto;
	color: #ccc;
	font-family: "Anivers", Calibri, sans-serif;
	text-decoration: none;
	line-height: 1.2em;
	padding: 0.5em 0.7em;
	transition: all 250ms ease-in;
}

#sidebar .left-menu .item:hover {
	transition: all 250ms ease-out;
	box-shadow: 0 0 3em 0px rgba(0, 0, 0, 0.4);
	color: #FFF;
	z-index: 100;
	position: relative;
}
 
/* ------- Footer --------- */
 footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    background: #eaf2f6;
    padding: 20px 0 0 0;
    z-index: 90;
}








#corpo .perfil select.etiqueta:focus {
    outline: none;
    background: #eaf2f6;
    color: #333;
}



 footer {
    z-index: 80;
    border-top: 1px solid #FFF;

 }

footer .account {
    z-index: 81;
    margin-left: 11em;
}

footer .account .links-titulo {
    margin: 0;
    font-family: 'Anivers', Calibri, sans-serif;
}

footer .account a {
    color: #333;
    text-decoration: none;
    margin: 0 0 0 0.5em;
}

footer .account a:hover{
    color: #09F;
    text-decoration: underline;
}


.ajuda {
    position: relative;
    font-family: Calibri, sans-serif;
    background: #EEF;
    color: #4880a7;
    padding: 0.2em 0.5em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: help;
    margin: 0;
    font-size: 0.9em;
}

.ajuda .link {  color: #09F; }
.ajuda .link:visited {  color: #09F; }
.ajuda .link:hover {  color: #2CF; }

.ctrlz {
    position: fixed;
    z-index: 120;
    bottom: 5%;
    right: 5%;
    background: #FD3;
    padding: 0.5em;
    color: #2f2300;
    border: 1px solid #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.23);

}

.ctrlz a em {
    font-size: 0.9em;
}

.tooltip.alert {
	display:inline-block;
	width: auto;
	font-size: 0.9em;
	position: relative;
	z-index: 90;
	background: #f5592a;
	color: #FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	padding: 0.2em 0.5em;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	right: 0;
}
/* ------- * -------- Formatação ------- * ------- */
 
.center { text-align: center !important; }
.left   { text-align: left    }
.right  { text-align: right;  }

.red    { color: #F00;        }
.green  { color: #690;        }
 
 
/* ------- * -------- Botões ------- * ------- */

/* --- Etiquetas -- */

.etiqueta {
    margin: 0 0.5em;
    padding: 0.2em 1em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.etiqueta.azul {
    background: #09F;
    color: #FFF;
}
.etiqueta.verde {
    background: #d7df23;
    color: #333;
}

.edicao {
    text-align: center;
}


/* --- Closables e Cia --- */

.closable {
    position: relative;
}

.closable-bot {
    display: block;
    position: absolute;
    text-align: right;
    top: 0;
    right: 0;
    width: calc(100% - 0.3em);
    padding: 0 0.3em 0 0;
    font-size: 2em;
    cursor: pointer;
}

 
/* ------- * -------- Headings ------- * ------- */

.titulo {
    position: fixed;
    z-index: 90;
    width: 100%;
    left: 0;
    top: 2.3em;
    margin: 0 0 0.5em 7em;
    padding: 0.6em 0 0.5em 0.5em;
    background: #09F;
    font-size: 1.4em;
    font-family: 'Anivers', Calibri, sans-serif;
    line-height: 1em;
    color: #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}


/* ------- * -------- Navegação ------- * ------- */

/* Navegação: Foto / Perfil Associação ------- */
#perfil_assoc {
    font-size: 0.91em;
    position: absolute;
    display: block;
    width: 10em;
    height: 9em;
    text-align:center;
    text-decoration: none;
    background: #333;
    color: #CCC;
}
#perfil_assoc a img {
    margin: 1.2em auto 0.5em auto;
}
#perfil_assoc p {
    font-size: 0.9em;
    line-height: 1.4em;
    margin: 0;
}

#perfil_assoc a {
    color: #999;
    text-decoration: none;
}

#perfil_assoc a:hover {
    color: #FFF;
    cursor: pointer;
}

/* -------- Nav --------- */
 #nav-fix {
    position: absolute;
    top:-1;
    display: block;
    width: 100%;
    height: 1px;
}
nav ul.menu li img {
    display: none !important;
    visibility: hidden;
}
nav {
    font-family:'Anivers', Calibri, sans-serif;
    font-smooth: none;
    -webkit-font-smoothing: subpixel-antialiased !important;
    font-size: 1.1em;
    line-height: 3em;
    background: #eaf2f6;
    width: 100%;
    height: 3em;
    position: fixed;
    top: 0;
    left:0;
    overflow: visible;
    z-index: 100;
}

nav ul.menu {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 6.5em;
    padding: 0;
    position: relative;
    top: 0;
    left: 3em;
    z-index: 101;
    width: auto;
    height: 3.3em;
    text-align: left;
    white-space:nowrap;
}
nav ul.menu li {
    display: inline-block;
    padding: 0;
    margin: 0;
    background: #eaf2f6;
    -webkit-transition: background 150ms ease-in;
    -moz-transition: background  150ms ease-in;
    -o-transition: background  150ms ease-in;
    -ms-transition: background  150ms ease-in;
    transition: background  150ms ease-in;
}

nav ul.menu > li a {
    display: block;
    padding: 0 0.8em 0 0.8em;
    height: 100%;
    text-decoration: none;
    color: #333;
    text-shadow: 1px 1px #FFF;
}
nav ul.menu > li:hover,
nav ul.menu > li:hover a {
    background: #09F;
    color: #FFF;
    text-shadow: 0px 1px rgba(0, 0, 0, .5);
    -webkit-transition: background 150ms ease-out;
    -moz-transition: background  150ms ease-out;
    -o-transition: background  150ms ease-out;
    -ms-transition: background  150ms ease-out;
    transition: background  150ms ease-out;

}

/* Sub Nav */
nav ul.menu > li > ul {
    display: none;
    position: absolute;
    top: 2.9em;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 100;
    width: auto;
    height: auto;
    text-align: left;
    background: #09F;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    border-top: 1px solid #FFF;
}

nav ul.menu > li > ul > li {
    display: block;
    margin: 0;
    padding: 0;
    height: 2em;
    line-height: 2em;
    /* border-bottom: 1px solid #FFF; */
    
}


nav ul.menu > li:hover > ul {
    display: block;
}

nav ul.menu > li:hover > ul > li > a:hover {
    background: #333;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    transition: all 100ms ease-in;
}

select[name="mobile-nav"] {
    display: none;
    visibility: hidden;
}
/* ------ Nav Pesquisa ------- */
 
 


/* ------- * -------- Colunas ------- * ------- */

.coluna {
    vertical-align: top;
    display: inline-block;
	min-width: 21em;
    width: auto;
    margin: 0.2em;
    padding: 0;
    background: #eaf2f6;
    transition: all 200ms ease-in;
}

.coluna.no-margin {
    margin: 0;
    padding: 0em;
}

.coluna.full-width {
    width: 100%;
}


.coluna h3,
.formulario h3,
.titulo-3 {
    font-size: 1.1em;
    line-height: 2em;
    padding: 0 0.5em;
    margin: 0;
    background: #333;
    color: #FFF;
}

.titulo-3.static {
    position: fixed;
	width: 100%;
	z-index: 60;
}

.titulo-3.static+.fix {
	display: block;
	height: 2.2em;
	position: relative;
	width: 100%;
	z-index: 0;
}

/* --------- Configurações ------- */

.lista {
    min-width: 14em;
    margin: 1em 0.5em;
    list-style-type: none;
    list-style: none;
    padding: 0;
    text-align: left;  
}

.lista li {
    position: relative;
    line-height: 2em;
    margin: 0.3em 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #FFF;
}

.lista li a {
    display:block;
    padding: 0 0.5em;
    color:inherit;
    text-decoration: inherit;
}
    
.lista li a:hover {
    position: relative;
    background: #09F;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
}

.lista li a:hover:before {
    content: 'Editar';
    display: block;
    position: absolute;
    right: 0;
    line-height: 2em;
    padding: 0 0.5em;
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* ss */

.lista.quotas-aberto {
    min-width: 14em;
    margin: 1em 0.5em;
    list-style-type: none;
    list-style: none;
    padding: 0;
    text-align: left;  
}

.lista.quotas-aberto li.modalidade {
    background: #FFF;
}

.lista.quotas-aberto li.total{
    background: #953b3b;
    color: #FFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

    
.lista li.total a:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
    

.lista.quotas-aberto li .numero {
    display: inline-block;
    float: right;
}

.lista li a:hover:before {
    content: 'ver detalhes';
}

.inline {
    display: inline-block;
     vertical-align: top;
    display: inline-block;
    width: auto;
}

/* ss */

input[name="Codigo-Postal"] {
	min-width: 8em;
}



input, select
{
    display: block;
    height: 2em;
	line-height: 1.95em;
    border: none;
    margin: 0;
    padding: 0 0.5em;
    color:inherit;
	width: calc(100% - 1em);
    text-decoration: inherit;
	border-bottom: 1px solid #ccc;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-transition: box-shadow 300ms ease-out;
    -moz-transition: box-shadow 300ms ease-out;
    -o-transition: box-shadow 300ms ease-out;
    -ms-transition: box-shadow 300ms ease-out;
    transition: box-shadow 300ms ease-out;
}

select {
	border: 1px solid #6fc4fd;
	width: 95%;
	padding: 0 0 0 0.5em;
	vertical-align: middle;
    height: 2em;
	color: #666;
    font-size: inherit;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin: 0.3em 0;
}

select > option {
    color: #333;
}

select > option[disabled] {
    display: none;
}

.select.curto {
	width: 8.7em;
	display: inline-block;
}

.fieldset .select.curto.ano {
    width: 9.3em;
    margin-bottom: 0.15em;
}

.bot-plus input,
.bot-plus select,
.perfil.edit input,
.perfil.edit select {
	display: inline-block;
}

.perfil.edit input,
.perfil.edit select {
	line-height: 1em;
}


.nome-socio input {
	color: #666;
}

.coluna input[type="date"] {
	display: inline-block;
	line-height: 1.8em;
	font-family: Calibri, sans-serif !important;
}

.coluna h3 select, 
.coluna h3 input {
	background: #FFF;
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #ccc;
	color: #666;
}


.coluna h3+select {
    padding: 0 0 0 0.5em;
    color: #666;
	width: 100%;
}

.multiple.socios.resize {
    resize:both;
    overflow:auto;
    padding: 0 0 1em 0;
    border-bottom: 1px dotted #666;
} 

.multiple.socios {
    min-width: 15em;
    min-height: 10em;
    height: 99.9%;
    width: 99.9%;
}


input:focus {
    outline: none;
    box-shadow:inset 0px 0px 6px 1px rgba(0, 153, 255, 0.9);
    -webkit-transition: box-shadow 200ms ease-in;
    -moz-transition: box-shadow 200ms ease-in;
    -o-transition: box-shadow 200ms ease-in;
    -ms-transition: box-shadow 200ms ease-in;
    transition: box-shadow 200ms ease-in;

}


/* ------- * -------- Dashboard Shortcuts ------- * ------- */

.coluna.home-go {
    text-decoration: none;
    font-family: 'Anivers', Calibri, sans-serif;
    font-size: 1.2em;
    color: #FFF;
    background: #09F;
    padding: 5em 1em 1em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    transition: background 250ms ease-out;
}

.coluna.home-go:hover,
.coluna.home-go:focus {
    background: #333;
    transition: background 200ms ease-in;
}


/* CHANGES @ui.css ------- Formularios --------- */
/* FIXME: Substituir .formulário por .form */
.formulario, .listagem {
    position: relative;
    font-family:'Anivers', Calibri, sans-serif;
    color: #333;
    background: #def;
    padding: 0em;
 }

.formulario label {
    color: #666;
    margin-right: 1em;
}
.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="url"],
.formulario input[type="password"],
.perfil input {
    font-family: inherit;
    border: 1px solid #6fc4fd;
    background: #fff;
    width: 20em;
	max-width: 100%;
    height: 1.8em;
    margin: 0.3em 0;
    padding: 0 0.5em;
    border-radius: 5px;
}

.formulario input.pequeno {
    width: 6em;
    margin: 0.3em 0em;
	display: inline-block;
}
.formulario input.pequeno+.info-box {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 12em;
    height: 2.6em;
    padding: 0.3em;
    font-size: 0.8em;
    text-align:center;
    background: #0099FF;
    color: #FFF;
    border-radius: 5px;
}
.formulario input.pequeno+.info-box:before {
    content:' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: -22px;
    top: 50%;
    margin-top: -7px;
    border-style: solid;
    border-width: 7px 12px 7px 10px;
    border-color: transparent #09F transparent transparent;
}
.formulario input.pequeno + .info-box > span {
    display: block;
    margin: 0;
    padding: 0;
}



.formulario textarea {
    font-family:inherit;
    display: inline-block;
    border: none;
    width: 19.6em;
    height: 5em;
    margin: 0.3em 0;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #6fc4fd;
}
.formulario .line {
    position: relative;
    border: none;
    width: 20em;
    margin: 0;
    border-radius: 5px;
}
.formulario .line > label {
    display: inline-block;
    width: 7.5em;
    text-align: left
}


.formulario .coluna {
    background: none;
}

.formulario .progressbar.vertical {
    background: #fff;
    position: absolute;
    top: -1px;
    right: -2.5em;
    width: 1.5em;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #d7df23;
}
.formulario .progressbar.vertical span {
    background: #d7df23;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
}
.formulario .progressbar.vertical span:before {
    content:'a enviar imagem...';
    font-size: 0.8em;
    color: #333;
    width: 5em;
    height: 3em;
    display: block;
    position: absolute;
    bottom: 50%;
    right: -5.2em;
    z-index: 2;
    margin-bottom: -1.5em;
}
.formulario .progressbar.vertical span[style="height:100%"]:before {
    content:'Envio Concluído.';
}
.formulario input[type="date"] {
    width: 9em;
    height: 1.8em;
    font-family: inherit;
    font-size: inherit;
    color: #666;
    text-align:center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bbb;
    font-family: Calibri, sans-serif;
}
.formulario .bot-plus {
    position: relative;
    width: 21.2em;
}
.formulario .bot-plus > .bot-plus, .formulario > .bot-plus > .bot-minus {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0.25em;
    width: 1.8em;
    height: 1.8em;
    border-radius: 5px;
    cursor: pointer;
}
.formulario .bot-plus > .bot-minus {
    background: #cc5533 url(../img/icons/cross.png) no-repeat center center;
    border: none;
    box-shadow: 0px 0.2em #7d311b;
}
.formulario .bot-plus > .bot-minus:hover {
    background: #ffb100 url(../img/icons/cross.png) no-repeat center center;
    border: none;
    box-shadow: 0px 0.2em #cc7e00;
}
.formulario .bot-plus > .bot-plus {
    background: #09F url(../img/icons/plus.png) no-repeat center center;
    border: none;
    box-shadow: 0px 0.2em #06C;
}
.formulario .bot-plus > .plus-menu {
    display: none;
    opacity: 0.9;
    position: absolute;
    font-size: 0.9em;
    z-index: 90;
    right: -4.1em;
    top: 0.2em;
    background: #FFF;
    width: 6em;
    height: auto;
    border: 1px solid #09F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.formulario .line.bot-plus .bot-plus, .formulario .line.bot-plus .bot-minus {
    right: 0em;
    top: 0em;
}
.formulario .line.bot-plus .plus-menu {
    right: -4em;
    top: 0;
    text-align: center;
}
.formulario .bot-plus .plus-menu span {
    display: block;
    padding: 0.1em 0;
}
.formulario .bot-plus .plus-menu span:hover {
    cursor: pointer;
    background: #09F;
    color: #FFF;
}
.formulario .bot-plus .plus-menu span[onClick="ShowField(this,false);"] {
    background: #cc5533;
    color: #FFF;
}
.formulario .bot-plus .plus-menu span[onClick="ShowField(this,false);"]:hover {
    background: #ffb100;
}
.formulario .bot-plus .bot-plus:hover + .plus-menu, .formulario .bot-plus .bot-plus + .plus-menu:hover {
    display: block;
}


.upload-image {
    position: absolute;
    left: 25em;
    top: 3.6em;
    display: inline-block;
    max-width: 160px;
    max-height: 160px;
    margin: 0 0 0.5em 0;
    padding: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #09F;
    overflow: hidden;
}

.perfil.edit .upload-image {
    top: 5em;
    left: 28em;
}

.perfil.edit select {
    width: 12em;
}


.upload-image img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.upload-image img[alt="procurar"] {
    position:absolute;
    bottom: 0.5em;
    left: 50%;
    margin-left: -20px;
    border: none;
    opacity: 0.9;
}
.upload-image input[name="upload-image"] {
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ------- Login --------- */


#login {
    margin: 0;
    padding: 0.5em 0.5em 0 0.5em;
    background: #EEF;
}


/* ------- Listagens --------- */
 .listagem {
    padding: 0 0 1em 0;
}


.filtrar input[type="button"] {
	box-shadow: none;
	transition: none;
}

.listagem .lista .linha {
    height: 2em;
    line-height: 2em;
    margin: 0.3em 0;
    padding: 0 0.5em 0 0.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFF;
    word-wrap: nowarp;
    overflow: hidden;
    -webkit-transition: background 200ms ease-in;
    -moz-transition: background 200ms ease-in;
    -o-transition: background 200ms ease-in;
    -ms-transition: background 200ms ease-in;
    transition: background 200ms ease-in;
}
.listagem .lista :nth-child(2n+1) .linha {
	/* background: none; */
}

.listagem a {
    color: inherit;
    text-decoration: none;
}

.listagem .lista .linha input[type="checkbox"] {
	box-shadow: none;
}

.listagem .linha .col {
    display: inline-block;
    width: 10em;
    vertical-align: top;
}

.listagem .linha .col.data {
    width: 5.5em;
}

.listagem .linha .col.mini {
    width: 4em;
}

#corpo .listagem .linha .etiqueta {
    width: 5.5em;
    padding: 0;
    height: 1.6em;
    line-height: 1.7em;
    display: inline-block;
    text-align: center;
}

.listagem .linha .col-short {
    display: inline-block;
    width: 5%;
    min-width: 3em;
    max-width: 6em;
    vertical-align: top;
}

.listagem .linha .col-long {
    display: inline-block;
    width: 40%;
    max-width: 32em;
    min-width: 20em;
    vertical-align: top;
}
 
 .listagem .linha.cabecalho {
    background: #09F;
    color: #FFF;
}
 
.listagem .lista .linha:hover {
    background: rgba(0, 153, 255, 0.20);
    -webkit-transition: background 300ms ease-in;
    -moz-transition: background 300ms ease-in;
    -o-transition: background 300ms ease-in;
    -ms-transition: background 300ms ease-in;
    transition: background 300ms ease-in;
}
 
.listagem .linha.cabecalho:hover {
    background: #09F;
}

.listagem .titulo-3.static .escolha {
	display: inline-block;
	position: relative;
	width: 12em;
	height: 1em;
	vertical-align: middle;
	font-family: "Anivers", Calibri, sans-serif;
	font-size: 1em;
	line-height: 1em;
	background: #333;
    color: #FFF;
	box-shadow: none;
	border-bottom: inset 1px solid #666;
	margin: 0 2em 0.1em 2em;
	padding: 0.5em 0 0.05em 0 !important;
}

.listagem .titulo-3.static select.escolha {
	margin: 0;
	padding: 0 !important;
	border: none;
	height: 1.6em;
	line-height: 2em;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-family: Calibri, sans-serif;
	color: #eee;
}

.listagem .titulo-3.static select.escolha option {
	color: #ccc !important;
}

.listagem .titulo-3.static select.escolha.ano {
	width: 4em;
}

.icon.edit {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background: #333 url('../img/icons/edit.png') center no-repeat;
	left: 1em;;
	top: 50%;
	margin: -9px 0 0 0;
	z-index: 909;
}

/* ------ "socios-list" ------*/

#socios-list {
	position: absolute;
	top: 1.85em;
	left: 0;
	list-style: none;
	border: solid 1px #09F;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    margin: 0;
    padding: 0;
    line-height: 1em;
	z-index: 110;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.23);
	overflow: hidden;
}

#socios-list li {
	position: relative;
    display: block;
    padding: 0.5em 1em;
    height: 100%;
    text-decoration: none;
    color: #333;
}

#socios-list li:hover,
#socios-list li.selected {
	background: #09F;
	color: #FFF;
	cursor: pointer;
}


/* ------- Perfis --------- */
 .perfil {
    position: relative;
    padding: 0 0 2em 0;
    border-bottom: 1px solid #09F;
}

.perfil .numeros, .numero {
    font-family:'Calibri', sans-serif !important;
}



.perfil .nome-socio {
    background: #333;
    color: #FFF;
    margin: 0;
    padding: 0.1em 0 0 0.5em;
    line-height: 2em;
}

.perfil .foto {
    position: relative;
    display: inline-block;
    max-width: 140px;
    max-height: 140px;
    margin: 0.5em 0 0.5em 0.5em;
    padding: 0;
    border: 2px solid #09F;
    overflow: hidden;
}

.perfil .foto.upload {
    border: none;
}
.perfil .info-socio, .perfil .info-entidade  {
    display: inline-block;
    width: auto;
    line-height: 1.6em;
    margin: 0 0 0 0.5em;
	vertical-align: middle;
}

.perfil .info-socio.simples,
.perfil .info-entidade.simples {
	padding: 1em 0;
}
.perfil .bloco {
    list-style: none;
    margin: 0 0 0 1em;
    padding: 1em 0 0 0;
}
.perfil .bloco li {
    padding: 0.1em 0 0 0;
}
.perfil.edit .bloco li {
    padding: 0.3em 0 0.1em 0;
}
.perfil .bloco strong {
    display: inline-block;
    width: 4.5em;
}

.perfil .bloco .line2 {
    display: block;
    margin-left: 4.5em;
}

]
.perfil .bloco.longo li {
    padding: 0.3em 0 0.1em 0;
    border-bottom: 1px dotted #999;
}
.perfil .bloco.longo strong {
    display: inline-block;
    width: 9em;
}
.perfil .bloco.longo .nib {
    color: #09F;
}
.perfil .bloco.longo .banco {
    display: inline-block;
    margin-left: 10.3em;
    font-size: 0.9em;
    color: #999;
}

.perfil .observacoes {
    display: inline-block;
    font-size: 0.9em;
    padding: 1em 0 0 1em;
    width: auto;
}

.perfil .info-primaria {
    display: inline-block;
    padding: 0 1em 1em 0;
}

/* --- Perfil Edit ---  */
.perfil.edit input:not(.upload),
.perfil.edit textarea {
	font-family: inherit;
	border: none;
	height: 1.6em;
	margin: 0;
	background: #eaf2f6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: left;
	box-shadow:inset 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.perfil.edit input[name="NumSocio"] {
	width: 4em;
}

.perfil.edit textarea {
    height: 8em;   
    width: 20.5em;
}

.perfil.edit .coluna input {
	background: #FFF;
}

.perfil select.etiqueta {
	width: auto;
    height: 2.1em;
    padding: 0;
	margin: 0.3em inherit;
    font-size: 0.9em;
	border-radius: 2px;
	border: none;
}

.perfil.edit input.numero {
    width: 5em;
	margin: 0.1em 0.25em;
}

.perfil.edit input.numero.cpostal {
    width: 4.5em;
    min-width: 0;
}

.perfil input[type="date"] {
    width: 9em;
}
.perfil .numeros input {
    width: 6em;
    text-align: left;
}
.perfil .numeros.nib input {
    width: 15em;
}

.perfil input:focus, .perfil textarea:focus {
    border: #FFF;
    background: #FFF;
    outline: 2px solid #d7df23;
}

.perfil textarea {
    display: block;
    width: 21em;
    height: 5em;
	text-align: left; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1100px) {
  
  
}
@media only screen and (max-width: 1010px) {


}
@media only screen and (max-width: 950px) {


}
@media only screen and (max-width: 880px) {


}
@media only screen and (max-width: 705px) {
    #sidebar {display: none; }
    #perfil_assoc {display: none;}
    nav ul.menu, #corpo, .titulo {margin-left: 0; left: 0em; }
    nav form {display: none; }

    .titulo {padding-left: 0.8em;}
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
 .ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content:"";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content:" ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
