.pagination
{
	margin-left: 0.5em;
}
.pagination a, .pagination .current, .pagination .disabled
{
	margin-left: 0em;
	padding: 2px 5px;
	background-color: #CDE;
	border: 1px solid #AAA;

text-decoration: none;
background-color: #ffffff;
border: 1px solid #dddddd;
padding: 6px 12px;
}
.pagination a:hover
{
	background-color: #eeeeee;
}
.pagination .current, .pagination .disabled
{
	background-color: #eaf2f6;
	border: 1px solid #7B87B8;
}