span.bottun, span.bottun:hover, span.bottun:active
{
    position: relative;
    font-size: 1.1em;
    z-index: 90;
    background: #FFF;
    width: 6em;
	height: auto;
   
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border: none; box-shadow: 0px 0.2em #06C;
	border: 1px solid #09F;

	cursor: pointer;
	background: #09F;
	color: #FFF;

    text-align: center;
	display: block;
	padding: 0.2em 0 0.1em 0;
	
	#top: -25px;
	#left: auto;
}
span.bottun:hover
{
	background: #49bbff;
	border: 1px solid #49bbff;
}
span.bottun:active
{
	top:1px;
	border: none; box-shadow: 0px 0.15em #06C;
	border: 1px solid #49bbff;
}

div.progressline { 
    font-family: inherit;
	display: inline-block; position: relative;
	border: none;
	width: 20em;
	margin: 0em 2em 1em 2em;
	text-align: center;
	border-radius: 3px;    
}

#progressbar
{
	text-align: center;
	display: inline-block;
	position: relative;
	margin: 0em 2em 0.5em 2em;
	
	width:160px;
	padding:0px;
	background-color:white;
	border:1px solid black;
	height:18px;
	
	background: #eaf2f6;
	border: 1px solid #06C;
	border: 1px solid #09F;
	/*border: none; box-shadow: 0px 0.2em #06C;*/
}
#indicator
{
	width:0px;
	background-color:white;
	color: 65c5ff;
	/*border: none; box-shadow: 0px 0.2em #06C;*/
	height:18px;

	font-size: 12px;
}