/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
 html, button, input, select, textarea {
    color: #222;
}
body {
    font-size: 16px;
    line-height: 1.4;
}
-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

input[type="submit"] {
    border:none;
}


/* ==========================================================================
   Números e Rabiscos Custom Styles "António Pinto www.numeroserabiscos.com"
   ========================================================================== */

/* -------- Tipografia ------- *
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2012 Fontspring
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris Font Foundry
 * License URL: http://www.fontspring.com/fflicense/exljbris
 */
 @font-face {
    font-family:'Anivers';
    src: url('type/Anivers_Regular-webfont.eot');
    src: url('type/Anivers_Regular-webfont.eot?#iefix') format('embedded-opentype'), url('type/Anivers_Regular-webfont.woff') format('woff'), url('type/Anivers_Regular-webfont.ttf') format('truetype'), url('type/Anivers_Regular-webfont.svg#AniversRegular') format('svg');
    font-weight: normal;
    font-style: normal;
 }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family:'Anivers';
        src: url('type/Anivers_Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    }
}

/* ------- * -------- ------- * ------- */
/* NOTE: #A. Globais / TAGS */
/* ------- * -------- ------- * ------- */

/* CHANGES: *** (select) */
select {
    width: 100%;
    color: #333;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;  
}

select[multiple] {
    height: auto;
    max-height: 10em;
    padding: 0.3em;
}

select:focus {
    outline: 2px solid #09F;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* CHANGES: *** (.micro-info) */
.micro-info {
    margin: 0 1em 0.5em 1em;
    padding: 0;
    font-size: 0.75em;
    color: #666;
    cursor: help;
}

/* ------- * -------- ------- * ------- */
/* NOTE: #1. Estrutura > Colunas */
/* ------- * -------- ------- * ------- */

#sheet {
    width: 100%;
    background:
         #FFF; }

.scroll-on {
    overflow: auto;
}

#corpo.blue {
 background: #E6F0FF;  
}

.col {
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding: 0 0.5em;
    width: auto;
    transition: all 200ms ease-in;
}

.col.w-50 {
    width: 45%;
    width: calc(50% - 1.5em);
}

.col > h3 {
    position: relative;
    left: -0.5em;
    font-size: 1.1em;
    line-height: 2.1em;
    padding: 0 0.5em;
    margin: 0 0 0.7em 0;
    background: #333;
    color: #FFF;
    width: 100%;
}

.col.main {
    background: #E6F0FF;
}

.col.long {
    width: 25em;
    max-width: 100%;
}

.multi .col.long {
    width:21em;
}

.col.long.mg-1 {
    width: 96%;
    width: calc(100% - 1em);
}

.titulo-3 > .link {
    display: inline-block;
    position: absolute;
    right: 1em;
    font-family: 'Calibri', sans-serif;
    font-size: 0.9em;
    text-decoration: underline;
}


/* ------- * -------- ------- * ------- */
/* NOTE: #2. Formulários */
/* ------- * -------- ------- * ------- */

.form {
    position: relative;
    display: inline-block;
    width: auto;
    color: #333;
    min-height: 100%;
}

.form .col:not(.main) {
    /* Free For use */
}

/* CHANGES: *** (.fieldset) */
.fieldset {
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0.2em 0.5em 0.5em 0.5em;
    margin: 0.5em 0 0.5em 0;
    -webkit-transition: border 300ms ease-out;
    -moz-transition: border 300ms ease-out;
    -o-transition: border 300ms ease-out;
    -ms-transition: border 300ms ease-out;
    transition: border 300ms ease-out;
}

.maxwidth-long .fieldset {
    max-width: 20em;
}

.fieldset:hover,
.fieldset:focus {
    border-color: #09F;
    -webkit-transition: border 200ms ease-in;
    -moz-transition: border 200ms ease-in;
    -o-transition: border 200ms ease-in;
    -ms-transition: border 200ms ease-in;
    transition: border 200ms ease-in;
}

.fieldset > legend {
    font-family: 'Anivers', Calibri, sans-serif;
    font-size: 0.9em;
    color: #666;
    padding: 0 0.5em;
}

.fieldset:hover > legend,
.fieldset:focus > legend {
    color: #08E;   
}




/* CHANGES: *** (.tags) */
.tags > .tag { display: none; }

.tags > label { 
    display: inline-block;
    font-family: 'Anivers', Calibri, sans-serif;
    color: #FFF;
    background: #666;
    border-radius: 3px;
    padding: 0.3em 0.6em;
    margin: 0 0 0.5em 0;
    cursor: pointer;
    -webkit-transition: background 300ms ease-out;
    -moz-transition: background 300ms ease-out;
    -o-transition: background 300ms ease-out;
    -ms-transition: background 300ms ease-out;
    transition: background 300ms ease-out;
}
.tags > .tag:checked + label { background: #09F; }
.tags > .tag + label:hover { background: #999; }
.tags > .tag:checked + label:hover { background: #22aaff; }

.tags > .tag:checked + label,
.tags > .tag + label:hover,
.tags > .tag:checked + label:hover {
    -webkit-transition: background 100ms ease-in;
    -moz-transition: background 100ms ease-in;
    -o-transition: background 100ms ease-in;
    -ms-transition: background 100ms ease-in;
    transition: background 100ms ease-in;
}

/* FIXME: Compatibilidade */
.tags > input[type="radio"] { display: none; }
.tags > label { 
    display: inline-block;
    font-family: 'Anivers', Calibri, sans-serif;
    color: #FFF;
    background: #666;
    border-radius: 3px;
    padding: 0.3em 0.6em;
    cursor: pointer;
}
.tags > input[type="radio"]:checked + label { background: #09F; }
.tags > input[type="radio"] + label:hover { background: #999; }
.tags > input[type="radio"]:checked + label:hover { background: #22aaff; }


/* CHANGES: *** Inputs / Labels / Lines */
.input {
	display: inline-block;
	position: relative;
	width: 12em;
	height: 1em;
	vertical-align: middle;
	font-family: "Anivers", Calibri, sans-serif;
	font-size: 1em;
	line-height: 1em;
    color: #333;
	box-shadow: none;
    border: 1px solid #ddd;
	border-bottom: 1px solid #666;
	margin: 0.2em 0 0.5em 0;
	padding: 0.8em 0.5em 0.5em 0.5em;
}

textarea.input {
    height: auto;
    min-height: 3em;
}

.input.long,
.long-inputs .input {
    min-width: 20em;
}

.input.full {
    width: 100%;
    width: calc(100% - 1em);
    max-width: none;
    min-width: none;
}

.fieldset .input:last-child {
    margin-bottom: 0;   
}

.input.pencil,
.pencil .input {
	padding: 0.6em 0.5em 0.3em 1.6em;
    background: url('../img/icons/edit-grey.png') 0.1em center no-repeat;   
}

.input:hover,
.select:hover {
    outline: 1px solid #09F;
    border-color: transparent;
}

.input[readonly="readonly"],
.select["readonly"]:hover

.col.main .input {
    background: #FFF;
}

.input:focus {
    outline: none;
    box-shadow:none;
    outline: 2px solid #09F;
}

.input.small {
    max-width: 3em;  
}

.edicao>.input,
.input.block {
    display: block;
    width: calc(100% - 1em - 2px);
}

.input+.req-invalid {
    display: block;
    position: absolute;
}

.label {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 9em;
}

.line {
    position: relative;
    font-family: 'Anivers', Calibri, sans-serif;
    color: #444;
    border:none;
    width: 100%;
    margin: 0 0 0.2em;
}

.input.fluid,
.fieldset.fluid .input {
    width: 90%;
    width: calc(100% - 1em);
    min-width: 0;
}

.input.fluid.pencil,
.fluid.pencil .input,
.fieldset.fluid .input.pencil {
    width: 90%;
    width: calc(100% - 2.1em);
    min-width: 0;
}

.input[type="date"],
.line .input[type="date"] {
    width: 9.5em;
}

.input-label {
    color: #09F;
    font-size: 0.8em;
    position: absolute;
    padding: 0em 0.5em 0em 0.5em;
    margin-top: -0.3em;
    background:#FFF;
    z-index: 2;
    margin-left: 0.5em;
}


.fieldset>.botoes {
    margin: 0;
    padding: 0;
}
.morada-box {
    display: block;
    position: relative;
}

.morada-box>.info-box {
    display: block;
    position: absolute;
    top: 1.75em;
    right: 0.5em;
    width: 12em;
    height: 2.6em;
    padding: 0.3em;
    font-size: 0.8em;
    text-align:center;
    background: #0099FF;
    color: #FFF;
    border-radius: 2px;
}
.morada-box>.info-box:before {
    content:' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: -21px;
    top: 50%;
    margin-top: -9px;
    border-style: solid;
    border-width: 8px 11px 8px 10px;
    border-color: transparent #09F transparent transparent;
}

.morada-box>.info-box>span {
    display: block;
    margin: 0;
    padding: 0;
}

/* CHANGES: *** One Line Inputs */
.input.style-line {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	font-size: 1em;
	line-height: 1em;
	background: #FFF;
    color: #666;
	box-shadow: none;
	border-bottom:1px solid #666;
	border-left: none;
	border-right: none;
    margin: 0 0 0.5em 0;
    padding: 0.4em 0.5em 0em 0.5em;
}

.input.style-line:focus {
    outline: none;
    color: #333;
	border-color:#d7df23;
}

.input.style-line~input[type="button"] {
    position: absolute;
    display:block;
    top: 0;
    right: -1em;
    height: 1.55em;
    width: 2em;
    padding: 0 0 0 0;
    background: url(../img/icons/lupa.png) center no-repeat;
    border: none;
    color: transparent;
}
.input.style-line:hover~input[type="button"],
.input.style-line:focus~input[type="button"],
.input.style-line~input[type="button"]:hover {
    background: #d7df23;
    top: 0px;
    background: url(../img/icons/lupa-active.png) center center;
}

.titulo .filtrar {
	display: inline-block;
	position: relative;
	margin: -0.7em 0 -0.5em 0;
	vertical-align: middle;
    padding: 0;
    font-size: 0.75em;
}

.titulo .filtrar .input.style-line {
        margin: 0;
}

/* CHANGES: *** Selects */
.select {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    border-left: 2px solid #666;
    margin: 0 0 0.3em 0;
    height: 2em;
}

.select:hover:focus {
    outline-width: 2px;
}

.select:last-child {
    margin: 0;   
}

/* CHANGES: *** Botões */

 .botoes {
    display: block;
    margin: 1em 2em;
    text-align: left;
    padding: 0;
}

.coluna .botoes {
	text-align: center;
	vertical-align: bottom;
}

.botao {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0.25em 1em 0 1em;
    text-align: center;
    margin: 0.5em 0.2em;
    border-bottom: 1px solid transparent;
    vertical-align: middle;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

form > .botao {
    vertical-align: top;
    margin: 0em 0.2em;
}

.botao:hover {
    cursor: pointer;
}

.botao:hover:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    content:'';
}
.botao:active {
    -webkit-box-shadow: none;
    box-shadow: none !important;
    border-bottom: 1px solid #999;
    top: 1px;
}

.botao.editar {
    font-size: 0.7em;
    background: #eee;
    color: #888;
    line-height: 1.2em;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 0px #999;
}

.col .editar {
	font-size: 0.9em;
	color: #666;
	margin: 0;
    margin-top: -0.05em;
}


.botao.guardar {
    background: #d9e211;
    color: #333;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
    line-height: 1.8em;
    box-shadow: 0px 2px 0px #7d803c;
}

.botao.cancelar {
    font-size: 0.9em;
    padding: 0 0.7em;
    background: #ddd;
    color: #333;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
    line-height: 1.8em;
    box-shadow: 0px 2px 0px #aaa;
}

.botao.novo {
    font-size: 1em;
    padding: 0.2em 1em;
    background: #09F;
    color: #FFF;
    text-shadow: none;
    line-height: 1.4em;
    box-shadow: 0px 2px 0px #07b;
}

.botao.navegar {
    font-size: 1.2em;
    font-family: 'Anivers', Calibri, sans-serif;
    background: #09F;
    color: #FFF;
    text-shadow: none;
    line-height: 1.4em;
    box-shadow: 0px 2px 0px #07b;
}

.botao.delete {
    font-size: 0.8em;
    padding: 0 0.7em;
    background: #d14545;
    color: #fff;
    line-height: 1.8em;
    box-shadow: 0px 2px 0px #9d0909;
}

.listagem .botao.delete {
     font-size: 0.85em;   
}

.botao.limpar {
    background: #ddd;
    color: #444;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 2px 0px #999;
    right: 0.5em;
}

/* CHANGES: *** Image Uploader */

.img-uploader {
    position: relative;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
}

.img-uploader:hover {
    outline: 2px solid #09F;
}

.img-uploader>.img-preview {
    position: relative;
    z-index: 2;
}

.img-uploader>.upload {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 4;
    opacity: 0;
}

.img-uploader>.folder {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 10px;
    left: 50%;
    margin-left: -15px;
    z-index: 3;
}


.info {
    font-size: 0.8em;
    font-family: 'Calibri', sans-serif;
    color: #999;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
    position: relative;
    cursor: help;
}

.info.block {
    display: block;
    padding: 0.4em 2em 0.4em 0.5em;
    width: 90%;
    margin: 0 auto 0 auto;
    width: calc(100% - 2.5em);
}

.info.block:before {
    content:'?';
    display: block;
    position: absolute;
    right: 0em;
    text-align: right;
    background: #d7df23;
    color: #FFF;
    font-family: Calibri, sans-serif;
    padding: 0 0.5em;
    -webkit-border-radius: 2ox;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.info.link {
    border: none;
    display: block;
    color: blue;
}

.info.link:hover {
    cursor: pointer;
}

/* ------- * -------- ------- * ------- */
/* NOTE: #3. Header */
/* ------- * -------- ------- * ------- */

.perfil-img {
    max-width: 8em;
    height: auto;
}

/* ------- * -------- ------- * ------- */
/* NOTE: #4. Tabelas */
/* ------- * -------- ------- * ------- */

.relatorio .tabela {
	font-family: Calibri, Sans-Serif;
	font-size: 1em;
	background: #fff;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    vertical-align: top;
}
.relatorio.listagem .tabela th {
	font-size: 1em;
    font-family: 'Anivers', Calibri, sans-serif;
	font-weight: normal;
	color: #FFF;
    background: #333;
	padding: 0.3em 0.5em;
    line-height: 2em;
}
    
.relatorio.listagem .tabela td {
	color: #333;
	padding: 0.4em 0.6em;
    background: #FFF;
}

.relatorio.listagem .tabela tbody tr:nth-child(even) td {
    background: #EEE;
}

.relatorio.listagem .tabela tbody tr:hover td {
	background: #09F;
    color: #FFF;
}

@media print {
    .relatorio.listagem > .tabela tbody tr,
    .relatorio.listagem > .tabela th {
        border-bottom: 1px solid #666;
    }    
    
    .relatorio.listagem > .tabela td,
    .relatorio.listagem > .tabela th {
        border-right: 1px solid #ccc;

    }
}

/* ------- * -------- ------- * ------- */
/* NOTE: #5. Relatórios */
/* ------- * -------- ------- * ------- */

.relatorio {
    background: #FFF;
}

.relatorio > .corpo {
    padding: 0.8em 0.6em   
}

.relatorio .info {
    font-size: 1em;
    font-family: 'Calibri', sans-serif;
    color: #666;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}

.relatorio .info .label {
    width: 12em;
    color: #333;
}


/* ------- * -------- ------- * ------- */
/* NOTE: #6. Smart Search */
/* ------- * -------- ------- * ------- */

#smartsearch {
    display: block;
    position: absolute;
    top: 0;
    right: 0em;
    min-width: 6em;
    padding: 0 2em 0 0;
    text-align: right;
    z-index: 201;    
}

#smartsearch .searchfield {
    position: relative;
    width: 6em;
    background: #FFF;
    height: 25px;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    font-family: Calibri, sans-serif;
    font-size: 0.8em;
    line-height: 25px;
    -webkit-transition: width 600ms ease-out;
    transition: width 600ms ease-out;
}

#smartsearch .searchfield:focus,
#smartsearch .searchfield:active {
    width: 20em;
    outline: solid 2px #d7df23;
    color: #333;
    -webkit-transition: width 400ms ease-in;
    transition: width 400ms ease-in;
}

#smartsearch .submitsearch {
    position: absolute;
    display:block;
    top: 50%;
    right: 2em;
    margin-top: -16px;
    height: 32px;
    width: 36px;
    z-index: 205;
    box-shadow: none;
    background: url(../img/icons/lupa.png) 50% 9px no-repeat;
    border: none;
    color: transparent;
     -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

#smartsearch .submitsearch:hover,
#smartsearch .submitsearch:focus,
#smartsearch .searchfield:focus+.submitsearch
{
    background: #d7df23;
    box-shadow: inset 0px -3px #a9b307;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: url(../img/icons/lupa-active.png) #d7df23 no-repeat;
     -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}


#smartsearch #searchresult {
    display: none;
    position: absolute;
    z-index: 206;
    right: 2em;
    top: 2.5em;
    min-width: 19em;
    width: 100%;
    height: 0;
    border: solid 1px #d7df23;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    margin: 0;
    padding: 0;
    line-height: 1em;
    overflow: hidden;
    text-align: right;
}
/* 
#smartsearch .searchfield:focus  #searchresult, */
#smartsearch #searchresult,
#smartsearch:hover #searchresult {
    display: block;
    height: auto;
}
#smartsearch #searchresult .categoria a:hover {
    color: #FFF;
    background-color:rgba(51, 153, 255, 1);
    border-radius: 0px;
}
#smartsearch #searchresult .categoria {
    display: block;
    position: relative;
    right: 0;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 0;

}
#smartsearch #searchresult .categoria > li {
    font-size: 0.95em;
}
#smartsearch #searchresult .categoria > li > a {
    position: relative;
    text-align: right;
    display: block;
    padding: 0.5em 0 0 0.5em;
    margin: 0 0 0.5em 0;
    height: 100%;
    text-decoration: none;
    color: #09F;
    border-bottom: 1px solid #09F;
}
#smartsearch #searchresult .categoria > li a span {
    display: inline-block;
    height: 100%;
    width: 5em;
    text-align: right;
    font-size: 0.85em;
    padding: 0 0.8em 0 0.5em;
    text-overflow: ellipsis;
}

#smartsearch #searchresult .categoria > li a:hover span {
    color: #FFF;
}

#smartsearch #searchresult .item {
    width: 100%;
    display: block;
    padding: 0;
}

#smartsearch #searchresult .item > li {
    color: #333;
    width: 100%;
}
#smartsearch #searchresult .item > li > a {
    position: relative;
    display: block;
    padding: 0.3em 0 0.3em 0.5em;
    height: 100%;
    text-decoration: none;
    color: #333;
}
#smartsearch #searchresult .item > li > a span {
    color: #999;
}


/* ------- * -------- ------- * ------- */
/* NOTE: #LAST. Fixes & Overwrittes */
/* ------- * -------- ------- * ------- */
.auto {
    width: auto;
    min-width: none;
    max-width: none;
}





/* ------- * -------- ------- * ------- *

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1100px) {
  
  
}
@media only screen and (max-width: 1010px) {


}
@media only screen and (max-width: 950px) {


}
@media only screen and (max-width: 880px) {


}

@media only screen and (max-width: 705px) {

    
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    
    
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
 .ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content:"";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before, .clearfix:after {
    content:" ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
 @media print {

    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content:" (" attr(href)")";
    }
    abbr[title]:after {
        content:" (" attr(title)")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content:"";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
    
    /* Custom Syles for Print */
    
    #sidebar {display: none; }
    #perfil_assoc {display: none;}
    nav {display: none; }
    nav ul.menu, #corpo, .titulo {margin-left: 0; left: 0em; }
    .titulo {padding-left: 0.8em;}
}