	<div id="corpo">
		<section class="listagem">
			<h2 class="titulo">{$titulo}
				<form class="filtrar" name="filtro" id="filtro" action="#" method="post" autocomplete="off">
					<input name="pesquisa" 	class="input style-line" type="text" placeholder="filtrar..." onkeyup="SearchListagem('filtro','pesquisa','entidades-listagem');">
				    <input name="Go" type="button" class="submitsearch" value="ok" onClick="SearchListagem('filtro','pesquisa','entidades-listagem');">
				</form>
			</h2>
			<p class="ajuda">{$ajuda}</p>
			<span data-id="corpo">
					<div class="lista" data-cod="entidades-listagem">
						<div class="linha cabecalho">
							<span class="col-short"><input type="checkbox" name="checkActionAll" onChange="checkALL(this,'entidades-listagem');"></span>
							<span class="col-long"><a href="{$PATH_SELF_URL}?fld=nome&ordby={$orderby-nome}">Nome</a></span>
							<span class="col"><a href="{$PATH_SELF_URL}?fld=abrev&ordby={$orderby-abrev}">Abreviatura</a></span>
							<span class="col center"><a href="{$PATH_SELF_URL}?fld=tipo&ordby={$orderby-tipo}">Tipo</a></span>
						</div>
						{loop id=linhas}
							<a href="perfil.php?id={field:id_entidade}">
								<div class="linha">
									<span class="col-short"><input type="checkbox" name="checkAction" data-id="{field:id_entidade}" ></span>
									<span class="col-long" >{field:nome}</span>
									<span class="col">{field:abreviatura}</span>
									<span class="col right"><span class="etiqueta verde">{field:tipo}</span></span>
								</div>
							</a>
						{/loop}

						<span class="multi">
							Com os selecionados:
							<br/>
							<span class="botao delete" onClick="unsetRecord('entidades-listagem');">apagar</span>
						</span>
					</div>
				</span>
		</section>
	</div>
	<script>
		document.body.onkeydown = function(event){ KeysUpDownListagem(event,"entidades-listagem"); }
	</script>