<div id="corpo">
	<h2 class="titulo">{$titulo}</h2>
	<p class="ajuda">{$ajuda}</p>
	<form class="formulario" action="#" method="POST" name="nova-entidade">
		<div class="tags">
			<input type="radio" name="tipo-entidade" id="tipo-entidade-1" value="1" checked="checked" required >
			<label for="tipo-entidade-1">Patrocínio</label>

			<input type="radio" name="tipo-entidade" id="tipo-entidade-2" value="2" required >
			<label for="tipo-entidade-2">Fornecedor</label>

			<input type="radio" name="tipo-entidade" id="tipo-entidade-3" value="3" required >
			<label for="tipo-entidade-3">Parceiro</label>
		</div>

		<div class="bot-plus">
			<input name="Nome" placeholder="Nome" type="text" maxlength="80" required >
			<span class="bot-plus"></span>
			<div class="plus-menu">
				<span data-id="Abreviatura" onClick="ShowField(this,true);">Abreviatura</span>
				<span data-id="NIB" 		onClick="ShowField(this,true);">NIB</span>
				<span data-id="Site" 		onClick="ShowField(this,true);">Site</span>
				<span data-id="Observacoes" onClick="ShowField(this,true);">Observações</span>
			</div>
		</div>
		<div data-id="Abreviatura" class="bot-plus hidden">
			<input name="Abreviatura" placeholder="Abreviatura" type="text" maxlength="30">
			<span  class="bot-minus"></span>
		</div>
		<div data-id="NIB" class="bot-plus hidden">
			<input name="NIB" placeholder="NIB" type="text" maxlength="21">
			<span  class="bot-minus"></span>
		</div>
		<div data-id="Site" class="bot-plus hidden">
			<input name="Site" placeholder="Site" type="text" maxlength="80">
			<span  class="bot-minus"></span>
		</div>

		<div class="bot-plus"><input name="Telefone" placeholder="Telefone" type="text" maxlength="15">
		<span class="bot-plus"></span>
			<div class="plus-menu">
				<span data-id="Telemovel" 	onClick="ShowField(this,true);">Telemóvel</span>
				<span data-id="Fax"	 		onClick="ShowField(this,true);">Fax</span>
				<span data-id="Outro1" 		onClick="ShowField(this,true);">Outro 1</span>
				<span data-id="Outro2" 		onClick="ShowField(this,true);">Outro 2</span>
			</div>
		</div>
		<div data-id="Telemovel" class="bot-plus hidden">
			<input name="Telemovel" placeholder="Telemóvel" type="text" maxlength="15">
			<span  class="bot-minus"></span>
		</div>
		<div data-id="Fax" class="bot-plus hidden">
			<input name="Fax" placeholder="Fax" type="text" maxlength="15">
			<span  class="bot-minus"></span>
		</div>
		<div data-id="Outro1" class="bot-plus hidden">
			<input name="Outro1" placeholder="Outro 1" type="text" maxlength="60">
			<span  class="bot-minus"></span>
		</div>
		<div data-id="Outro2" class="bot-plus hidden">
			<input name="Outro2" placeholder="Outro 2" type="text" maxlength="60">
			<span  class="bot-minus"></span>
		</div>
		
		<input name="NIF" placeholder="NIF" type="text" maxlength="9" required >
		<input name="Email" placeholder="E-mail" type="text" maxlength="80">
		<div class="line">
			<input class="pequeno" name="Codigo-Postal" placeholder="Código Postal" type="text" maxlength="8" onkeyup="CTTINFO();" required>
			<div class="info-box">Introduza um código postal<span>(ex: 3000-123)</span></div>
		</div>
		<input name="Morada" placeholder="Morada" type="text" maxlength="550">
		
		<div data-id="Observacoes" class="bot-plus hidden">
			<textarea name="Observacoes" placeholder="Observações/Notas"></textarea>
			<span class="bot-minus"></span>
		</div>
		
		<div class="line botoes">
			<a href="#" data-name="clear" 	class="botao limpar"  onClick="CleanFormElements('nova-entidade');">Limpar</a>
			<a href="#" data-name="guardar" class="botao guardar" onClick="ValidateForm('nova-entidade');">Guardar</a>
		</div>
	</form>
</div>
<script type='text/javascript'>
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'nova-entidade'); }
</script>