<div id="corpo">
	<section class="perfil">
		<h1 class="titulo">{$titulo}</h1>
		<p class="ajuda">{$ajuda}</p>
		<span data-id="corpo">
			<h2 class="nome-socio">
				{field:nome}
				<a href="{$edit-link}" class="botao editar">editar</a>
			</h2>
			<div class="coluna no-margin full-width">
				<div class="info-socio simples">
					<span class="etiqueta azul">{field:tipo}</span>
					{$reg-update}
				</div>
			</div>

			<ul class="bloco">
				<li>
					<strong>Telefone:</strong>
					<span class="numeros">{field:telefone}</span>
					<a href="#contactos" onclick="ChangeAttByTagData(this,'span','data-action','href','class','hidden', 'mais contactos','menos contactos');">mais contactos</a>
				</li>
				<span data-action="#contactos" class="hidden">
					<li><strong>Tlm.:</strong><span class="numeros">{field:telemovel}</span></li>
					<li><strong>Fax:</strong><span class="numeros">{field:fax}</span></li>
					<li><strong>Outro 1:</strong><span class="numeros">{field:outro1}</span></li>
					<li><strong>Outro 2:</strong><span class="numeros">{field:outro2}</span></li>
				</span>
				<li><strong>Email:</strong><a href="mailto:{field:email}">{field:email}</a></li>
				<li><strong>Morada:</strong>{field:morada}
					<span class="line2">{field:codigo_postal} {field:concelho_desig}, {field:distrito_desig}</span></li>
				<li><strong>Site:</strong><a href="{field:url}">{field:url}</a></li>
			</ul>
			<ul class="bloco longo">
				<li><strong>IBAN/NIB</strong>
					<span class="numeros">PT50 {field:nib}</span>
					<br/>
					<span class="banco">{field:banco_nome}</span>
				</li>
				<li><strong>Contribuinte (NIF):</strong> <span class="numeros">{field:nif}</span></li>
			</ul>
			
			<span class="observacoes"><strong>Observações: </strong>{field:observacoes}</span>
		</span>
	</section>
</div>