<div id="corpo">
	<section class="perfil edit">
		<h1 class="titulo">{$titulo}</h1>
		<p class="ajuda">{$ajuda}</p>
		<span data-id="corpo">
			<!-- Editar -->
			<form name="entidade-perfil-edit" action="{$FormAction}" method="POST"> 
				<h2 class="nome-socio">
					<input name="Nome" value="{field:nome}" type="text" maxlength="80" required>
				</h2>
				<div class="coluna no-margin full-width">
					<div class="info-socio simples">
						<select class="etiqueta azul" name="Tipo-Entidade" placeholder="Tipo-Entidade">
						<option value="Tipo" disabled selected>Tipo de Entidade</option>
						{field:tipo}
					</select>
					<br/>
						{$reg-update}
					</div>
				</div>
				<ul class="bloco">
					<li>
						<strong>Abreviatura:</strong>
						<input name="Abreviatura" value="{field:abreviatura}" type="text" maxlength="30" placeholder="Abreviatura">
					</li>
					<li>
						<strong>Telefone:</strong>
						<span class="numeros">
							<input name="Telefone" value="{field:telefone}" type="text" maxlength="11" placeholder="Telefone">
						</span>
						<a href="#contactos" class="" onclick="ChangeAttByTagData(this,'span','data-action','href','class','hidden', 'mais contactos','menos contactos');">mais contactos</a>
					</li>
					<span data-action="#contactos" class="hidden">
						<li>
							<strong>Tlm.:</strong>
							<span class="numeros">
								<input name="Telemovel" value="{field:telemovel}" type="text" maxlength="11" placeholder="Telemóvel">
							</span>
						</li>
						<li>
							<strong>Fax:</strong>
							<span class="numeros">
								<input name="Fax" value="{field:fax}" type="text" maxlength="11" placeholder="Fax">
							</span>
						</li>
						<li>
							<strong>Outro 1:</strong>
							<span class="numeros">
								<input name="Outro1" value="{field:outro1}" type="text" maxlength="60" placeholder="Outro1">
							</span>
						</li>
						<li>
							<strong>Outro 2:</strong>
							<span class="numeros">
								<input name="Outro2" value="{field:outro2}" type="text" maxlength="60"placeholder="Outro 2">
							</span>
						</li>
					</span>
					<li>
						<strong>Email:</strong>
						<input name="Email" value="{field:email}" type="email" maxlength="80" placeholder="nome@exemplo.com">
					</li>
					<li>
						<strong>Morada:</strong>
						<input name="Morada" type="text" value="{field:morada}" maxlength="550" size="35" >
						<span class="line2">
							<input class="numero" name="Codigo-Postal" type="text" value="{field:codigo_postal}" maxlength="8" size="10" onkeyup="CTTINFO();" required>
							<span class="info-box">{field:concelho_desig}, <span>{field:distrito_desig}</span></span>
						</span>
					</li>
				</ul>
					
				<ul class="bloco">
					<li>
						<strong>Site:</strong>
						<input name="Site" value="{field:url}" type="text" maxlength="100" placeholder="Site">
					</li>
				</ul>
				<ul class="bloco longo">
					<li>
						<strong>IBAN / NIB:</strong>
						<span class="numeros nib">
							PT50
							<input name="NIB" value="{field:nib}" type="text" maxlength="30">
							<span class="banco">{field:banco_nome}</span>
						</span>
					</li>
					<li>
						<strong>Contribuinte (NIF):</strong>
						<span class="numeros">
							<input name="NIF" value="{field:nif}" type="text" maxlength="9" placeholder="Contribuinte (NIF)">
						</span>
					</li>
				</ul>
				<span class="observacoes">
					<strong>Observações:</strong>
					<textarea name="Observacoes" placeholder="Observações/Notas">{field:observacoes}</textarea>
				</span>
				<div class="line botoes">
					<a href="{$LINK_ANULAR}">
						<span data-name="anular" class="botao limpar">Anular</span>
					</a>
					<span data-name="guardar" class="botao guardar" onClick="ValidateForm('entidade-perfil-edit');">Guardar</span>
				</div>
			</form>
		</span>
	</section>
</div>
<script type='text/javascript'>
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'entidade-perfil-edit'); }
</script>