<div id="corpo" data-id="novo-entidade">
	<section class="perfil edit">
		<header class="content-header">
			<div class="controlers">
				<h2 class="titulo">{$titulo}</h2>
			</div>
			<!-- ACTION BOTOES -->
			<div class="botoes">
				<button data-name="guardar" class="botao guardar" onClick="ValidateForm('novo-entidade');">Guardar</button>
				<button data-name="anular" class="botao anular" onClick="ResetFormValues('novo-socio');">Anular</button>
			</div>
		</header>
		<span class="info block">Após o registo pode adicionar e alterar estas informações.</span>
		<!-- Editar -->
		<span data-id="corpo">
			<form class="form" name="novo-entidade" action="{$FORMAction}" method="POST">
				<div class="col long middle">
					<fieldset class="fieldset fluid">
						<legend>Tipo de Entidade</legend>
						<div class="tags">
							<input type="radio" class="tag" name="Tipo-Entidade" id="tipo-entidade-1" value="1" checked="checked" required >
							<label for="tipo-entidade-1">Patrocínio</label>
				
							<input type="radio" class="tag" name="Tipo-Entidade" id="tipo-entidade-2" value="2" required >
							<label for="tipo-entidade-2">Fornecedor</label>
				
							<input type="radio" class="tag" name="Tipo-Entidade" id="tipo-entidade-3" value="3" required >
							<label for="tipo-entidade-3">Parceiro</label>
						</div>
					</fieldset>
					<fieldset class="fieldset fluid">
						<legend>Dados Gerais</legend>
						<div class="bot-plus">
							<input class="input" name="Nome" placeholder="Nome" type="text" maxlength="80" required >
							<input class="input" name="Abreviatura" placeholder="Abreviatura" type="text" maxlength="30">
							<input class="input numero" name="NIF" placeholder="NIF" type="text" maxlength="9" required >
						</div>
					</fieldset>

					<fieldset class="fieldset morada-box">
						<legend>Localização</legend>
						<input class="input codigo-postal" name="Codigo-Postal" placeholder="Código Postal" type="text" maxlength="8" onkeyup="CTTINFO(event);" data-magicinput="false" required>
						<div class="info-box">Introduza um código postal (ex: 3000-123)</div>
						<input class="input block" name="Morada" placeholder="Morada" type="text" maxlength="550" data-magicinput="false" required>
					</fieldset>
					
					<fieldset class="fieldset fluid">
						<legend>Contactos</legend>
						<input class="input" name="Email" placeholder="E-mail" type="text" maxlength="80">
					</fieldset>
					
					<fieldset class="fieldset fluid">
						<legend>Observações</legend>
						<textarea class="input" name="Observacoes" placeholder="Observações/Notas" data-magicinput="false"></textarea>
					</fieldset>
				</div>
			</form>
		</span>
	</section>
</div>
{$MsgScript}
<!--
<script>
	//document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'nova-entidade'); }
</script>
-->