	<div id="corpo" data-id="form-entidade">
		<section class="perfil edit">
			<header class="content-header">
				<div class="controlers">
					<h2 class="titulo">{$titulo}</h2>
				</div>
				<!-- ACTION BOTOES -->
				<div class="botoes tabs" data-id="tabs">
					<a data-name="tab-perfil" class="botao tab active" onClick="ObjTabs.activeTabArea(this);">Perfil
						<div class="botoes-tab">
							<button data-name="editar" class="botao ico fi-page-edit" title="Editar" onClick="EnableForm('entidade-perfil-edit');"></button>
							<button data-name="guardar" class="botao ico fi-check" title="Guardar"  onClick="ValidateForm('entidade-perfil-edit');"></button>
							<button data-name="anular" class="botao ico fi-arrow-left" title="Anular"  onClick="ResetFormValues('entidade-perfil-edit');"></button>
							<button data-name="apagar" class="botao ico fi-trash" title="Apagar"  onClick="RemoveRecord('entidade-perfil-edit');"></button>
						</div>
					</a>
					<!-- <a data-name="tab-notas" class="botao tab" onClick="ObjTabs.activeTabArea(this);">Notas</a> -->
				</div>
			</header>
			
			<span data-name="tab-perfil">
				<span class="info block">{$reg-update}</span>
				<span data-id="corpo" data-form="form-entidade" class="act-editar">
					<!-- Editar -->
					<form class="form perfil-ver entidade" name="entidade-perfil-edit" action="{$FormAction}" method="POST">
						<div class="col">
							<!-- Informações Primárias -->
							<div class="info-entidade">
								<!-- Imagem / Logotipo ??
								<div class="img-uploader disabled" data-id="divUploadImage">
									<img class="img-preview" width="100px" height="100px" src="{$foto-url}" id="imgUserTumb">
									<input class="upload" name="upload-image" type="file">
									<img class="folder" src="{$imgsPath}pasta-blue.png" alt="procurar">
								</div>
								-->
								<h2 class="nome-socio">
									<input class="input" name="Nome" value="{field:nome}" type="text" placeholder="Nome" required/>
								</h2>
								<div class="socio-details">
									<br>
									<select class="select label grey-blue" name="Tipo-Entidade" placeholder="Tipo-Entidade">
										<option value="Tipo" disabled selected>Tipo de Entidade</option>
										{field:tipo}
									</select>
								</div>
							</div>
		
							<!-- Outra Informação -->
							<fieldset class="fieldset">
								<legend>Informações</legend>
								<ul class="no-list">
									<li>
										<label>Site: </label> 
										<input class="input long link" name="Site" value="{field:url}" maxlength="100"  placeholder="Site">
									</li>
									<li>
										<label>Abrev.: </label> 
										<input class="input" name="Abreviatura" value="{field:abreviatura}" maxlength="80"  placeholder="Abreviatura">
									</li>
								</ul>
							</fieldset>
							<!-- Contactos -->
							<fieldset class="fieldset">
								<legend>Contactos</legend>
								<ul class="no-list">
									<li>
										<label>Telefone:</label>
										<input class="input small" name="Telefone" type="text" value="{field:telefone}" maxlength="16" placeholder="Telefone">
										<a class="botao toggle" href="#contactos" onclick="ShowMoreFields(this,'DIV','data-action', '+ contactos','- contactos');">+ contactos</a>
									</li>
									<!-- + Contactos -->
									<div data-action="#contactos" class="hidden">
										<li>
											<label>Telemovel:</label>
											<input class="input small" name="Telemovel" type="text" value="{field:telemovel}" placeholder="Telemovel">
										</li>
										<li>
											<label>Fax:</label>
											<span class="numeros">
												<input class="input small" name="Fax" type="text" value="{field:fax}" placeholder="Fax">
											</span>
										</li>
										<li>
											<label>Outro 1:</label>
											<span class="numeros">
												<input class="input" name="Outro1" type="text" value="{field:outro1}" maxlength="60" placeholder="Outro 1">
											</span>
										</li>
										<li>
											<label>Outro 2:</label>
											<span class="numeros">
												<input class="input" name="Outro2" type="text" value="{field:outro2}" maxlength="60" placeholder="Outro 2">
											</span>
										</li>
									</div>
									<!-- // + Contactos -->
									<li>
										<label>Email:</label>
										<input class="input long" name="Email" type="email" value="{field:email}" maxlength="80" size="32" placeholder="Email">
									</li>
									<li>
										<div class="morada-box">
											<label>Morada:</label>
											<input class="input long" name="Morada" type="text" value="{field:morada}" maxlength="550" size="32" placeholder="Morada">
											<div class="line2">
												<input class="input mini" name="Codigo-Postal" type="text" value="{field:codigo_postal}" maxlength="8" size="10" onkeyup="CTTINFO(event);" required placeholder="Código Postal">
												<span class="info-box">{field:concelho_desig}, <span>{field:distrito_desig}</span></span>
											</div>
										</div>
									</li>
								</ul>
							</fieldset>
			
							<fieldset class="fieldset">
								<legend>Detalhes</legend>
								<ul class="no-list long-labels">
									<li>
										<label>Contribuinte (NIF):</label>
										<input class="input small" name="NIF" type="text" value="{field:nif}" maxlength="11" placeholder="N.I.F">
									</li>
									<li>
										<label>Conta Bancária (NIB):</label>
										<input class="input fluid" name="NIB" type="text" value="{field:nib}" maxlength="21" placeholder="N.I.B">
									</li>
								</ul>
							</fieldset>
		
							<ul class="no-list observacoes">
								<li>
									<label>Observações:</label><br>
									<textarea class="input full" name="Observacoes" placeholder="Observações/Notas" rows="4" cols="33">{field:observacoes}</textarea>
								</li>
							</ul>
						</div>
		
						<input type="hidden" name="CodEntidade" value="{field:id_entidade}" data-isid="true" required>
						<input type="hidden" name="jsondata" value="{$jsondata}" >
					</form>
				</span>
			</span>
		</section>
	</div>
	{$MsgScript}