	<div id="corpo">
		<section class="listagem relatorio">
			<h2 class="titulo">{$titulo}</h2>
            <h3 class="titulo-3">Listagem Geral de Quotas<a class="link" href="javascript:if(window.print)window.print()">Imprimir este Relatório</a>
</h3>
            <div class="corpo">
                <div class="info">
                    <div class="col"><span class="label">Valor em falta: 0,00€ (pago)</span>Activo, Suspenso<br>
                    <span class="label">Modalidades:</span>Natação, Boxe<br>
                    <span class="label">Valor entre:</span>20,00€ e 60,00€<br></div>
                <div class="col">
                    <span class="label">Emitidas após:</span>2011/10/01<br>
                    <span class="label">Emitidas antes de:</span>2013/09/01<br>
                    <span class="label">Data Limite após:</span>2013/09/01<br>
                    <span class="label">Data Limite antes de:</span>2013/09/01<br>
                </div></div>
                <table id="myTable" class="tabela tablesorter" summary="Listagem de Sócios">
                    <thead>
                        <tr>
                            <th scope="col">Descrição</th>
                            <th scope="col">NºS</th>
                            <th scope="col">Sócio</th>
                            <th scope="col">Modalidade</th>
                            <th scope="col">Valor</th>
                            <th scope="col">em falta</th>
                            <th scope="col">Data Emissão</th>
                            <th scope="col">Data Limite</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Manuel Rodrigues</td>
                            <td>Natação</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Joaquim Gomes</td>
                            <td>Boxe</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Manuel Rodrigues</td>
                            <td>Natação</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Joaquim Gomes</td>
                            <td>Boxe</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Manuel Rodrigues</td>
                            <td>Natação</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Joaquim Gomes</td>
                            <td>Boxe</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Manuel Rodrigues</td>
                            <td>Natação</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Joaquim Gomes</td>
                            <td>Boxe</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Manuel Rodrigues</td>
                            <td>Natação</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Joaquim Gomes</td>
                            <td>Boxe</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Manuel Rodrigues</td>
                            <td>Natação</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Joaquim Gomes</td>
                            <td>Boxe</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Manuel Rodrigues</td>
                            <td>Natação</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Joaquim Gomes</td>
                            <td>Boxe</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Manuel Rodrigues</td>
                            <td>Natação</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Joaquim Gomes</td>
                            <td>Boxe</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Manuel Rodrigues</td>
                            <td>Natação</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Joaquim Gomes</td>
                            <td>Boxe</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Manuel Rodrigues</td>
                            <td>Natação</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Joaquim Gomes</td>
                            <td>Boxe</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Manuel Rodrigues</td>
                            <td>Natação</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Joaquim Gomes</td>
                            <td>Boxe</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Manuel Rodrigues</td>
                            <td>Natação</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>
                        <tr>
                            <td>Jóia de Inscrição</td>
                            <td>3</td>
                            <td>Joaquim Gomes</td>
                            <td>Boxe</td>
                            <td>20,00€</td>
                            <td>pago</td>
                            <td>2013/06/23</td>
                            <td>2013/16/23</td>
                        </tr>


                    </tbody>
                </table>
                </div>
		</section>
	</div>
	<script>
		document.body.onkeydown = function(event){ KeysUpDownListagem(event,"socios-listagem"); }
	</script>