	<div id="corpo">
		<section class="listagem relatorio">
			<h2 class="titulo">{$titulo}</h2>
			<h3 class="titulo-3">Listagem Geral de Sócios <a class="link" href="javascript:if(window.print)window.print()">Imprimir este Relatório</a>
</h3>
			<div class="corpo" data-id="corpo">
				<div class="info">
					<div class="col">
						<span class="label">Estado do Sócio:</span>{$socio-tipo}<br>
						<span class="label">Tipo de Sócio:</span>{$socio-estado}<br>
						<span class="label">Inscritos nas Modalidades:</span>{$actividades}<br>
						<span class="label">Nº de Sócio entre:</span>{$numsocio-min} e {$numsocio-max}<br>
				<!--	<span class="label">Quotas em atraso à mais de:</span>6 dias<br> -->
					</div>
					<div class="col">
						<span class="label">Quotas em dívida entre:</span>{$divida-min} e {$divida-max}<br>
						<span class="label">Inscritos após:</span>{$datainsc-max}<br>
						<span class="label">Inscritos antes de:</span>{$datainsc-min}<br>
					</div>
				</div>
				<table id="myTable" class="tabela tablesorter" summary="Listagem de Sócios">
					<thead>
						<tr>
							<th scope="col">Nº</th>
							<th scope="col">Sócio</th>
							<th scope="col">Saldo</th>
							<th scope="col">Tipo</th>
							<th scope="col">Estado</th>
							<th scope="col">Data Inscrição</th>
							<th scope="col">C.C./B.I.</th>
						</tr>
					</thead>
					<tbody>
						{loop id=linhas}
						<tr>
							<td>{field:codigo_sufixo}{field:codigo}</td>
							<td>{field:nome}</td>
							<td>{field:divida}</td>
							<td>{field:socio_nome_tipo}</td>
							<td>{field:socio_nome_estado}</td>
							<td>{field:data_entrada}</td>
							<td>{field:bicc}</td>
						</tr>
						{/loop}
					</tbody>
				</table>
				</div>
		</section>
	</div>
	<script>
		document.body.onkeydown = function(event){ KeysUpDownListagem(event,"socios-listagem"); }
	</script>