<div id="sub-nav" class="organizar-close">
	<!-- Barra Fixa -->
	<div class="top-bar fixed-top">
		<input class="input-full filtrar" name="searchlist" type="text" placeholder="filtrar resultados..." onkeyup="{$SearchList}" >
		<!-- Botões Relacionados -->
		<div class="botoes no-margin menores ">
			<button class="botao adicionar" onclick="{$InsertOnClick}">{$InsertTitle}</button>
			<button class="botao seta-baixo" onclick="ToggleElemClass('sub-nav','organizar-open','organizar-close');">&#9660;</button>
		</div>
		<div class="organizar">
			<form name="orderbyfield" method="POST" action="#" >
				<select class="select" name="listfilter" title="Ordenar por..." onchange="{$SearchFilter}">
					<option selected disabled>Ordenar por...</option>
					{$OptionsFilter}
				</select>
				
				<input class="checkbox up-down" type="checkbox" name="chkOrderBy" id="checkbox-1"  onchange="{$SearchFilter}" />
				<label for="checkbox-1"></label>
			</form>
		</div>
	</div>

	<div class="listagem">
		<span class="hidden" style="display:none;" id="PageNum">{$INPUT_PAGE}</span>
		<span class="hidden" style="display:none;" id="PageNumNext">{$INPUT_PAGENEXT}</span>
	</div>
</div>

<div id="main" class="main-sub-nav">
	{$main_include}
	<br/>
</div>