<div id="corpo">
	<h2 class="titulo">{$titulo}</h2>
	<p class="ajuda">{$ajuda}</p>
	<form class="form multi long" name="nova-quota-massa" action="#" method="POST">
		<div class="col long">
			<fieldset class="fieldset tags">
				<legend>Ano das Quotas</legend>
				<input type="radio" name="ano" id="ano-1" value="{$YearNow-1}" required>
				<label for="ano-1">{$YearNow-1}</label>
				<input type="radio" name="ano" id="ano-2" value="{$YearNow}" checked="checked" required>
				<label for="ano-2">{$YearNow}</label>
				<input type="radio" name="ano" id="ano-3" value="{$YearNow+1}" required>
				<label for="ano-3">{$YearNow+1}</label>

				<select name="ano-outro" class="select curto ano" placeholder="Outro ano" >
					<option value="{$YearNow}" disabled selected>Outro ano...</option>
					{$HTML_ANOS_SELECT}
				</select>
			</fieldset>
				
			<fieldset class="fieldset fluid">
				<legend>Modalidade</legend>
				<select class="select" name="lista-modalidade" placeholder="Modalidade" required >
					<option selected disabled>Modalidade...</option>
					{$HTML_MODALIDADE_SELECT}
				</select>
<!--
				<textarea class="input" name="Observacoes" placeholder="Observações/Notas" data-magicinput="false"></textarea>
-->
			</fieldset>
			<fieldset class="fieldset fluid">
				<legend>Montante</legend>
				<input name="Montante" class="input  numero" placeholder="0.00 €" type="text" maxlength="15" required>
			</fieldset>
			<fieldset class="fieldset fluid">
				<legend>Mensalidade</legend>
				<select name="TipoMensalidade" class="select" placeholder="Mensalidade (1, 2, 3, 4, 6, 12 Meses)" >
					<option value="0" disabled selected>Selecionar uma Mensalidade</option>
					<option value="1" selected>Mensal (1 em 1 Mes)</option>
					<option value="2">Bimestral (2 em 2 Meses)</option>
					<option value="3">TriMestral (3 em 3 Meses)</option>
					<option value="4">Quadrimestral (4 em 4 Meses)</option>
					<option value="6">Semestral (6 em 6 Meses)</option>
					<option value="12">Anual (1 Ano)</option>
				</select>
				<label class="select-label">Distruibuição (€):</label>
				<select name="Distribuicao" class="select" placeholder="Distribuir Montante" >
					<option value="0" disabled selected>Selecionar uma Distribuição</option>
					<option value="1">Repartir montante por todos os meses</option>
					<option value="2" selected>Mesmo montante por Mês</option>
				</select>
			</fieldset>
			<fieldset class="fieldset fluid">
				<legend>Filtrar Sócios</legend>
				<select name="FiltroSocios" class="select" placeholder="Filtrar Sócios" onChange="QuotasTodosFiltro(this,'FiltroSocioTipo');" >
					<option value="0" disabled selected>Tipo de Filtro</option>
					<option value="1" selected>Nenhum</option>
					<option value="2">Sexo</option>
					<option value="3">Estado Sócio</option>
					<option value="4">Tipo Sócio</option>
				</select>
				<select name="FiltroSocioTipo" class="select" placeholder="Opções de Filtro" >
					<option value="0" disabled selected>Opções de Filtro</option>
				</select>
			</fieldset>
			{$SOCIO_INPUT_COD}
			<input type="hidden" value="{$INPUT_JSON_SOCIOTIPO}" name="jsonsociotipo">
			<input type="hidden" value="{$INPUT_JSON_SOCIOESTADO}" name="jsonsocioestado">
<!--
			<div class="col long mg-1">
				<h3 class="titulo3">Detalhes de Pagamento</h3>
				<fieldset class="fieldset fluid">
					<legend>Datas</legend>
					<label class="input-label" name="data-pagamento" for="data-pagamento">Data Pagamento:</label>
					<input class="input numero" type="date" name="data-pagamento" value="{$data_hoje}" placeholder="Data Pagamento">

					<label class="input-label" name="data-limite" for="data-limite">Data Limite:</label>
					<input class="input numero" type="date" name="data-limite" value="{$data_hoje+7}" placeholder="Data Limite">
				</fieldset>

				<fieldset class="fieldset fluid">
					<label class="input-label">Montante:</label>
					<input name="Montante" class="input  numero" placeholder="0.00 €" type="text" maxlength="15" onkeyup="UpdateFloatFields('nova-quota-massa');" required>
					<div class="tooltip alert hidden"> Inserir montante a pagar primeiro</div>

					<label class="input-label">Desconto:</label>
					<input name="Desconto" class="input  numero" placeholder="0.00 %" type="text"  maxlength="15" onkeyup="UpdateFloatFields('nova-quota-massa');" >

					<label class="input-label">Total Pago:</label>
					<input name="TotalPago" class="input  numero" placeholder="0.00 €" type="text" maxlength="15" onkeyup="UpdateFloatFields('nova-quota-massa');" required>

					<label class="input-label">Total a Pagar:</label>
					<input class="input numero" readonly value="€0,00" data-id="TotalPagar">

					<label class="input-label">Total em dívida:</label>
					<input class="input numero" readonly="readonly" value="€0,00" data-id="TotalDivida">

				</fieldset>
			</div>
-->
		</div>
<!--
		<div class="col maxwidth-long">
			<h3 class="titulo-3">Filtros (sócios)</h3>
			<fieldset class="fieldset tags">
				<legend>Estado do Sócio</legend>
				<input type="checkbox" class="tag" name="EstadoSocio" id="estado-socio-all" value="all" checked>
				<label for="estado-socio-all" >Todos</label>
				{$HTML_ESTADOSOCIO}
			</fieldset>
			
			<fieldset class="fieldset tags">
				<legend>Tipo de Sócio</legend>
				<input type="checkbox" class="tag" name="TipoSocio" id="tipo-socio-all" value="all" checked>
				<label for="tipo-socio-all" >Todos</label>
				{$HTML_TIPOSOCIO}
			</fieldset>
			
			<fieldset class="fieldset">
				<legend>Inscritos nas Modalidades</legend>
				<select name="Actividades[]" placeholder="Actividades/Modalidades" multiple>
					{$HTML_ACTIVIDADES}
				</select>
				<p class="micro-info">Utilize a tecla CTRL para selecionar vários.</p>
			</fieldset>
		
			<fieldset class="fieldset">
				<legend>Quotas</legend>
				<div class="line">
					<label class="label">em dívida entre (€):</label>
					<input class="input small numero" name="divida-min" placeholder="0" type="text" maxlength="15"> e 
					<input class="input small numero" name="divida-max" placeholder="0" type="text" maxlength="15">
				</div>
				<div class="line tags">
					<span class="label auto">apenas sócios </span>
					<input type="checkbox" class="tag" name="estado-quotas" id="quotas-1" value="all-payed">
					<label for="quotas-1">com tudo pago</label>
					
					<input type="checkbox" class="tag" name="estado-quotas" id="quotas-2" value="none-payed">
					<label for="quotas-2">em dívida</label>
				</div>
			</fieldset>
		
			<fieldset class="fieldset">
				<legend>Data de Inscrição</legend>
				<div class="line">
					<label class="label">Inscritos depois de:</label>
						<input class="input numero" name="datainscricao-after" placeholder="0" type="date" maxlength="15">
				</div>
				<div class="line">
					<label class="label">Inscritos antes de:</label>
					<input class="input numero" name="datainscricao-before" placeholder="0" type="date" maxlength="15">
				</div>
			</fieldset>
		
			<fieldset class="fieldset">
				<legend>Outros</legend>
				<div class="line">
					<label class="label">Nº de Sócio entre:</label>
					<input class="input small numero" name="numsocio-min" placeholder="0" type="text" maxlength="15"> e 
					<input class="input small numero" name="numsocio-max" placeholder="0" type="text" maxlength="15">
				</div>
			</fieldset>
		</div>
-->
		<div class="line botoes">
			<a href="#" data-name="clear" class="botao limpar" onClick="CleanFormElements('nova-quota-massa');">Limpar</a>
			<a href="#" data-name="guardar" class="botao guardar" onClick="ValidateForm('nova-quota-massa');">Guardar</a>
		</div>
	</form>
</div>
<script type='text/javascript'>
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'nova-quota-massa'); }
</script>