<div id="corpo">
	<h2 class="titulo">{$titulo}</h2>
	<p class="ajuda">{$ajuda}</p>
	<form class="formulario" action="{$FormAction}" method="POST" name="editar-quota-outro">
		<div class="coluna">
			<div class="tags">
				<input type="radio" name="ano" id="ano-1" value="{$YearNow-1}" required>
				<label for="ano-1">{$YearNow-1}</label>
				<input type="radio" name="ano" id="ano-2" value="{$YearNow}" checked="checked" required>
				<label for="ano-2">{$YearNow}</label>
				<input type="radio" name="ano" id="ano-3" value="{$YearNow+1}" required>
				<label for="ano-3">{$YearNow+1}</label>

				<select name="ano-outro" class="select curto" placeholder="Outro ano" >
					<option value="{$YearNow}" disabled selected>Outro ano...</option>
					<option value="0" >Nenhum</option>
					{$HTML_ANOS_SELECT}
				</select>
			</div>
		
			<select name="lista-modalidade" placeholder="Actividade" required >
				<option selected disabled>Actividade...</option>
				{$HTML_MODALIDADE_SELECT}
			</select>

			<div class="line">
				{$SOCIO_INPUT_COD}
				{$SOCIO_INPUT_NOME}
			</div>

			<div class="line">
				<input name="Descricao" value="{field:descricao}" placeholder="Descrição (ex: Quota, Joia, Donativo)" type="text"  maxlength="80" required >
			</div>
			<select name="MetodoPagamento" class="select" placeholder="Método de Pagamento" >
				<option value="Outro-Filtro" disabled selected>Método de Pagamento</option>
				{$HTML_PAGFORMA_SELECT}
			</select>
			<!--
			<select name="OpcaoPagamento" class="select" placeholder="Opção de Pagamento" >
				<option value="Outro-Filtro" disabled selected>Opção de Pagamento</option>
				{$HTML_PAGOPCAO_SELECT}
			</select>
			-->
			<div data-id="Observacoes">
				<textarea name="Observacoes" placeholder="Observações/Notas" >{field:observacoes}</textarea>
			</div>
		</div>
		<!-- 2ª COLUNA - PAGAMENTO-->
		<div class="coluna">
			<h3 class="titulo3">Pagamento:</h3>
			<div data-date="data-pagamento" class="line">
					<label  name="data-pagamento" for="data-pagamento">Data Pagamento:</label>
					<input type="date" name="data-pagamento" value="{field:data_pagamento}" placeholder="Data Pagamento">
			</div>
			<div data-date="data-limite" class="line">
					<label  name="data-limite" for="data-limite">Data Limite:</label>
					<input type="date" name="data-limite" value="{field:prazo_pagamento}" placeholder="Data Limite">
			</div>
			<div class="line">
				<label>Montante:</label>
				<input name="Montante" class="pequeno numero" value="{field:montante} €" placeholder="0.00 €" type="text" maxlength="15" onkeyup="UpdateFloatFields('editar-quota-outro');" required>
				<div class="tooltip alert hidden"> Inserir montante a pagar primeiro</div>
			</div>

			<div data-id="Desconto" class="line">
				<label class="inline">Desconto:</label>
				<input name="Desconto" class="pequeno numero" value="{field:desconto} %" placeholder="0.00 %" type="text"  maxlength="15" onkeyup="UpdateFloatFields('editar-quota-outro');" >
			</div>

			<div class="line total-pagar">
				<label>Total a Pagar:</label>
				<span class="numero" data-id="TotalPagar">€{field:total_total}</span>
			</div>

			<div data-id="TotalPago" class="line">
				<label>Total Pago:</label>
				<input name="TotalPago" class="pequeno numero" value="{field:total_pago} €" placeholder="0.00 €" type="text" maxlength="15" onkeyup="UpdateFloatFields('editar-quota-outro');" required>
				<input name="TotalPagoRange" type="range" value="{field:total_pago}" min="0" max="{field:total_total}" step="0.10" onchange="printValue('TotalPagoRange','TotalPago');" style="display:none;margin-bottom:10px;margin-top:10px;height:5px;padding:0px;width:100px;">
				<!-- <span class="numero">€5,00</span> -->
			</div>

			<div class="line">
				<label>Total Dívida:</label> 
				<span class="numero red" data-id="TotalDivida">€{field:total_divida}</span>
			</div>

		</div>

		<div class="line botoes">
			<a href="{field:LINK_ANULAR}">
				<span data-name="anular" class="botao limpar">Anular</span>
			</a>
			<a href="javascript:void(0);" data-name="guardar" class="botao guardar" onClick="ValidateForm('editar-quota-outro');">Guardar e Voltar</a>
		</div>
	</form>
</div>
<script type='text/javascript'>
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'editar-quota-outro'); }
	function printValue(ARangeElem,AInputElem)
	{
		var Range = document.forms['editar-quota-outro'].elements[ARangeElem];
		var Input = document.forms['editar-quota-outro'].elements[AInputElem];
		var fNum = Range.value;
		fNum = parseFloat(fNum);
		fNum = fNum.toFixed(2);
		Input.value = fNum+" €";
	}
</script>