	<div id="corpo">
		<section class="listagem">
			<h2 class="titulo">{$titulo}
				<form class="filtrar" name="filtro" id="filtro" action="#" method="post" autocomplete="off"> 
					<input name="pesquisa" 	class="input style-line" type="text" placeholder="filtrar..." onkeyup="SearchListagem('filtro','pesquisa','quotas-listagem');">
					<input name="Go" type="button" class="submitsearch" value="ok" onClick="SearchListagem('filtro','pesquisa','quotas-listagem');">
				</form>
			</h2>
			<h3 class="titulo-3 static">
				<span class="icon edit"></span>
				{$SOCIO_INPUT_COD}
				<input class="escolha" name="NomeSocio" placeholder="Nome do Sócio" type="text" value="{$SOCIO_NOME}" autocomplete="off" maxlength="80" onkeyup="SearchSocioForm(this,'SRSocioQuota');"  onfocus="SearchSocioOnFocus('SRSocioQuota');" onblur="SearchSocioOnBlur('SRSocioQuota');" list="quotas-list" required />
				<select class="escolha" name="lista-modalidade" placeholder="Actividade" required onchange="SelectOption(this,'idm');" >
				<option selected disabled >Actividade...</option>
					{$htmlSELECT_ACTIVIDADES}
				</select>
				
				<select class="escolha ano" name="lista-ano" placeholder="Ano" required onchange="SelectOption(this,'ano');">
					<option selected disabled>Anos</option>
					{$htmlSelectAnos}
				<!--
					<option selected>2013</option>
					<option>2012</option>
					<option>2011</option>
				-->
				</select>
				<div class="hidden" data-id="SRSocioQuota"></div>
			</h3>
			<div class="fix"></div>
			<span data-id="corpo">
				<div class="lista" data-cod="quotas-listagem"
					data-intro='Aqui pode ver as quotas do Sócio' data-step='1' data-position="bottom" >
					<div class="linha cabecalho">
						<span class="col-short"><input type="checkbox" name="checkActionAll" onChange="checkALL(this,'quotas-listagem');"></span>
						<span class="col">Descrição</span>
						<span class="col mini center">Total</span>
						<span class="col center">em falta</span>
						<span class="col data center">Data</span>
					</div>

					{loop id=linhas}
						<label for="quota{field:i}">
							<div class="linha">
								<span class="col-short"><input type="checkbox" name="checkAction" data-id="{field:id_quota}" id="quota{field:i}" data-json="{field:row_json}"></span>
								<span class="col">{field:descricao}</span>
								<span class="col mini center numero">€{field:total_total}</span>
								
								{field:spanExt}

								<span class="col data numero {field:sDataColor}" title="{field:data_tipo}">{field:sData}</span>
								<span class="col center">
									<a class="botao editar" href="{field:edit-link}">editar</a>
								</span>
							</div>
						</label>
					{/loop}

					<span class="multi">
						Com os selecionados:
						<br/>
						<span class="botao guardar" onClick="RegistarPagamento('quotas-listagem','paycheck');"
						    data-intro='Pode selecionar várias Quotas e registar o pagamento directamente.' data-step='2' data-position="right">
						    Registar Pagamento
				        </span>
						<span class="botao delete" onClick="RegistarPagamento('quotas-listagem','payuncheck');"
						    data-intro='para voltar a colocar a Quota por pagar, clique em "Quota em Dívida"' data-step='3' data-position="right">
						    Quota em Dívida
						</span>
						<span class="botao delete"  onClick="unsetRecord('quotas-listagem');"
						    data-intro='Se desejar pode apagar as Quotas selecionadas.' data-step='4' data-position="bottom">
						    Apagar
				        </span>
					</span>
				</div>
			</span>
		</section>
	</div>
	<script>
		document.body.onkeydown = function(event){ KeysUpDownListagem(event,"quotas-listagem"); }
	</script>