<div id="corpo">
	<h2 class="titulo">{$titulo}</h2>
	<p class="ajuda">{$ajuda}</p>
	<form class="form multi long" name="nova-quota-massa" action="#" method="POST">
		<div class="col long">
			<fieldset class="fieldset tags">
				<legend>Ano das Quotas</legend>
				<input type="radio" name="ano" id="ano-1" value="{$YearNow-1}" required>
				<label for="ano-1">{$YearNow-1}</label>
				<input type="radio" name="ano" id="ano-2" value="{$YearNow}" checked="checked" required>
				<label for="ano-2">{$YearNow}</label>
				<input type="radio" name="ano" id="ano-3" value="{$YearNow+1}" required>
				<label for="ano-3">{$YearNow+1}</label>

				<select name="ano-outro" class="select curto ano" placeholder="Outro ano" >
					<option value="{$YearNow}" disabled selected>Outro ano...</option>
					{$HTML_ANOS_SELECT}
				</select>
			</fieldset>

			<fieldset class="fieldset fluid" data-id="inputsocio">
				<legend>Sócio</legend>
				{$SOCIO_INPUT_NOME}
			</fieldset>

			<fieldset class="fieldset fluid">
				<legend>Modalidade</legend>
				<select class="select" name="lista-modalidade" placeholder="Modalidade" required >
					<option selected disabled>Modalidade...</option>
					{$HTML_MODALIDADE_SELECT}
				</select>
			</fieldset>
			<fieldset class="fieldset fluid">
				<legend>Montante</legend>
				<input name="Montante" class="input  numero" placeholder="0.00 €" type="text" maxlength="15" required>
			</fieldset>
			<fieldset class="fieldset fluid">
				<legend>Mensalidade</legend>
				<select name="TipoMensalidade" class="select" placeholder="Mensalidade (1, 2, 3, 4, 6, 12 Meses)" >
					<option value="0" disabled selected>Selecionar uma Mensalidade</option>
					<option value="1">Mensal (1 em 1 Mes)</option>
					<option value="2">Bimestral (2 em 2 Meses)</option>
					<option value="3">TriMestral (3 em 3 Meses)</option>
					<option value="4">Quadrimestral (4 em 4 Meses)</option>
					<option value="6">Semestral (6 em 6 Meses)</option>
					<option value="12">Anual (1 Ano)</option>
				</select>
				<label class="select-label">Distruibuição (€):</label>
				<select name="Distribuicao" class="select" placeholder="Distribuir Montante" >
					<option value="0" disabled selected>Selecionar uma Distribuição</option>
					<option value="1">Repartir montante por todos os meses</option>
					<option value="2">Mesmo montante por Mês</option>
				</select>
			</fieldset>	
			{$SOCIO_INPUT_COD}
			<input type="hidden" value="{$INPUT_JSON_SOCIOTIPO}" name="jsonsociotipo">
			<input type="hidden" value="{$INPUT_JSON_SOCIOESTADO}" name="jsonsocioestado">
		</div>
		
			<div class="col maxwidth-long" data-id="filtros">
				<h3 class="titulo-3">Filtros (sócios)</h3>
				<fieldset class="fieldset tags">
					<legend>Estado do Sócio</legend>
					<input type="radio" class="tag" name="EstadoSocio" id="estado-socio-all" value="all" checked>
					<label for="estado-socio-all" >Todos</label>

					{$HTML_ESTADOSOCIO}
				</fieldset>
				
				<fieldset class="fieldset tags">
					<legend>Tipo de Sócio</legend>
					<input type="radio" class="tag" name="TipoSocio" id="tipo-socio-all" value="all" checked>
					<label for="tipo-socio-all" >Todos</label>

					{$HTML_TIPOSOCIO}
				</fieldset>
				<fieldset class="fieldset tags">
					<legend>Sexo</legend>
					<input type="radio" class="tag" name="SexoSocio" id="sexo-socio-all" value="all" checked>
					<label for="sexo-socio-all" >Todos</label>

					<input type="radio" class="tag" name="SexoSocio" id="sexo-socio-Fem" value="Feminino" >
					<label for="sexo-socio-Fem" >Feminino</label>
					<input type="radio" class="tag" name="SexoSocio" id="sexo-socio-Masc" value="Masculino" >					
					<label for="sexo-socio-Masc" >Masculino</label>
				</fieldset>
			</div>

		<div class="line botoes">
			<a href="#" data-name="clear" class="botao limpar" onClick="CleanFormElements('nova-quota-massa');">Limpar</a>
			<a href="#" data-name="guardar" class="botao guardar" onClick="ValidateForm('nova-quota-massa');">Guardar</a>
		</div>
	</form>
</div>
<script type='text/javascript'>
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'nova-quota-massa'); }
</script>