<div id="corpo">
	<h2 class="titulo">{$titulo}</h2>
	<p class="ajuda">{$ajuda}</p>
	<form class="formulario" action="#" method="POST" name="nova-quota-outro">
		<div class="coluna">
			<div class="tags">
				<input type="radio" name="ano" id="ano-1" value="{$YearNow-1}" required>
				<label for="ano-1">{$YearNow-1}</label>
				<input type="radio" name="ano" id="ano-2" value="{$YearNow}" checked="checked" required>
				<label for="ano-2">{$YearNow}</label>
				<input type="radio" name="ano" id="ano-3" value="{$YearNow+1}" required>
				<label for="ano-3">{$YearNow+1}</label>

				<select name="ano-outro" class="select curto" placeholder="Outro ano" >
					<option value="{$YearNow}" disabled selected>Outro ano...</option>
					{$HTML_ANOS_SELECT}
				</select>
			</div>

			<select name="lista-modalidade" placeholder="Actividade" required  >
				<option selected disabled>Actividade...</option>
				{$HTML_MODALIDADE_SELECT}
			</select>
			
			<div class="line" data-id="fieldsocio">
				{$SOCIO_INPUT_COD}
				<input name="NomeSocio" placeholder="{$SOCIO_NOME_PLACEHOLDER}" value="{$SOCIO_NOME}" type="text" autocomplete="off" maxlength="80" onkeyup="SearchSocioForm(this,'SRSocioQuota');"  onfocus="SearchSocioOnFocus('SRSocioQuota');" onblur="SearchSocioOnBlur('SRSocioQuota');" list="socios-list" required />
				<div class="hidden" data-id="SRSocioQuota"></div>
			</div>

			<div class="line">
				<input name="Descricao" placeholder="Descrição (ex: Quota, Joia, Donativo)" type="text"  maxlength="80" required >
			</div>

			<select name="Metodo-Pagamento" class="select" placeholder="Método de Pagamento" >
				<option value="Outro-Filtro" disabled selected>Método de Pagamento</option>
				{$HTML_PAGFORMA_SELECT}
			</select>
			<!--
			<select name="Opcao-Pagamento" class="select" placeholder="Opção de Pagamento" >
				<option value="Outro-Filtro" disabled selected>Opção de Pagamento</option>
				{$HTML_PAGOPCAO_SELECT}
			</select>
			-->
			<div data-id="Observacoes">
				<textarea name="Observacoes" placeholder="Observações/Notas" ></textarea>
			</div>
		</div>
		<div class="coluna">
			<h3 class="titulo3">Pagamento:</h3>
			<div data-date="data-pagamento" class="line">
					<label  name="data-pagamento" for="data-pagamento">Data Pagamento:</label>
					<input type="date" name="data-pagamento" value="{$data_hoje}" placeholder="Data Pagamento">
			</div>
			<div data-date="data-limite" class="line">
					<label  name="data-limite" for="data-limite">Data Limite:</label>
					<input type="date" name="data-limite" value="{$data_hoje+7}" placeholder="Data Limite">
			</div>
			<div class="line">
				<label>Montante:</label>
				<input name="Montante" class="pequeno numero" placeholder="0.00 €" type="text" maxlength="15" onkeyup="UpdateFloatFields('nova-quota-outro');" required>
				<div class="tooltip alert hidden"> Inserir montante a pagar primeiro</div>
			</div>

			<div data-id="Desconto" class="line">
				<label class="inline">Desconto:</label>
				<input name="Desconto" class="pequeno numero" placeholder="0.00 %" type="text"  maxlength="15" onkeyup="UpdateFloatFields('nova-quota-outro');" >
			</div>

			<div data-id="TotalPago" class="line">
				<label>Total Pago:</label>
				<input name="TotalPago" class="pequeno numero" placeholder="0.00 €" type="text" maxlength="15" onkeyup="UpdateFloatFields('nova-quota-outro');" required>
				<!-- <span class="numero">€5,00</span> -->
			</div>

			<div class="line total-pagar">
				<label>Total a Pagar:</label>
				<span class="numero" data-id="TotalPagar">€0.00</span>
			</div>
			<div class="line">
				<label>Total Dívida:</label> 
				<span class="numero red" data-id="TotalDivida">€0.00</span>
			</div>
				
		</div>

		<div class="line botoes">
			<a href="#" data-name="clear" class="botao limpar" onClick="CleanFormElements('nova-quota-outro');">Limpar</a>
			<a href="#" data-name="guardar" class="botao guardar" onClick="ValidateForm('nova-quota-outro');">Guardar</a>
		</div>
	</form>
</div>
<script type='text/javascript'>
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'nova-quota-outro'); }
</script>