<div id="corpo">
	<h2 class="titulo">{$titulo}</h2>
	<p class="ajuda">{$ajuda}</p>
	<form class="formulario" action="#" method="POST" name="novo-associacao">
		<!-- <img class="foto" src="{$foto-url}"> -->
		<div data-id="divUploadImage" class="upload-image">
			<img class="foto" src="{$foto-url}" id="imgUserTumb" >
			<input name="upload-image" type="file">
			<img src="{$imgsPath}pasta-blue.png" alt="procurar">
			<div class="progressbar vertical hidden">
				<span data-id="spanProgressBar" style="height:0%"></span>
			</div>
		</div>

		<br/>
		<div class="bot-plus">
			<input name="Nome" placeholder="Nome da Associação" type="text" maxlength="80" required >
			<span class="bot-plus"></span>
			<div class="plus-menu">
				<span data-id="NIB" 		onClick="ShowField(this,true);">NIB</span>
				<span data-id="Abreviatura" onClick="ShowField(this,true);">Abreviatura</span>
				<span data-id="Slogan" 		onClick="ShowField(this,true);">Slogan</span>
				<span data-id="Observacoes" onClick="ShowField(this,true);">Observações</span>
			</div>
		</div>
		<div data-id="Abreviatura" class="bot-plus hidden">
			<input name="Abreviatura" placeholder="Abreviatura" type="text" maxlength="21">
			<span  class="bot-minus"></span>
		</div>
		<div data-id="Slogan" class="bot-plus hidden">
			<input name="Slogan" placeholder="Slogan" type="text" maxlength="120">
			<span  class="bot-minus"></span>
		</div>
		<input name="NIF" placeholder="NIF" type="text" maxlength="9" onkeyup="GetValuesByBI(this);">

		<div data-id="NIB" class="bot-plus hidden">
			<input name="NIB" placeholder="NIB" type="text" maxlength="21">
			<span  class="bot-minus"></span>
		</div>
		<input name="Email" placeholder="E-mail" type="email" maxlength="80">
		<input name="Site" placeholder="Site" type="email" maxlength="80">
		<div class="bot-plus">
			<input name="Telefone" placeholder="Telefone" type="text" maxlength="9">
			<span class="bot-plus"></span>
			<div class="plus-menu">
				<span data-id="Telemovel" 	onClick="ShowField(this,true);">Telemóvel</span>
				<span data-id="Fax" 		onClick="ShowField(this,true);">Fax</span>
				<span data-id="Outro1" 		onClick="ShowField(this,true);">Outro 1</span>
				<span data-id="Outro2" 		onClick="ShowField(this,true);">Outro 2</span>
			</div>
		</div>
		<div data-id="Telemovel" class="bot-plus hidden">
			<input name="Telemovel" placeholder="Telemóvel" type="text" maxlength="9">
			<span  class="bot-minus"></span>
		</div>
		<div data-id="Fax" class="bot-plus hidden">
			<input name="Fax" placeholder="Fax" type="text" maxlength="9">
			<span  class="bot-minus"></span>
		</div>
		<div data-id="Outro1" class="bot-plus hidden">
			<input name="Outro1" placeholder="Outro 1" type="text"="60">
			<span  class="bot-minus"></span>
		</div>
		<div data-id="Outro2" class="bot-plus hidden">
			<input name="Outro2" placeholder="Outro 2" type="text" maxlength="60">
			<span  class="bot-minus"></span>
		</div>
		<div class="line">
			<input class="pequeno" name="Codigo-Postal" placeholder="Código Postal" type="text" onkeyup="CTTINFO();" maxlength="8" required >
			<div class="info-box">Introduza um código postal<span>(ex: 3000-123)</span></div>
		</div>
		<input name="Morada" placeholder="Morada" type="text" maxlength="550">

		<div class="coluna">
			<select class="cfg-search line" name="TipoActividade" placeholder="Tipo Actividade" required>
				<option selected="" disabled="">Tipo de Actividade...</option>
				{$HTML_TIPOACTIVIDADE}
			</select>
		</div>
		<div data-id="Descricao">
			<textarea name="DescricaoHistoria" placeholder="Descrição / História" ></textarea>
		</div>
		<div data-id="Observacoes" class="bot-plus hidden">
			<textarea name="Observacoes" placeholder="Observações/Notas" ></textarea>
			<span  class="bot-minus"></span>
		</div>
		<div class="line botoes">
			<span data-name="clear" 	class="botao limpar" onClick="CleanFormElements('novo-associacao');">Limpar</span>
			<span data-name="guardar" class="botao guardar"  onClick="ValidateForm('novo-associacao');">Guardar</span>
		</div>
	</form>
</div>
<script type='text/javascript'>
	INI_FILEUPLOAD_ASSOCIACAO("upload-image","divUploadImage","spanProgressBar");
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'novo-associacao'); }
</script>
