<div id="corpo">
	<section class="perfil">
		<h1 class="titulo">{$titulo}</h1>
		<p class="ajuda">{$ajuda}</p>
		<span data-id="corpo">
			<h2 class="nome-socio">
				{field:nome}
				<a href="{$edit-link}" class="botao editar">editar</a>
			</h2>
			<div class="coluna no-margin full-width">
				<img class="foto" src="{$foto-url}">
				<div class="info-socio">
					{field:abreviatura}
					<span class="etiqueta verde">{field:HTML_TIPOACTIVIDADE}</span>
					<br/>
					{$reg-update}
				</div>
			</div>
			<ul class="bloco">
				<li>
					<strong>Telefone:</strong><span class="numeros">{field:telefone}</span>
					<a href="#contactos" onclick="ChangeAttByTagData(this,'span','data-action','href','class','hidden', 'mais contactos','menos contactos');">mais contactos</a>
				</li>
				<span data-action="#contactos" class="hidden">
					<li><strong>Telefone:</strong><span class="numeros">{field:telemovel}</span></li>
					<li><strong>Fax:</strong><span class="numeros">{field:fax}</span></li>
					<li><strong>Outro 1:</strong><span class="numeros">{field:outro1}</span></li>
					<li><strong>Outro 2:</strong><span class="numeros">{field:outro2}</span></li>
				</span>
				<li>
					<strong>Email:</strong>{field:email}
				</li>
				<li>
					<strong>Site:</strong>{field:site}
				</li>
				<li><strong>Morada:</strong>{field:morada}
					<span class="line2">{field:codigo_postal} {field:concelho_desig}, {field:distrito_desig}</span>
				</li>
			</ul>
			<ul class="bloco longo">
				<li>
					<strong>Contribuinte (NIF):</strong>
					<span class="numeros">
						{field:nif}
					</span>
				</li>
				<li>
					<strong>Conta Bancária (NIB):</strong>
					{field:nib}
				</li>
			</ul>
			<span class="observacoes">
				<strong>Slogan:</strong>
				{field:slogan}
			</span>
			<br/>
			<span class="observacoes">
				<strong>História:</strong>
				{field:historia}
			</span>
			<br/>
			<span class="observacoes">
				<strong>Observações:</strong>
				{field:observacoes}
			</span>
		</span>
	</section>
</div>