<div id="corpo">
	<section class="perfil edit">
		<h1 class="titulo">{$titulo}</h1>
		<p class="ajuda">{$ajuda}</p>
		<span data-id="corpo">
			<!-- Editar -->
			<form name="associacao-perfil-edit" action="{$FormAction}" method="POST" >
				<h2 class="nome-socio">
					<input name="Nome" value="{field:nome}" type="text" maxlength="200" required />
				</h2>
				<div class="coluna no-margin full-width">
					<!-- <img class="foto" src="{$foto-url}"> -->
				<div class="img-uploader" data-id="divUploadImage">
					<img class="img-preview" width="150px" src="{$foto-url}" id="imgUserTumb">
					<input class="upload" name="upload-image" type="file">
					<img class="folder" src="{$imgsPath}pasta-blue.png" alt="procurar">
				</div>

					<div class="info-socio">
						<input  style="width: 10em;" name="Abreviatura" value="{field:abreviatura}" placeholder="Abreviatura" type="text" maxlength="10" size="5" />
						<select class="cfg-search line" name="TipoActividade" placeholder="Tipo Actividade" required>
							<option selected="" disabled="">Tipo de Actividade...</option>
							{field:HTML_TIPOACTIVIDADE}
						</select>
						<br/>
						{$reg-update}
					</div>
				</div>
				<ul class="bloco">
					<li>
						<strong>Telefone:</strong>
						<span class="numeros">
							<input name="Telefone" type="text" value="{field:telefone}" maxlength="11">
						</span>
						<a href="#contactos" onclick="ChangeAttByTagData(this,'span','data-action','href','class','hidden', 'mais contactos','menos contactos');">mais contactos</a>
					</li>
					<span data-action="#contactos" class="hidden">
						<li>
							<strong>Telefone:</strong>
							<span class="numeros">
								<input name="Telemovel" type="text" value="{field:telemovel}" maxlength="11">
							</span>
						</li>
						<li>
							<strong>Fax:</strong>
							<span class="numeros">
								<input name="Fax" type="text" value="{field:fax}" maxlength="11">
							</span>
						</li>
						<li>
							<strong>Outro 1:</strong>
							<span class="numeros">
								<input name="Outro1" type="text" value="{field:outro1}" maxlength="60">
							</span>
						</li>
						<li>
							<strong>Outro 2:</strong>
							<span class="numeros">
								<input name="Outro2" type="text" value="{field:outro2}" maxlength="60">
							</span>
						</li>
					</span>
					<li>
						<strong>Email:</strong>
						<input name="Email" type="email" value="{field:email}" maxlength="80">
					</li>
					<li>
						<strong>Site:</strong>
						<input name="Site" type="text" value="{field:site}" maxlength="80">
					</li>
					<li>
						<strong>Morada:</strong>
						<input name="Morada" type="text" value="{field:morada}" maxlength="550" size="35">
						<span class="line2">
							<input class="numero cpostal" name="Codigo-Postal" type="text" value="{field:codigo_postal}" maxlength="8" size="10" onkeyup="CTTINFO();" required >
							<span class="info-box">{field:concelho_desig}, <span>{field:distrito_desig}</span></span>
						</span>
					</li>
				</ul>
				<ul class="bloco longo">
					<li>
						<strong>Contribuinte (NIF):</strong>
						<span class="numeros">
							<input name="NIF" type="text" value="{field:nif}" maxlength="11">
						</span>
					</li>
					<li>
						<strong>Conta Bancária (NIB):</strong>
						<span class="numeros"><input name="NIB" type="text" value="{field:nib}" maxlength="21" size="25"></span>
					</li>
				</ul>
				<span class="observacoes">
					<input name="Slogan" type="text" value="{field:slogan}" placeholder="Slogan" maxlength="120">
				</span><br>
				<span class="observacoes">
					<strong>História:</strong>
					<textarea name="Historia" placeholder="História">{field:historia}</textarea>
				</span><br>
				<span class="observacoes">
					<strong>Observações:</strong>
					<textarea name="Observacoes" placeholder="Observações/Notas">{field:observacoes}</textarea>
				</span>
				<br/>
				<div class="line botoes">
					<a href="perfil.php"><span data-name="anular" class="botao limpar" >Anular</span></a>
					<span data-name="guardar" class="botao guardar" onClick="ValidateForm('associacao-perfil-edit');">Guardar</span>
				</div>
			</form>
		</span>
	</section>
</div>
<script type='text/javascript'>
	INI_FILEUPLOAD("upload-image","divUploadImage","spanProgressBar");
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'associacao-perfil-edit'); }
</script>