		<footer>
			<div class="account">
				<p class="links-titulo">A sua conta</p>
<!-- 				<a title="Iniciar Tour" href="javascript:void(0);" onclick="javascript:introJs().start();">Iniciar Tour</a>
				 -->				<a title="Editar Conta" href="{$PATH_APP_UI_USER}user-config.php">Editar Conta</a>
				<a title="Sair/Logout" href="{$PATH_APP_PAGES}logout.php">Logout</a>
			</div>
		</footer>
	</body>
</html>