*
{
	box-sizing:		border-box;
	-moz-box-sizing:border-box; /* Firefox */
}
body
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-family: Tahoma, Geneva, sans-serif;
}
.animacao
{
	-webkit-animation: myfirst 0.2s; /* Chrome, Safari, Opera */
	animation: myfirst 0.2s;
	left: 0px;
}
.leftanime
{
	z-index: 10;
	box-shadow: 5px 0px 15px rgba(0,0,0,0.3);
}
.noanimation
{
	left: -331px;
}
.maindiv
{
	height: 100%;
	*left: -280px;
	top: 0px;
	float:left;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
   from {
    left:-250px;
   }
   to { 
    left:0px;
   }
  /*
0%   {left:-250px;}
25%  {left:-200px;}
50%  {left:-150px;}
75%  {left:-100px;}
100% {left:0px;}
*/
}

/* Standard syntax */
@keyframes myfirst
{
0%   {background: red; left:0px; top:0px;}
25%  {background: yellow; left:200px; top:0px;}
50%  {background: blue; left:200px; top:200px;}
75%  {background: green; left:0px; top:200px;}
100% {background: red; left:0px; top:0px;}
}


.leftmenu
{
	display: inline-block;
	border: 1px solid #094094;
	max-width: 300px;
	min-width: 300px;
	height: 100%;
	position: relative;
	float:left;
	padding: 15px;
}
.menu
{
	display: inline-block;
	border: 1px solid #094094;
	background: #cccccc;
	max-width: 900px;
	min-width: 900px;
	height: 100%;
	position: absolute;
}
.ui-loader
{
	display: none;
}

/* TESTE EXEMPLO INTERFACE */
.hidden
{
	display: none;
}
img.bakckground
{
	background: url('/xfit/imgs/road__summer_field__valley.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size: 100% 100%;
	box-shadow: 0px 0px 5px 20px #000;
	-webkit-filter: blur(10px);
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	position: fixed;
	z-index: 5;
}
.maindivbody
{

}
.topmenu
{
	border: 1px solid rgba(0,0,0,0);
	max-height: 70px;
	min-height: 70px;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	padding: 15px;
	position: fixed;
	z-index: 100;

	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);

	background: rgb(117,182,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(117,182,248,1) 0%, rgba(104,172,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,182,248,1)), color-stop(100%,rgba(104,172,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(117,182,248,1) 0%,rgba(104,172,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(117,182,248,1) 0%,rgba(104,172,245,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(117,182,248,1) 0%,rgba(104,172,245,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(117,182,248,1) 0%,rgba(104,172,245,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75b6f8', endColorstr='#68acf5',GradientType=0 ); /* IE6-9 */
}
	.atleta-nome
	{
		color: #FFFFFF;
		font-size: 28px;
		position: absolute;
		left: 150px;
		top: 20px;
	}
.leftmenu
{
	background-color: rgba(66,64,67,0.75);
	border: 1px solid rgba(0,0,0,0);
	max-width: 184px;
	min-width: 184px;
	height: calc(100% - 70px);
	max-height: calc(100% - 70px);
	*position: fixed;
	top: 70px;
	z-index: 101;
}
	.content-up
	{
		color: #eeeeee;
		position: absolute;
		top: -52px;
		left: 0px;
		right: 0px;
		min-width: 100%;
		margin: -1px;
	}
		.img-atleta
		{

		}
			.img-atleta img
			{
				margin-left: 18px;
				width: 110px;
				height: 110px;
				border: 2px solid rgba(255,255,255,1);
				border-radius: 5px;
				box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
			}
	.menu-li
	{
		list-style: none;
		text-align: left;
		padding: 20px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}
		.menu-li li
		{
			line-height: 45px;
			padding: 0px 8px 0px 20px;
			border: 1px solid rgba(0,0,0,0);
			cursor: pointer;
			color: #eeeeee;
		}
		.menu-li li.selected, .menu-li li:hover
		{
			border: 1px solid rgba(0,0,0,0);
			border-top: 1px solid #d49840;
			border-bottom: 1px solid #d49840;

			background: rgb(215,154,65); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(215,154,65,1) 0%, rgba(203,140,34,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,154,65,1)), color-stop(100%,rgba(203,140,34,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(215,154,65,1) 0%,rgba(203,140,34,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(215,154,65,1) 0%,rgba(203,140,34,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(215,154,65,1) 0%,rgba(203,140,34,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(215,154,65,1) 0%,rgba(203,140,34,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d79a41', endColorstr='#cb8c22',GradientType=0 ); /* IE6-9 */
		}
		.menu-li li:hover
		{
			background: #DBAB27;
			border-top: 1px solid #CC9C24;
			border-bottom: 1px solid #CC9C24;
		}
			.menu-li li img
			{
				margin-right: 10px; 
				vertical-align: middle;
				width: 32px;
				height: 32px;
				-webkit-filter: invert(100%); 
			}
.mainarea
{
	border: 1px solid rgba(0,0,0,0);
	**max-height: calc(100% - 70px);
	**min-width: calc(100% - 184px);
	left: 184px;
	top: 70px;
	position: relative;
	z-index: 95;
	padding: 20px;
	*overflow-y: scroll;
}
	.window
	{
		background-color: rgba(250,250,250,0.9);
		padding: 10px;
		margin: 0px 0px 15px 0px;
		border-radius: 0px 0px 5px 5px;
		display: block;
		max-width: 800px;
		text-align: left;
	}
		.bodystatistic
		{
			display: inline-block;
			z-index: 102;
			width: 440px;
			height: 392px;
			background-color: #ffffff;
		}
			.back-canvas
			{
				margin-top: 20px;
				margin-left: 20px;
				width:440px;
				height:392px;
				border: 2px solid rgba(0,0,0,1);
				position:absolute;
				top:0px;
				left:0px;
			}
			.bodystatistic .body-image, .bodystatistic .img-separador
			{
				display: inline-block;
				vertical-align: middle;
				height: 392;
				width: 200;
			}
			.bodystatistic .body-image.hidden, .bodystatistic .img-separador.hidden
			{
				display: none;
			}
			.bodystatistic ul
			{
				display: inline-block;
				top: 120px;
				left: 220px;
				vertical-align: middle;
				list-style: none;
				margin: 0px;
				padding: 0px 0px 0px 20px;
			}
			.bodystatistic ul li
			{
				line-height: 50px;
				border: 1px solid rgba(17,82,148,1);
				padding: 0px 10px 0px 10px;
				margin-top: 10px;
			}
.rightmenu
{
	background-color: rgba(34,34,34,1);
	border: 1px solid rgba(0,0,0,0);
	max-width: 200px;
	min-width: 200px;
	height: 100%;
	padding: 15px;
	position: fixed;
	top: 0px;
	left: calc(100% - 200px);
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
	z-index: 105;
}
	.content-down1
	{
		color: #eeeeee;
		position: absolute;
		top: 54px;
		left: 0px;
		min-width: 100%;
		max-width: 100%;
	}
	.content-down2
	{
		color: #eeeeee;
		position: absolute;
		bottom: 30px;
		right: 18px;
		min-width: 100%;
		max-width: 100%;
		text-align: right;
	}
		.img-professor img
		{
			width: 120px;
			height: 120px;
			border-radius: 5px;
		}
		.menu-li-normal
		{
			list-style: none;
			text-align: right;
			padding: 14px 0px 0px 0px;
			margin: 0px 0px 0px 0px;
			font-weight: lighter;
			font-size: 12px;
		}
			.menu-li-normal li
			{
				padding: 0px 0px 0px 0px;
				cursor: default;
				color: #eeeeee;
			}
			.menu-li-normal li a
			{
				color: #4297f2;
				text-decoration: none;
			}
			.menu-li-normal li a:hover
			{
				text-decoration: underline;
			}
				.menu-li-normal li.treinador-nome
				{
					font-size: 24px;
				}
.right-open
{
	background-color: rgba(255,255,255,0.3);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 101;
}
.animacao-right
{
	-webkit-animation: myfirst 0.3s; /* Chrome, Safari, Opera */
	animation: myfirst 0.3s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
   from {
    left: 100%;
   }
   to { 
    left: left: calc(100% - 200px);
   }
}