<div id="corpo" class="blue">
	<h2 class="titulo">{$titulo}</h2>
	<p class="ajuda">{$ajuda}</p>

	<form class="form" action="{$FORMAction}" method="POST" name="novo-registo-assoc">
		<div class="col long middle">
			<fieldset class="fieldset">
				<legend>Logotipo</legend>   
				<div class="img-uploader" data-id="divUploadImage">
					<img class="img-preview" width="120px" src="{$foto-url}" id="imgUserTumb">
					<input class="upload" name="upload-image" type="file">
					<img class="folder" src="{$imgsPath}pasta-blue.png" alt="procurar">
				</div>
			</fieldset>
			<fieldset class="fieldset fluid">
				<legend>Informações Principais</legend>
				<input class="input" type="text" name="Nome" placeholder="Nome da Associação" maxlength="80" required>
				<input class="input" type="text" name="NIF" placeholder="NIF" maxlength="11">
				<select class="select" name="TipoActividade" placeholder="Tipo Actividade" required>
					<option selected disabled="">Tipo de Actividade...</option>
					{$HTML_TIPOACTIVIDADE}
				</select>
			</fieldset>
			<fieldset class="fieldset morada-box">
				<legend>Localização</legend>
				<input class="input codigo-postal" name="Codigo-Postal" placeholder="Código Postal" type="text" onkeyup="CTTINFO();" maxlength="8" required >
				<div class="info-box">Introduza um código postal<span>(ex: 3000-123)</span></div>
				<input class="input block" name="Morada" placeholder="Morada" type="text" maxlength="550" required>
			</fieldset>
			<fieldset class="fieldset fluid">
				<legend>Contactos</legend>
				<input class="input" type="text" name="Email" placeholder="email" maxlength="80">
				<input class="input numero" type="text" name="Telefone" placeholder="Telefone" maxlength="11">
			</fieldset>
			<span class="info block">Após o registo pode adicionar e alterar estas informações.</span>
			<span class="botoes center">
				<a class="botao navegar" href="#continuar" onclick="javascript:ValidateForm('novo-registo-assoc');">continuar</a>
			</span>
		</div>
	</form>
</div>
<script type='text/javascript'>
	INI_FILEUPLOAD("upload-image","divUploadImage","spanProgressBar");
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'novo-registo-assoc'); }
</script>