/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* -------- Tipografia ------- *
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2012 Fontspring
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris Font Foundry
 * License URL: http://www.fontspring.com/fflicense/exljbris
 */


 @font-face {
    font-family:'Anivers';
    src: url('type/Anivers_Regular-webfont.eot');
    src: url('type/Anivers_Regular-webfont.eot?#iefix') format('embedded-opentype'), url('type/Anivers_Regular-webfont.woff') format('woff'), url('type/Anivers_Regular-webfont.ttf') format('truetype'), url('type/Anivers_Regular-webfont.svg#AniversRegular') format('svg');
    font-weight: normal;
    font-style: normal;
 }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family:'Anivers';
        src: url('type/Anivers_Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    }
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   QuotaGest NeoUI ----------------------------------------------------------
   ========================================================================== */
body {
    margin: 0;
    padding: 0;
    /* margin-top: -22px; */
    font-family: 'Open Sans', sans-serif;
}

#layout {
    padding-left: 170px; /* Largura do #nav principal */
    position: relative;
    font-size: 1em;
    margin-top: 0px; /* Fix sem jeito nenhum .... */
}

#main {
    padding-left: 0; 
}

#main.main-sub-nav {
    margin-left: 340px; /* Corresponde à largura do #sub-nav */
    z-index: 2;	/* elementos ficavam por cima de (id="sub-nav") */
}

/* --------------------------------------------------------------------------
    Global Search
   -------------------------------------------------------------------------- */

#global-search {
    width: 130px;
    width: calc(100% - 40px);
    margin: 0;
    padding:5px 20px;
    border: none;
    height: 40px;
    background: #444;
    color: #FFF;
    border-bottom: 2px solid transparent;
    font-family: 'Open Sans', sans-serif;
}

#global-search:focus, #global-search:hover, #global-search:active {
    outline: none;
    border-bottom: 2px solid;
    border-color: #09F;
    background: #334;
}

/* --------------------------------------------------------------------------
    Navegação Geral
   -------------------------------------------------------------------------- */


#nav {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
#nav {
    margin-left: -170px; /* Deve corresponder ao padding-left do #layout */
    width: 170px;
    background: #222;
    text-align: left;
}

.menu {
    visibility: visible;
    z-index: 2;
    width: 100%;
}

.menu > ul {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1
}

.menu li {
    position: relative;
    margin: 0;
    vertical-align: middle;
}

.menu a {
    display: block;
    line-height: 1.4em;
    padding: 0.7em 1em 0.6em 1em;
    text-decoration: none;
    white-space: nowrap
}

.menu .aviso {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    font-size: 0.9em;
    color: #F90;
}

/* -------- Menu Principal -- */
.menu-principal {
    margin-top: 20px;
    font-family: 'Anivers', Calibri, sans-serif;
    font-size: 1.1em;
}

.menu-principal a {
    color: #aaa;
    padding-left: 35px;
}

.menu-principal a:after,
.menu-principal a:hover:after,
.menu-principal a:active:after,
.menu-principal a.activo:after {
    display: block;
    content: '';
    position: absolute;
    left: 10px;
    margin-bottom: -10px;
    bottom: 50%;
    height: 20px;
    width: 20px;
    background-size: 20px 40px;    
}

.menu-principal a:hover, .menu-principal a:active {
    background: #334;
    color: #FFF;
}

/* Socios */
.menu-principal a[href="?op=socios"]:after {
    background-image: url('../img/icons/ico-users-sprite.png');
    background-position:  bottom left;
}

.menu-principal a[href="?op=socios"]:hover:after,
.menu-principal a[href="?op=socios"]:active:after,
.menu-principal a.activo[href="?op=socios"]:after {
    background-image: url('../img/icons/ico-users-sprite.png');
    background-position: top left;
}

/* Entidades */


.menu-principal a.activo, 
.menu-principal a.activo:hover, 
.menu-principal a.activo:active {
    color: #FFF;
    background: #445;
}

/* SConfigurações */
.menu-principal a[href="?op=configs"]:after {
    background-image: url('../img/icons/ico-cfg-sprite.png');
    background-position:  bottom left;
}

.menu-principal a[href="?op=configs"]:hover:after,
.menu-principal a[href="?op=configs"]:active:after,
.menu-principal a.activo[href="?op=configs"]:after {
    background-image: url('../img/icons/ico-cfg-sprite.png');
    background-position: top left;
}

/* -------- Menu Secundário -- */

#sub-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 150px; /* Deve ser Igual ao .top-bar+organizar e sub elementos */
    margin-left: 0; /* Deve ser 0 ZERO */
    width: 340px;
    background: #fff;
    text-align: left;
    z-index: 999;	/* elementos ficavam por baixo de (class="main-sub-nav") */   
}

#sub-nav .top-bar {
    width: 340px;
    padding: 0;
    height: 150px;
    background: #EEE;
    border-bottom: 1px solid #AAA;
}

#sub-nav.organizar-close {
    margin-top: 110px;   
}

#sub-nav.organizar-close .top-bar {
    height: 110px;
}



#sub-nav>.top-bar>.organizar {
    height: 40px;
    vertical-align: bottom;
    text-align: right;
    padding: 0 10px;
    font-size: 0.9em;
    line-height: 40px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);

}

#sub-nav.organizar-open >.top-bar>.organizar {
    display: block;
}

#sub-nav.organizar-close >.top-bar>.organizar {
    display: none;
}

/* -------- Listagem no Menu Secundário -- */

.listagem {
    color: #334;
    overflow: hidden;
    overflow-y: hidden;
    background: #FFF;
    border-right: 1px solid #DDD;
}
    
.listagem .item {
    font-size: 0.9em;
    padding: 10px 15px 10px 40px;
    border-left: 5px solid transparent;
    position: relative;
    display: block;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.listagem .item::before {
    content:"";
    display:block;
    position: absolute;
    width: 120%;
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    margin-left: -20%;
    margin-top: -10px;
}

.listagem .item:last-child:after {
    content:"";
    display:block;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    bottom: 0;
    left: -5px;
}

.listagem .item:nth-child(odd) {
    background: rgba(255, 255, 255, 0.3);
}

.listagem .item:hover {
    border-left: 5px solid #09F;
    background: rgba(0, 153, 255, 0.3);
    cursor: pointer;
    -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.listagem .item.ativo {
    background: #09F;
    color: #FFF;
}

.listagem .item.ativo:hover {
    border-left: 5px solid #FFF;
    cursor: s-resize;
}

.listagem h5 {
    margin: 0; 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

.listagem .item > span {
    font-size: 0.8em;
}

.listagem .item > .checkbox-wrap {
    position: absolute;
    left: 3px;
    top: 1em;
    height: 100%;
    line-height: 1em;
    vertical-align: middle !important;
    z-index: 999;
}

.listagem .item > .checkbox-wrap>.checkbox+label:after {
    top: 0.33em;
}




/* --------------------------------------------------------------------------
    Corpo Principal
   -------------------------------------------------------------------------- */
#main {
    padding: 0;
    margin: 0;
    top: 0;
    border-top: 1px red;
}
#main.main-sub-nav .titulo,
#corpo.cfg .titulo,
#sub-nav .titulo {
    width: 130px;
    width: calc(100% - 40px);
    margin: 0;
    padding:5px 20px;
    border: none;
    height: 40px;
    background: #09F;
    color: #FFF;
    border-bottom: 2px solid transparent;
    font-family: 'Anivers', sans-serif;
    vertical-align: middle;
    line-height: 42px;
}


#corpo {
    margin-top: 110px;
}

#corpo.cfg>.conteudo {
    margin-left: 5px;   
}

#corpo .content-header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #FFF;
    height: 110px;
    border-bottom: 1px solid #ccc;
    z-index: 900;

}

.content-header .botoes {
    padding:0;
    margin: 0;
    line-height: 40px;
    vertical-align: middle;
}

.content-header .botoes.tabs {
    padding:0;
    margin: 0;
    line-height: 58px;
    vertical-align: middle;
    background: rgba(238, 238, 238, 0.76);
}

.top-bar .botoes {
    font-size: 0.85em;
    height: 58px;
    background: #FFF;
    border-right: 1px solid #CCC;
}

.botoes.form-footer {
    width: 100%;
    position: relative;
    bottom: -15px;
    left: 0;
    background: #333;
    height: 60px;
    z-index: 900;
    width: 100%;
    margin: 0 -1px -6px 0;
}

@media (min-width: 1390px) {
    .botoes.form-footer {
        display: none;
    }
}

/* -------- Divisores -- */

.divisor {
    background: #FFF;
    border-bottom: 2px solid #444;
    margin-bottom: 6px;
}

.divisor .cwrap {
    margin: 0;
}

.divisor>h3 {
    display: block;
    padding: 0 10px;
    margin: 0;
    line-height: 2.2em;
    font-size: 1em;
    background: #444;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.divisor>h3>select {
    background: #444;
    border: transparent;
    color: #FFF;
    padding: 0 10px;
    width: 100%;
    margin-left: -5px;
    margin-right: 0;
    border-left: 2px solid #aaa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.divisor>h3>select:focus {
    outline: none;
}

.divisor>h3>select:hover {
    background-color: #555;
}

.divisor-sub {
    margin-bottom: 3px;
}

.divisor-sub:last-child {
    margin-bottom: 0px;
}

.divisor-sub .tabela {
    border-top: 1px solid transparent;
}

.divisor-sub>h4 {
    display: block;
    padding: 0;
    margin: 0;
    line-height: 2em;
    font-size: 0.95em;
    background: #EEE;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.divisor>h3:hover {
    background: #444;
}


/* Divisor Closed */
.divisor.closed,
.divisor-sub.closed {
    border-bottom: none;    
}

.divisor.closed>.cwrap,
.divisor-sub.closed>.cwrap {
    display: none;  
}

.static-header.fix-bot {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #FFF;
}

/* --------------------------------------------------------------------------
    Inputs e Elementos
   -------------------------------------------------------------------------- */

input, select {
    font-family: 'Open Sans', sans-serif;
}


/* -------- Input Full -- */

.input-full {
    width: calc(100% - 40px);
    margin: 0;
    padding:5px 20px;
    border: none;
    height: 40px;
    background: #f0f9ff;
    color: #334;
    border-bottom: 2px solid #BBC;
}

.input-full:focus, .input-full:hover, .input-full:active {
    outline: none;
    border-bottom: 2px solid;
    border-color: #09F;
    background: #b6dcf5;
}

/* -------- Select -- */

.select {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #DDD;
    border-left: 3px solid #666;
    height: 2em;
    padding: 0 0 0 5px;
    /* box-shadow: inset 0 0 3px #EEE; */
    box-shadow: none;
    background: #FFF;
}

.select:hover:focus,
.select:focus,
.select:active {
    outline-width: 3px;
    outline-color: #09F;
    outline-style: solid;
}

.select:last-child {
    margin: 0;   
}

/* *** Image Uploader António Pinto */
.img-uploader { position: relative; display: inline-block; z-index: 1; overflow: hidden; }
.img-uploader:hover { outline: 2px solid #09F; }
.img-uploader>.img-preview { position: relative; z-index: 2; }
.img-uploader>.upload { position: absolute; display: block; width: 100%; height: 100%; top: 0; z-index: 4; opacity: 0; }
.img-uploader>.folder { position: absolute; width: 30px; height: 30px; bottom: 10px; left: 50%; margin-left: -15px; z-index: 3; }
/* *** // Image Uploader */


.input {
	display: inline-block;
	position: relative;
	width: 12em;
	vertical-align: middle;
	font-family: inherit;
	font-size: 1em;
	line-height: 1.4em;
    color: #444;
	box-shadow: none;
    border: 1px solid #ccc;
	border-bottom: 1px solid #666;
	margin: 0.2em 0 0.4em 0;
	padding: 0.6em 0.5em 0.4em 0.5em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

textarea.input {
    height: auto;
    min-height: 3em;
}

textarea.input[disabled] {
    resize: none;
}

.input.long,
.long-inputs .input {
    width: 20em;
}

ul.long-labels label {
    min-width: 10.5em;   
}

.input.full,
.full-inputs .input {
    width: 100%;
    width: calc(100% - 1em);
    max-width: none;
    min-width: none;
}

.fieldset .input:last-child {
    /* margin-bottom: 0; */   
}

.input.pencil,
.pencil .input {
	padding: 0.6em 0.5em 0.3em 1.6em;
    background: url('../img/icons/edit-grey.png') 0.1em center no-repeat;   
}

.input:hover,
.select:hover {
    outline: 1px solid #09F;
    border-color: transparent;
}

.input[readonly="readonly"],
.select["readonly"]:hover

.col.main .input {
    background: #FFF;
}

.input:focus {
    outline: none;
    box-shadow:none;
    outline: 2px solid #09F;
}

.input.small {
    max-width: 7em;  
}

.input.mini {
    max-width: 4.4em;  
}

.edicao>.input,
.input.block {
    display: block;
    width: calc(100% - 1em - 2px);
}

.input+.req-invalid {
    display: block;
    position: absolute;
}

.line {
    position: relative;
    font-family: 'Anivers', Calibri, sans-serif;
    color: #444;
    border:none;
    width: 100%;
    margin: 0 0 0.2em;
}

.input.fluid,
.fieldset.fluid .input {
    width: 90%;
    width: calc(100% - 1em);
    min-width: 0;
}

.input.fluid.pencil,
.fluid.pencil .input,
.fieldset.fluid .input.pencil {
    width: 90%;
    width: calc(100% - 2.1em);
    min-width: 0;
}

.input[type="date"],
.line .input[type="date"] {
    width: 10em;
}

/* .input.numero { font-family: 'Open Sans', sans-serif; height: 1.2em; padding: 0.6em 0.5em 0.5em 0.5em;}
.numero, .numeros, .input[type="date"] { font-family: 'Open Sans', sans-serif;} */

.input-label {
    color: #09F;
    font-size: 0.8em;
    position: absolute;
    padding: 0em 0.5em 0em 0.5em;
    margin-top: -0.3em;
    background:#FFF;
    z-index: 2;
    margin-left: 0.5em;
}


.fieldset>.botoes {
    margin: 0;
    padding: 0;
}
.morada-box {
    display: block;
    position: relative;
}

.morada-box>.info-box {
    display: block;
    position: absolute;
    top: 1.75em;
    right: 0.5em;
    width: 12em;
    height: 2.6em;
    padding: 0.3em 0.3em 0.5em 0.3em;
    font-size: 0.8em;
    line-height: 1.4em;
    text-align:center;
    background: #0099FF;
    color: #FFF;
    border-radius: 2px;
    vertical-align: middle;
}
.morada-box>.info-box:before {
    content:' ';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: -21px;
    top: 50%;
    margin-top: -9px;
    border-style: solid;
    border-width: 8px 11px 8px 10px;
    border-color: transparent #09F transparent transparent;
}

.morada-box>.info-box>span {
    display: block;
    margin: 0;
    padding: 0;
}

/* CHANGES: *** One Line Inputs */
.input.style-line {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	font-size: 1em;
	line-height: 1em;
	background: #FFF;
    color: #666;
	box-shadow: none;
	border-bottom:1px solid #666;
	border-left: none;
	border-right: none;
    margin: 0 0 0.5em 0;
    padding: 0.4em 0.5em 0em 0.5em;
}

.input.style-line:focus {
    outline: none;
    color: #444;
	border-color:#d7df23;
}

.input.style-line~input[type="button"] {
    position: absolute;
    display:block;
    top: 0;
    right: -1em;
    height: 1.55em;
    width: 2em;
    padding: 0 0 0 0;
    background: url(../img/icons/lupa.png) center no-repeat;
    border: none;
    color: transparent;
}
.input.style-line:hover~input[type="button"],
.input.style-line:focus~input[type="button"],
.input.style-line~input[type="button"]:hover {
    background: #d7df23;
    top: 0px;
    background: url(../img/icons/lupa-active.png) center center;
}

.titulo .filtrar {
	display: inline-block;
	position: relative;
	margin: -0.7em 0 -0.5em 0;
	vertical-align: middle;
    padding: 0;
    font-size: 0.75em;
    border-bottom: 2px solid #AAB;;

}

.titulo .filtrar .input.style-line {
        margin: 0;
}

/* -------- Info Boxs -- */

.info {
    font-size: 0.8em;
    font-family: 'Calibri', sans-serif;
    color: #999;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
    position: relative;
    cursor: help;
}

.info.block {
    display: block;
    padding: 0.4em 2em 0.4em 0.5em;
    width: 90%;
    margin: 0 auto 0 auto;
    width: calc(100% - 2.5em);
}

.info.block:before {
    content:'?';
    display: block;
    position: absolute;
    right: 0em;
    text-align: right;
    background: #d7df23;
    color: #FFF;
    font-family: Calibri, sans-serif;
    padding: 0 0.5em;
    -webkit-border-radius: 2ox;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.info.link {
    border: none;
    display: block;
    color: blue;
}

.info.link:hover {
    cursor: pointer;
}



/* --------- Configurações ------- */

.lista {
    min-width: 14em;
    margin: 1em 0.5em;
    list-style-type: none;
    list-style: none;
    padding: 0;
    text-align: left;  
}

.lista li {
    position: relative;
    line-height: 2em;
    margin: 0.3em 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #FFF;
}

.lista li a,
.lista li .item {
    display:block;
    padding: 0 0.5em;
    height: 2em;
    color:inherit;
    text-decoration: inherit;
    border: 1px solid transparent;
    border-left: 2px solid #666;
    background: #eee;
}

.lista li a>.botoes,
.lista .editavel>.botoes {
    display:block;
    content: "\f184";
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #666;
    padding: 0;
    margin: 0;
    vertical-align: top;
    font-size: 0.8em;
}

.lista li a>.botoes,
.lista .editavel>.botoes>button:hover {
    color: #222;
}

.lista li a>.botoes,
.lista .editavel>.input:hover+.botoes>button {
    color: #FFF;
}

.lista li a>.botoes>button,
.lista .editavel>.botoes>button {
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
}

.lista li .item.input {
    background: #FFF;
    outline: none;

}

.lista li .item.input[disabled] {
    outline-color: transparent;
    background: #EEE;
}
    
.lista li .item.input:hover {
    background: #FFF;
    outline: none;
    color: #222;
    border: 1px solid #ccc;
    border-bottom: 2px solid #444;
}

.lista li a:hover,
.lista li .input.item[disabled]:hover {
    position: relative;
    background: #09F;
    color: #FFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid transparent;
    border-left: 2px solid #666;
}

.lista li .item.input[disabled]:hover {
    outline-color: transparent;
    outline: none;
}

.input[type="number"][disabled]::-webkit-outer-spin-button,
.input[type="number"][disabled]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* *********** PAULO MEXEU AQUI ********** */
/* *********** PAULO MEXEU AQUI ********** */
.lista li .item.input:hover+.botoes button
{
	color: #ccc;
}
.lista li .item.input[disabled]:hover+.botoes button
{
	color: #fff;
}
.lista li .item.input
{
	border: 1px solid #fff;
	border-left: 2px solid #666;
	border-bottom: 2px solid #fff;
}
.lista li .item.input[disabled]
{
	border: 1px solid #eee;
	border-left: 2px solid #666;
	border-bottom: 1px solid #eee;
}

/* Quotas em Aberto */

.lista.quotas-aberto {
    min-width: 14em;
    margin: 1em 0.5em;
    list-style-type: none;
    list-style: none;
    padding: 0;
    text-align: left;  
}

.lista.quotas-aberto li.modalidade {
    background: #FFF;
}

.lista.quotas-aberto li.total{
    background: #953b3b;
    color: #FFF;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

    
.lista li.total a:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
    

.lista.quotas-aberto li .numero {
    display: inline-block;
    float: right;
}

.inline {
    display: inline-block;
     vertical-align: top;
    display: inline-block;
    width: auto;
}



/* --------------------------------------------------------------------------
    Botões
   -------------------------------------------------------------------------- */

/* -------- Caixa de Botões -- */

.botoes {
    margin: 15px ;
    padding: 0;
}

/* -------- Botão Geral -- */

.botao {
    text-decoration: none;
    border: none;
    text-align: center;
    margin: 0.5em 0.2em;
    vertical-align: middle;
    line-height: 1.4em;
    font-weight: normal;
	cursor: pointer;
	margin: 10px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
    box-shadow: 0 4px #036cb2;
    border-radius: 2px;
}

.botao.inline {
    vertical-align: inherit;
	margin: 0px;
}


.botao:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
}

.botao:hover {
    background: #29a9ff;
    color: #FFF;
    text-decoration: none;
}

.botao:active {
	box-shadow: 0 1px #036cb2;
	top: 3px;
}

/* -------- Botão Adicionar -- */

.botao.adicionar {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background: #09F;
    color: #FFF;
    text-shadow: none;
    padding: 8px 20px;
    box-shadow: 0px 3px 0px #07b;
}

.botao.adicionar:hover {
    background: #29a8fd;   
}
.botao.adicionar:active {
	box-shadow: 0 1px #036cb2;
	top: 2px;
}

/* -------- Botão Guardar -- */

.botao.guardar {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background: #CC3;
    color: #551;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    padding: 5px 15px;
    box-shadow: 0px 1px 0px #661;
}

.botao.guardar:hover {
    background: #b4c616;   
}
.botao.guardar:active {
	box-shadow: 0 0px #661;
	top: 1px;
}

/* -------- Botão Editar -- */

.botao.editar {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background: #CDF;
    color: #334;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    padding: 4px 15px;
    box-shadow: 0px 1px 0px #567;
}

.botao.editar:hover {
    background: #dde;   
}
.botao.editar:active {
	box-shadow: 0 0px #567;
	top: 1px;
}

/* -------- Botão Apagar -- */

.botao.apagar {
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    background: #D44;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    padding: 4px 12px;
    box-shadow: 0px 1px 0px #733;
}

.botao.apagar:hover {
    background: #D66;   
}
.botao.apagar:active {
	box-shadow: 0 0px #733;
	top: 1px;
}

/* -------- Botão Adicionar -- */

.botao.toggle {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background: #09F;
    color: #FFF;
    text-shadow: none;
    padding: 4px 15px;
    box-shadow: 0px 3px 0px #07b;
    font-size: 0.85em;
}

.botao.toggle:hover {
    background: #29a8fd;   
}
.botao.toggle:active {
	box-shadow: 0 1px #036cb2;
	top: 2px;
}



/* -------- Botão Anular -- */

.botao.anular {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background: #CDF;
    color: #334;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    padding: 4px 15px;
    box-shadow: 0px 1px 0px #567;
}

.botao.anular:hover {
    background: #dde; 
}
.botao.anular:active {
	box-shadow: 0 0px #567;
	top: 1px;
}

/* -------- Botão Seta-Baixo -- */

.botao.seta-baixo {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    background: #999;
    color: #FFF;
    text-shadow: none;
    padding: 2px 6px 3px 6px;
    box-shadow: 0px 0px 0px #07b;
}

.botao.seta-baixo:hover {
    background: #29a8fd;   
}
.botao.seta-baixo:active {
	box-shadow: 0 0px #036cb2;
	top: 0px;
}

/*  Botoões com Icons */
.botao.ico {
    box-shadow:  none;
    border-radius: 1px;
    font-family: "foundation-icons" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    padding: 0 !important;
    background: none;
    font-size: 1.4em;
    color: #999;
}

/* ------------------------ */
/* --------- Tabulações -- */
/* ---------------------- */

/* --------- Tabulações -- */
.botao.tab {
    display: inline-block;
    margin: 0 -2px 0 0;
    font-size: 1em;
    font-family: 'Anivers', sans-serif;
    background: #FFF;
    color: #999;
    text-shadow: none;
    padding: 0px 25px 0px 15px;
    height: auto;
    line-height: 55px;
    vertical-align: bottom;
    border-bottom: 4px solid #999;
    -webkit-border-radius: 0px 2px 0px 0px;
    -moz-border-radius: 0px 2px 0px 0px;
    border-radius: 0px 2px 0px 0px;
    z-index: 45;
    position: relative;
    box-shadow: none;
}

.botao.tab + .botao:not(.tab) {
    margin-left: 25px !important;   
}

.botao.tab:hover,
.botao.tab.active {
    color: #225;
    border-bottom-color: #09F;
    top: 0px;
    z-index: 50;

}

.botao.tab:active {
	top: 0px;
    z-index: 50;
}


/* --- Tab Inline Botoes ---- */

.botoes-tab {
    display: none;   
}

.botao.tab.active:not(.no-btn) {
    padding-right: 150px;
    position: relative;
}

.botao.tab.active {
    position: relative;
}

.botao.tab.active > .botoes-tab {
    display: block;
    position: absolute;
    height: 55px;
    width: 140px;
    top: 0;
    right: 0;
    text-align: right;
}


/* Tab Divisores */
.divisor-sub>h4>.botao.tab {
    padding: 0.2em 25px 0px 15px;
    line-height: 2em;
    font-family: 'Open Sans', sans-serif;
}

.divisor-sub>h4>.botao.tab:hover,
.divisor-sub>h4>.botao.tab.active {
    color: #225;
    border-bottom-color: #555;
    top: 1px;
    z-index: 50;
    background: #555;
    color: #FFF;
    border-bottom-width:5px;
}

.divisor-sub>h4>.botao.tab.active:not(.no-btn) {
    padding-right: 30px;
    position: relative;
}

/* Select Tab */
.divisor .tab.select  {
    padding: 0 0 0 0;
    min-width: 70px;
    height: 38px;
    line-height: 2em;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2px;
    color: #999;
}

.divisor .tab.select:hover,
.divisor .tab.select .active {
    color: #225;
    border-bottom-color: #555;
    top: 1px;
    z-index: 50;
    background: #555;
    color: #FFF;
    border-bottom-width:5px;
    outline: none;
    -webkit-border-radius: 2px 2px 0px 0px;
    -moz-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
}

.divisor .tab.select.active:not(.no-btn) {
    padding-right: 30px;
    position: relative;
}



/* --------------------------------------------------------------------------
    Etiquetas
   -------------------------------------------------------------------------- */

/* -------- Etiqueta Geral -- */
.label {
    padding: 0.1em 0.5em 0.2em 0.5em;
    border-radius: 2px;
    letter-spacing: 0.01em;
    margin-right: 0.25em;
}

/*Etiquetas nas Listagems (sócios, entidades, etc) */
.listagem>.item .label {
    font-size: 0.8em;
}

.label:empty {
    display: none;
}

.label:last-child {
    margin-right: 0;    
}

.label.grey-blue {
    background: #85b2d0;
    color: #FFF;
}

.label.verde {
    background: #d1cb31;
    color: #FFF;   
}

.label.orange {
    background: #e5af35;
    color: #FFF;    
}

.label.dark-red {
    background: #de4141;
    color: #FFF;    
}

.label.soc-num {
    background: #ddd;
    color: #888;
}

/* CHANGES: *** (.tags) */
.tags > .tag { display: none; }

.tags > label { 
    display: inline-block;
    color: #FFF;
    background: #666;
    border-radius: 3px;
    padding: 0.3em 0.6em;
    margin: 0 0 0.5em 0;
    cursor: pointer;
    -webkit-transition: background 300ms ease-out;
    -moz-transition: background 300ms ease-out;
    -o-transition: background 300ms ease-out;
    -ms-transition: background 300ms ease-out;
    transition: background 300ms ease-out;
}
.tags > .tag:checked + label { background: #09F; }
.tags > .tag + label:hover { background: #999; }
.tags > .tag:checked + label:hover { background: #22aaff; }

.tags > .tag:checked + label,
.tags > .tag + label:hover,
.tags > .tag:checked + label:hover {
    -webkit-transition: background 100ms ease-in;
    -moz-transition: background 100ms ease-in;
    -o-transition: background 100ms ease-in;
    -ms-transition: background 100ms ease-in;
    transition: background 100ms ease-in;
}

/* FIXME: Compatibilidade */
.tags > input[type="radio"] { display: none; }
.tags > label { 
    display: inline-block;
    color: #FFF;
    background: #666;
    border-radius: 3px;
    padding: 0.3em 0.6em;
    cursor: pointer;
}
.tags > input[type="radio"]:checked + label { background: #09F; }
.tags > input[type="radio"] + label:hover { background: #999; }
.tags > input[type="radio"]:checked + label:hover { background: #22aaff; }


/* CHANGES: *** (.checkbox) Checkboxes */
.checkbox {
	display: none;
}

.checkbox + label {
	cursor: pointer;
	font-size: 1em;
    vertical-align: middle;
}

.checkbox + label {
	background-color: #FFF;
	border: 1px solid #C1CACA;
	padding: 13px;
	border-radius: 2px;
	display: inline-block;
	position: relative;
}

.checkbox + label:hover {

}

.checkbox:checked + label {
	background-color: #ECF2F7;
	border: 1px solid #92A1AC;
	color: #243441;
}

.checkbox:checked + label:after {
	content: '\2713';
	position: absolute;
	top: 0px;
	left: 0;
	color: #758794;
	width: 100%;
	text-align: center;
	font-size: 21px;
	padding: 0;
	vertical-align: text-top;
}

.checkbox.up-down + label {
	color: inherit;
}

.checkbox.up-down:checked + label {
	background-color: inherit;
	color: inherit;
}

.checkbox.up-down + label:after {
    content: '\2193';
	position: absolute;
	top: -10px;
	left: 0;
	color: #758794;
	width: 100%;
	text-align: center;
	font-size: 21px;
	padding: 0;
	vertical-align: text-top;
}
    
.checkbox.up-down:checked + label:after {
	content: '\2191';
    top: -10px;
}



/* --------------------------------------------------------------------------
    Estrutura
   -------------------------------------------------------------------------- */

/* ------- * -------- Colunas ------- * ------- */

.coluna {
    vertical-align: top;
    display: inline-block;
	min-width: 21em;
    width: auto;
    margin: 0.2em;
    padding: 0;
    *background: #eaf2f6;
    transition: all 200ms ease-in;
}

.coluna.no-margin {
    margin: 0;
    padding: 0em;
}

.coluna.full-width {
    width: 100%;
    min-height: 185px;
}

.col {
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding: 0 0.5em;
    width: auto;
    transition: all 200ms ease-in;
}

.col.w-50 {
    width: 45%;
    width: calc(50% - 1.5em);
}

.col > h3 {
    position: relative;
    left: -0.5em;
    font-size: 1.1em;
    line-height: 2.1em;
    padding: 0 0.5em;
    margin: 0 0 0.7em 0;
    background: #444;
    color: #FFF;
    width: 100%;
    font-family: 'Anivers', sans-serif;
}

.col.bg-azul {
    background: #E6F0FF;
}



.col.long {
    width: 25em;
    max-width: 100%;
}

.multi .col.long {
    width:21em;
}

.col.long.mg-1 {
    width: 96%;
    width: calc(100% - 1em);
}

/* --------------------------------------------------------------------------
    Perfis
   -------------------------------------------------------------------------- */

.form {
    position: relative;
    display: inline-block;
    width: auto;
    color: #444;
    min-height: 100%;
    padding: 0 15px;
}

.form .col:not(.main) {
    /* Free For use */
}

/* CHANGES: *** (.fieldset) */
.fieldset {
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0.2em 0.5em 0.5em 0.5em;
    margin: 0.5em 0 0.5em 0;
    -webkit-transition: border 300ms ease-out;
    -moz-transition: border 300ms ease-out;
    -o-transition: border 300ms ease-out;
    -ms-transition: border 300ms ease-out;
    transition: border 300ms ease-out;
}

.maxwidth-long .fieldset {
    max-width: 20em;
}

.fieldset:hover,
.fieldset:focus {
    border-color: #09F;
    -webkit-transition: border 200ms ease-in;
    -moz-transition: border 200ms ease-in;
    -o-transition: border 200ms ease-in;
    -ms-transition: border 200ms ease-in;
    transition: border 200ms ease-in;
}

.fieldset > legend {
    font-family: 'Anivers', Calibri, sans-serif;
    font-size: 0.9em;
    color: #666;
    padding: 0 0.5em;
}

.fieldset:hover > legend,
.fieldset:focus > legend {
    color: #08E;   
}

.fieldset.inline {
    display: inline-block;
}

.info-socio, 
.info-entidade {
	vertical-align: top;
}

.perfil-ver {
    font-family: 'Open Sans', sans-serif;
}

.perfil-ver .input {
    margin: 0.2em 0 0.3em 0.1em;
	padding: 0.3em 0.5em 0.4em 0.5em;   
}

.perfil-ver .info-socio .input {
    vertical-align: top;
}

.perfil-ver .input[disabled] {
    border-color: transparent;
    background: none;
    outline-color: transparent;
}

.perfil-ver .input[disabled]:hover {
    border-color: transparent;
    background: none;
    outline-color: transparent;
}

.input[type="number"][disabled]::-webkit-outer-spin-button,
.input[type="number"][disabled]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.select[disabled] {
    -webkit-appearance: none;
    box-shadow: none;
    border-color: transparent;
}

.select[disabled]:hover {
    outline: none;
}

.select.label {
    box-shadow: none;
}

.perfil-ver .nome-socio {
    margin: 25px 0 0 90px;
    padding: 0;
    border-bottom: 1px solid #CCC;

}

.perfil-ver.entidade .nome-socio {
    margin: 25px 0 0 0px;
    padding: 0;
    border-bottom: 1px solid #CCC;

}

.perfil-ver .nome-socio>.input{
    margin: 0 0 0 10px;
    min-width: 15em;
    max-width: 95%;
    font-size: 0.9em;
    font-family: 'Anivers', sans-serif;
} 

.perfil-ver.entidade .nome-socio>.input{
    margin: 0 0 0 -10px;
} 

.input.long-text { font-size: 0.8em; }

.perfil-ver .img-uploader {
    border: 2px solid #CCC;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top: 15px;
    left: 0;
}

.perfil-ver .img-uploader.disabled > .folder { display: none; }
.perfil-ver .img-uploader.disabled:hover { outline: none; }

.perfil-ver .socio-details {
    margin-left: 113px;  
    font-size: 0.8em;
}

.perfil-ver.entidade .socio-details {
    margin-left: 0px;  
    font-size: 0.8em;
}

.perfil-ver .socio-codigo {
    vertical-align: middle;
    line-height: 3em;
    font-weight: bold;
}

.perfil-ver .socio-codigo > .input {
    max-width: 65px;  
    font-weight: bold;
    padding-top: 0.5em;
}

.perfil-ver .tags.perfil-sexo { display:inline-block;}
.perfil-ver .tags.perfil-sexo input[disabled]+label:hover { cursor: default !important; }
.perfil-ver .tags.perfil-sexo input[disabled]+label { display: none; }
.perfil-ver .tags.perfil-sexo input[disabled][checked]+label { display: inline-block; background: none; color: inherit;}

.perfil-ver ul li label {
    width: 5em;
    display: inline-block;
    font-weight: bold;
}

.perfil-ver ul li .input[name="Codigo-Postal"]{
    margin-left: 5.4em;
}




/* ------- * -------- ------- * ------- */
/*  Tabulações
/* ------- * -------- ------- * ------- */
.drag-drop-zone {
    display: block;
}




/* ------- * -------- ------- * ------- */
/*  Tabelas */
/* ------- * -------- ------- * ------- */

.tabela {
    font-family: Calibri, sans-serif;
	font-size: 1em;
	background: #fff;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    overflow: hidden;
    vertical-align: top;
}
.tabela th {
	font-size: 1em;
    font-family: 'Anivers', Calibri, sans-serif;
	font-weight: normal;
	color: #FFF;
    background: #444;
	padding: 0.3em 0.5em;
    line-height: 2em;
}
    
.tabela td {
	color: #444;
	padding: 0.4em 0.6em;
    background: #FFF;
}

.tabela tbody tr:nth-child(even) td {
    background: #EEE;
}

.tabela tbody tr:hover td {
	background: #444;
    color: #FFF;
}

.divisor .tabela th {
    background: #555;
	font-size: 1em;
	padding: 0.8em 0.5em 0.6em 0.5em;
}

.divisor .tabela tbody tr:hover td {
	background: #888;
}

/* Tablea com Inputs */
.tabela.inputs td {
	padding: 0.2em;
}

.tabela.inputs td input {
	display: inline-block;
	position: relative;
	width: auto;
	vertical-align: middle;
	font-family: inherit;
	font-size: 1em;
	line-height: 1.4em;
    color: #444;
	box-shadow: none;
    border: 1px solid #ccc;
	border-bottom: 1px solid #999;
	margin: 0;
	padding: 0.1em 0.3em 0.1em 0.3em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.tabela.inputs td input[name="descricao"] {
	width: 9em;
}

.tabela.inputs td input[type="date"] {
	width: 8.6em;
}

.tabela.inputs td input[name="ano"] {
	width: 3em;
}

.tabela.inputs td input[name="montante"] {
	width: 5em;
}


/* .table.inputs
.table.inputs
.table.inputs */

/* ------- * -------- ------- * ------- */

@media print {
    .relatorio.listagem > .tabela tbody tr,
    .relatorio.listagem > .tabela th {
        border-bottom: 1px solid #666;
    }    
    
    .relatorio.listagem > .tabela td,
    .relatorio.listagem > .tabela th {
        border-right: 1px solid #ccc;

    }
}



/* --------------------------------------------------------------------------
    FX Effects
   -------------------------------------------------------------------------- */
/* ********************************* */
/* http://css-tricks.com/pop-from-top-notification/ */
.note
{
    position			: absolute;
    position			: fixed;
    z-index				: 999;
    top					: 0;
    left				: 0;
    right				: 0;
    background			: #fde073;
    text-align			: center;
    line-height			: 2.5;
    overflow			: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    color: #533409;
}

.note .temporizador {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left: 0;
    height: 7px;
    background: rgb(248, 115, 32);
    -webkit-transition: width 1000ms linear;
	-moz-transition: width 1000ms linear;
	transition: width 1000ms linear;
}

#NoteInner {
    position: relative;
    z-index: 1010;
}

/* .note .temporizador:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 40px 20px;
    border-color: transparent transparent #f83 transparent;
} */


@-webkit-keyframes slideDown {
    0% { -webkit-transform: translateY(-50px); }
    10%, 100% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0% { -moz-transform: translateY(-50px); }
    10%, 100% { -moz-transform: translateY(0px); }
}
@-webkit-keyframes slideUp {
    100% { -webkit-transform: translateY(-50px); }
}
@-moz-keyframes slideUp {
    100% { -moz-transform: translateY(-50px); }
}
.cssanimations.csstransforms .note.slideDown{
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 0.1s 1 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 0.1s 1 ease forwards;
}
.cssanimations.csstransforms .note.slideUp{
    -webkit-transform: translateY(0px);
    -webkit-animation: slideUp 0.4s 0.1s 1 ease forwards;
    -moz-transform:    translateY(0px);
    -moz-animation:    slideUp 0.4s 0.1s 1 ease forwards;
}
/* ********************************* */



/* --------------------------------------------------------------------------
    Formatação Overwrite
   -------------------------------------------------------------------------- */

.center {
    text-align: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    z-index: 99;
}

ul.no-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.no-margin {
    margin: 0;   
}

.bold {
    font-weight: bold;
}

.auto-w {
    width: auto;
    display: inline-block;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   These override the primary styles.
   ========================================================================== */
@media (max-width: 867px) {
    #layout {
        padding-left: -150px;
    }
}

@media (max-width: 480px) {
    #layout {
        position: static;
        margin: 0;
        padding: 0;
    }


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


