.winmodal
{
	position: fixed;
	top: 52px;
	bottom: 0px;
	left: 510px;
	right: 0px;
	z-index: 905;
	background: rgba(0,0,0,0.3);
}
.corpo-showmodal,#corpo-showmodal
{
	position: fixed;
	top: calc(50% - 120px);
	left: calc(50% + 25px);
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	background: #FFFFFF;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
	*border: 1px solid #FFF;
	border: 2px solid rgba(0,0,0,0.6);
}
.winmodal .botoes.form-footer
{
	display: block;
	background: #727272;
	text-align: center;
	position: relative;
	top: -6px;
}
.windowbody
{
	display: block;
	padding-bottom: 12px;
}

.warn-empty
{
	*top: 249px;
	*left: 939px;
	color: #FFF;
	padding: 8px 15px;
	z-index: 1;
	display: block;
	position: absolute;
	font-size: 0.8em;
	text-align: center;
	background: #E42323;
	border-radius: 2px;
	vertical-align: middle;
	display: inline-table;
}
.warn-empty:before
{
	content: ' ';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	left: -21px;
	top: 50%;
	margin-top: -9px;
	border-style: solid;
	border-width: 8px 11px 8px 10px;
	border-color: transparent #E42323 transparent transparent;
}