<div id="corpo">
	<h2 class="titulo">{$titulo}</h2>
	<p class="ajuda">{$ajuda}</p>
	<form class="formulario" action="#" method="POST" name="novo-inscricao-modalidade">
		<div class="coluna">
 
			<select class="cfg-search line" name="lista-modalidade" placeholder="Actividade" required>
				<option selected disabled>Actividade...</option>
					{$HTML_MODALIDADE_SELECT}
			</select>
			
			<div class="line" data-id="fieldsocio">
				<input name="Nome" placeholder="Nome do Sócio" type="text" autocomplete="off" maxlength="80" onkeyup="SearchSocioForm(this,'SRSocioInsc');"  onfocus="SearchSocioOnFocus('SRSocioInsc');" onblur="SearchSocioOnBlur('SRSocioInsc');" list="socios-list" required />
				<div class="hidden" data-id="SRSocioInsc"></div> 
			 </div>

			<div class="line">
				<label for="data-inscricao">Data de Inscrição:</label>
				<input type="date" placeholder="Data de Inscrição" name="data-inscricao" value="{$data_hoje}" required />
			</div>
			<div class="line">
				<label for="data-saida">Data de Saida:</label>
				<input type="date" placeholder="Data de Saida" name="data-saida" />
			</div>
			
			<div class="line">
				<label>Desconto:</label>
				<input type="text" name="desconto" class="pequeno numero" placeholder="0.0%" maxlength="8" />
			</div>
		</div> <!-- /Coluna -->
	   <!--  <div class="coluna">
			<h3 class="closable">
				Inscrição de vários sócios
				<span class="closable-bot">-</span>
			</h3>
		Para inserir vários sócios.
		Sinceramente, não gosto deste método, 
		
		<input class="filtro" type="text" name="Nome" placeholder="pesquisar">
			<div class="multiple socios resize">
				<select class="multiple socios" multiple="multiple" size="1">
					<option value="Joaquim Gomes">Joaquim Gomes</option>
					<option value="Joaquim Gomes">Joaquim Gomes</option>
					<option value="Joaquim Gomes">Joaquim Gomes</option>
					<option value="Joaquim Gomes">Joaquim Gomes</option>
					<option value="Joaquim Gomes">Joaquim Gomes</option>
					<option value="Joaquim Gomes">Joaquim Gomes</option>
					<option value="Joaquim Gomes">Joaquim Gomes</option>
					<option value="Joaquim Gomes">Joaquim Gomes</option>
					<option value="Joaquim Gomes">Joaquim Gomes</option>
					<option value="Joaquim Gomes">Joaquim Gomes</option>
				</select>
			</div>
			<p>Info: Pressione CTRL para selecionar vários.</p>
		</div> -->
		<div class="line botoes">
			<span data-name="clear" class="botao limpar" onClick="CleanFormElements('novo-inscricao-modalidade');">Limpar</span>
			<span data-name="guardar" class="botao guardar" onClick="ValidateForm('novo-inscricao-modalidade');">Guardar</span>
		</div>
	</form>
</div>
<script type='text/javascript'>
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'novo-inscricao-modalidade'); }
</script>