<div id="corpo">
	<h2 class="titulo">{$titulo}</h2>
	<p class="ajuda">{$ajuda}</p>
	<form class="" name="user-perfil-edit" action="{$FormAction}" method="POST">
		<div class="col">
			<div class="line center">
				<div class="img-uploader" data-id="divUploadImage">
					<img class="img-preview" width="150px" src="{$foto-url}" id="imgUserTumb">
					<input class="upload" name="upload-image" type="file">
					<img class="folder" src="{$imgsPath}pasta-blue.png" alt="procurar">
				</div>
			</div>
			<fieldset class="fieldset">
				<legend>Dados Pessoais</legend>
				<input name="nome" value="{field:nome}" placeholder="Primeiro Nome" maxlength="100" class="input" type="text" required>
				<br>
				<input name="apelido" value="{field:apelido}" placeholder="Apelido" maxlength="100" class="input" type="text" required>
				<br>
			</fieldset>
			<fieldset class="fieldset">
				<legend>Informações da Conta</legend>
				<input name="email" value="{field:email}" placeholder="email" maxlength="100" class="input" type="email" required>
				<br><!-- 
				<div class="info center">
				<div class="info center">endereço de email verificado</div>
				
					<a href="#">verificar endereço de email</a>
				</div> -->
				<input name="password" placeholder="Nova Password" maxlength="20" class="input" type="password" autocomplete="off">
				<br>
				<input name="password-confirm" placeholder="Nova Password (confirmar)" maxlength="20" class="input" type="password" autocomplete="off">

			</fieldset>
			<div class="line center">
				<input type="submit" class="botao guardar" value="Guardar" onClick="ValidateForm('user-perfil-edit');">
			</div>
		</div>
	</form>
</div>
<script type='text/javascript'>
	INI_FILEUPLOAD("upload-image","divUploadImage","spanProgressBar");
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'user-perfil-edit'); }
</script>