	<div id="corpo">
		<section class="listagem">
			<h2 class="titulo">{$titulo}
				<form class="filtrar" name="filtro" id="filtro" action="#" method="post" autocomplete="off"> 
					<input name="pesquisa" 	class="input style-line" type="text" placeholder="filtrar..." onkeyup="SearchListagem('filtro','pesquisa','socios-listagem');">
					<input name="Go" type="button" class="submitsearch" value="ok" onClick="SearchListagem('filtro','pesquisa','socios-listagem');">
				</form>	
			</h2>
			<p class="ajuda">{$ajuda}</p>
			<span data-id="corpo">
				<div class="lista" data-cod="socios-listagem">
					<div class="linha cabecalho">
						<span class="col-short"><input type="checkbox" name="checkActionAll" onChange="checkALL(this,'socios-listagem');"></span>
						<span class="col-short"><a href="{$PATH_SELF_URL}?fld=codigo&ordby={$orderby-codigo}">Nº</a></span>
						<span class="col-long"><a href="{$PATH_SELF_URL}?fld=nome&ordby={$orderby-nome}">Nome</a></span>
						<span class="col center"><a href="{$PATH_SELF_URL}?fld=tipo&ordby={$orderby-tipo}">Tipo</a></span>
						<span class="col center"><a href="{$PATH_SELF_URL}?fld=estado&ordby={$orderby-estado}">Estado</a></span>
						<span class="col right"><a href="{$PATH_SELF_URL}?fld=saldo&ordby={$orderby-saldo}">Saldo</a></span>
					</div>
					{loop id=linhas}
						<a href="perfil.php?id={field:id_socio}">
							<div class="linha">
								<span class="col-short"><input type="checkbox" name="checkAction" data-id="{field:id_socio}" ></span>
								<span class="col-short">{field:codigo}</span>
								<span class="col-long" >{field:nome}</span>
								<span class="col">
									<span class="etiqueta verde">{field:socio_nome_tipo}</span>
								</span>
								<span class="col">
									<span class="etiqueta azul">{field:socio_nome_estado}</span>
								</span>
								<span class="col right numero {field:numClass}">€{field:divida}</span>
							</div>
						</a>
					{/loop}

					<span class="multi">
						Com os selecionados:
						<br/>
						<span class="botao delete" onClick="unsetRecord('socios-listagem');">apagar</span>
					</span>
				</div>
				{$HTML_PAGINACAO}
			</span>
		</section>
	</div>
	<script>
		document.body.onkeydown = function(event){ KeysUpDownListagem(event,"socios-listagem"); }
	</script>