<div id="corpo">
	<h2 class="titulo">{$titulo}</h2>
	<p class="ajuda">{$ajuda}</p>
		<form class="form" name="novo-socio" action="{$FORMAction}" method="POST">
		<div class="col long middle mai">
		<div class="line">
			
				<fieldset class="fieldset col w-50 center">
					<legend>Fotografia</legend>
					<div class="img-uploader" data-id="divUploadImage">
						<img class="img-preview" width="120px" src="{$imgsPath}users/user-male-a-01.jpg" id="imgUserTumb">
						<input class="upload" name="upload-image" type="file">
						<img class="folder" src="{$imgsPath}pasta-blue.png" alt="procurar">
					</div>
				</fieldset>
				<div class="col w-50 center">
					<fieldset class="fieldset tags col long">
						<legend>Género</legend>
						<input type="radio" class="tag" name="socio-sexo" id="sexo-1" value="Masculino" required checked="checked">
						<label for="sexo-1" onClick="ChangeUserTumb('imgUserTumb','Masculino');" >Masculino</label>
						<input type="radio" class="tag" name="socio-sexo" id="sexo-2" value="Feminino" required >
						<label for="sexo-2" onClick="ChangeUserTumb('imgUserTumb','Feminino');" >Feminino</label>	
					</fieldset>
					<fieldset class="fieldset tags col short">
						<legend>Nº Sócio (Automático)</legend>
						<input class="input numero" style="width: 10em;" type="text" name="NumSocio" placeholder="Número de Sócio" maxlength="20" value="{$NumSocio}" data-magicinput="false">
					</fieldset>
					<!--
					<div class="col long">
						<a class="info link" href="#">alterar data de inscrição</a>
						<input class="input numero" type="date" name="data-nascimento" placeholder="Data de Nascimento">
					</div>
					-->
				</div>
				
			</div>
			<fieldset class="fieldset fluid">
				<legend>Dados Pessoais</legend>
				<input class="input" type="text" name="Nome" placeholder="Nome" maxlength="80" required>
				<input class="input numero" type="text" name="NIF" placeholder="NIF" maxlength="11">
				<input class="input numero" type="text" id="BICC" name="BICC" placeholder="BI/CC" maxlength="11">
				<label for="data-nascimento" class="input-label">Data de Nascimento</label>
				<input class="input numero" type="date" name="data-nascimento" placeholder="Data de Nascimento" data-magicinput="false">
			</fieldset>
			<fieldset class="fieldset morada-box">
				<legend>Localização</legend>
				<input class="input codigo-postal" name="Codigo-Postal" placeholder="Código Postal" type="text" onkeyup="CTTINFO();" maxlength="8" data-magicinput="false" required >
				<div class="info-box">Introduza um código postal<span>(ex: 3000-123)</span></div>
				<input class="input block" name="Morada" placeholder="Morada" type="text" maxlength="550" data-magicinput="false" required>
			</fieldset>
			<fieldset class="fieldset fluid">
				<legend>Contactos</legend>
				<input class="input" type="text" name="Email" placeholder="E-mail" maxlength="80">
				<input class="input numero" type="text" name="Telefone" placeholder="Telefone" maxlength="11">
			</fieldset>

		<div class="col long">
			<h3>Informações Adicionais</h3>
			<fieldset class="fieldset">
				<legend>Registo Interno</legend>
				<select class="select" name="EstadoSocio" placeholder="Estado de Socio" data-magicinput="false" required >
					<option value="Estado do Sócio" disabled selected>Estado de Sócio</option>
					{$resHTML_ESTADO}
				</select>
				<select class="select" name="TipoSocio" placeholder="Tipo de Sócio" data-magicinput="false" required >
					<option value="Tipo de Sócio" disabled selected>Tipo de Sócio</option>
					{$resHTML_TIPO}
				</select>
			</fieldset>
			<fieldset class="fieldset fluid">
				<legend>Outros</legend>
				<textarea class="input" name="Observacoes" placeholder="Observações/Notas" data-magicinput="false"></textarea>
			</fieldset>
		</div>

			<span class="info block">Após o registo pode adicionar e alterar estas informações.</span>
			<span class="botoes center">
				<a class="botao navegar" href="#guardar" onclick="ValidateForm_Socio('novo-socio');">Guardar Sócio</a></a>
			</span>
		</div>
	</form>
</div>
<script type='text/javascript'>
	InitInputsForm('novo-socio');
	INI_FILEUPLOAD("upload-image","divUploadImage","spanProgressBar");
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'novo-socio'); }

	function ValidateForm_Socio(AFormName)
	{
		SearchSocioCodigo(AFormName,'NumSocio',function(){ ValidateForm(AFormName); });
	}
</script>