<div id="corpo">
	<section class="perfil edit">
		<h1 class="titulo">{$titulo}</h1>
		<p class="ajuda">{$ajuda}</p>
		<span data-id="corpo">
			<!-- Editar -->
			<form name="socio-perfil-edit" action="{$FormAction}" method="POST">	
				<h2 class="nome-socio">
					<input name="Nome" value="{field:nome}" type="text" maxlength="80" required />
				</h2>
				<div class="coluna no-margin full-width">
				<div class="img-uploader" data-id="divUploadImage">
					<img class="img-preview" width="150px" src="{$foto-url}" id="imgUserTumb">
					<input class="upload" name="upload-image" type="file">
					<img class="folder" src="{$imgsPath}pasta-blue.png" alt="procurar">
				</div>

					<div class="info-socio">
					   Sócio nº: <input name="NumSocio" value="{field:codigo}" type="number" maxlength="20" class="numeros" placeholder="Nº">

					   <select class="etiqueta azul" name="EstadoSocio" placeholder="Estado-Socio" required >
							<option value="Estado do Sócio" disabled selected>Estado de Sócio</option>
							{field:resHTML_ESTADO}
						</select>
						<select class="etiqueta verde" name="TipoSocio" placeholder="Tipo-Socio" required >
							<option value="Tipo do Sócio" disabled selected>Tipo de Sócio</option>		
							{field:resHTML_TIPO}
						</select>
						<br/>
						{$reg-update}
						<div class="tags">
							<input type="radio" name="socio-sexo" id="socio-sexo-1" value="Masculino" placeholder="Sexo" required {field:FieldsDisabled} {field:sexMas}>
							<label for="socio-sexo-1" data-name="socio-sexo" onClick="ChangeUserTumb('imgUserTumb','Masculino');">Masculino</label>				  
							<input type="radio" name="socio-sexo" id="socio-sexo-2" value="Feminino" placeholder="Sexo" required {field:FieldsDisabled} {field:sexFem}>
							<label for="socio-sexo-2" data-name="socio-sexo" onClick="ChangeUserTumb('imgUserTumb','Feminino');">Feminino</label>
						</div>  
					</div>
				</div>

				<ul class="bloco">
					<li>
						<strong>Telefone:</strong>
						<span class="numeros">
							<input name="Telefone" type="text" value="{field:telefone}" maxlength="11" {field:FieldsDisabled} {field:plaTelefone}>
						</span>
						<a href="#contactos" onclick="ChangeAttByTagData(this,'span','data-action','href','class','hidden', 'mais contactos','menos contactos');">mais contactos</a>
					</li>
					<span data-action="#contactos" class="hidden">
						<li>
							<strong>Telefone:</strong>
							<span class="numeros">
								<input name="Telemovel" type="text" value="{field:telemovel}" maxlength="11" {field:FieldsDisabled} {field:plaTelemovel}>
							</span>
						</li>
						<li>
							<strong>Fax:</strong>
							<span class="numeros">
								<input name="Fax" type="text" value="{field:fax}" maxlength="11" {field:FieldsDisabled} {field:plaFax}>
							</span>
						</li>
						<li>
							<strong>Outro 1:</strong>
							<span class="numeros">
								<input name="Outro1" type="text" value="{field:outro1}" maxlength="60" {field:FieldsDisabled} {field:plaOutro1}>
							</span>
						</li>
						<li>
							<strong>Outro 2:</strong>
							<span class="numeros">
								<input name="Outro2" type="text" value="{field:outro2}" maxlength="60" {field:FieldsDisabled} {field:plaOutro2}>
							</span>
						</li>
					</span>
					<li>
						<strong>Email:</strong>
						<input name="Email" type="email" value="{field:email}" maxlength="80" {field:FieldsDisabled} {field:plaEmail}>
					</li>
					<li>
						<strong>Morada:</strong>
						<input name="Morada" type="text" value="{field:morada}" maxlength="550" size="35" {field:FieldsDisabled} {field:plaMorada}>
						<span class="line2">
							<input class="numero" name="Codigo-Postal" type="text" value="{field:codigo_postal}" maxlength="8" size="10" onkeyup="CTTINFO();" required {field:FieldsDisabled} {field:plaCodPostal}>
							<span class="info-box">{field:concelho_desig}, <span>{field:distrito_desig}</span></span>
						</span>
					</li>
				</ul>
				<ul class="bloco longo">
					<li>
						<strong>Data de Inscrição:</strong>
						<input type="date" name="data-inscricao" value="{field:data_entrada}">
					</li>
					<li>
						<strong>Data de Saída:</strong>
						<input type="date" name="data-saida" value='{field:data_saida}'>
					</li>
				</ul>
				<ul class="bloco longo">
					<li>
						<strong>Data de Nasc.:</strong>
						<input name="data-nascimento" type="date" value="{field:data_nascimento}" {field:FieldsDisabled} {field:plaDataNasc}>
					</li>
					<li>
						<strong>Cartão de Cidadão:</strong>
						<span class="numeros">
							<input name="BICC" type="text" value="{field:bicc}" maxlength="11" onkeyup="GetValuesByBI(this);" {field:FieldsDisabled} {field:plaBICC}>
						</span>
					</li>
					<li>
						<strong>Contribuinte (NIF):</strong>
						<span class="numeros">
							<input name="NIF" type="text" value="{field:nif}" maxlength="11" {field:FieldsDisabled} {field:plaNIF}>
						</span>
					</li>
					<li>
						<strong>Conta Bancária (NIB):</strong>
						<span class="numeros">
							<input name="NIB" type="text" value="{field:nib}" maxlength="21" size="25" {field:FieldsDisabled} {field:plaNIB}></span>
					</li>
				</ul>
				<span class="observacoes">
					<strong>Observações:</strong>
					<textarea name="Observacoes" placeholder="Observações/Notas">{field:observacoes}</textarea>
				</span>
				<div class="line botoes">
					<a href="/ui/socios/perfil.php?id={field:id_socio}">
						<span data-name="anular" class="botao limpar">Anular</span>
					</a>
					<span data-name="guardar" class="botao guardar" onClick="ValidateForm_Socio('socio-perfil-edit');">Guardar</span>
				</div>
			</form>
		</span>
	</section>
</div>
<script type='text/javascript'>
	INI_FILEUPLOAD("upload-image","divUploadImage","spanProgressBar");
	document.body.onkeydown = function(event){ KeysUpDownSubmitForm(event,'socio-perfil-edit'); }

	function ValidateForm_Socio(AFormName)
	{
		SearchSocioCodigo(AFormName,'NumSocio',function(){ ValidateForm(AFormName); });
	}
</script>