<div id="corpo">
	<section class="perfil">
		<h1 class="titulo">
			{$titulo}
		</h1>
		<p class="ajuda">{$ajuda}</p>
		<span data-id="corpo">
			<h2 class="nome-socio">
				{field:nome}
				<a href="{$edit-link}" class="botao editar">editar</a>
			</h2>
			<div class="coluna no-margin full-width">
				<img class="foto" src="{$foto-url}">
				<div class="info-socio">
					Sócio nº: {field:codigo}
					<span class="etiqueta verde">{field:socio_nome_tipo}</span>
					<span class="etiqueta azul">{field:socio_nome_estado}</span>
					<br/>
					{$reg-update}
				</div>
			</div>
			<div class="info-primaria">
				<ul class="bloco">
					<li>
						<strong>Telefone:</strong><span class="numeros">{field:telefone}</span>
						<a href="#contactos" onclick="ChangeAttByTagData(this,'span','data-action','href','class','hidden', 'mais contactos','menos contactos');">mais contactos</a>
					</li>
					<span data-action="#contactos" class="hidden">
						<li><strong>Tlm.:</strong><span class="numeros">{field:telemovel}</span></li>
						<li><strong>Fax:</strong><span class="numeros">{field:fax}</span></li>
						<li><strong>Outro 1:</strong><span class="numeros">{field:outro1}</span></li>
						<li><strong>Outro 2:</strong><span class="numeros">{field:outro2}</span></li>
					</span>
					<li><strong>Email:</strong><a href="mailto:{field:email}">{field:email}</a></li>
					<li><strong>Morada:</strong>{field:morada}
						<span class="line2">{field:codigo_postal} {field:concelho_desig}, {field:distrito_desig}</span>
					</li>
				</ul>
				<ul class="bloco longo">
					<li><strong>Data de Inscrição: </strong>{field:data_entrada}</li>
					<li><strong>Data de Saída: </strong>{field:data_saida}</li>
				</ul>

				<ul class="bloco longo">
					<li><strong>Data de Nasc.:</strong>{field:data_nascimento}</li>
					<li><strong>Cartão de Cidadão:</strong><span class="numeros">{field:bicc}</span></li>
					<li><strong>Contribuinte (NIF):</strong><span class="numeros">{field:nif}</span></li>
				</ul>
			
				<span class="observacoes"><strong>Observações: </strong>{field:observacoes}</span>
			</div>
			<div class="inline">
				<div class="col">
					<h3>Quotas em atraso</h3>
					<ul class="lista quotas-aberto">
						<li class="total">&nbsp;Total<span class="numero">€{$total_divida}&nbsp;</span></li>
						Por Modalidade
						{loop id=linhas}
						<li class="modalidade"><a href="{field:goto-link}">{field:nome_modalidade}<span class="numero">€{field:total_divida}</span></a></li>
						{/loop}
					</ul>
				</div>
			</div>
		</span>
	</section>
</div>