	<div id="corpo">
		<section class="listagem">
			<h2 class="titulo">{$titulo}
				<form class="filtrar" name="filtro" id="filtro" action="#" method="post" autocomplete="off"> 
					<input name="pesquisa" 	class="input style-line" type="text" placeholder="filtrar..." onkeyup="SearchListagem('filtro','pesquisa','socios-listagem');">
					<input name="Go" type="button" class="submitsearch" value="ok" onClick="SearchListagem('filtro','pesquisa','socios-listagem');">
				</form>	
			</h2>
			<p class="ajuda">{$ajuda}</p>
			<span data-id="corpo">
				<div class="lista" data-cod="relatorios-listagem">
					<div class="linha cabecalho">
						<span class="col-short">Nº</span>
						<span class="col-long">Nome</span>
						<span class="col center">Tipo</span>
						<span class="col center">Estado</span>
						<span class="col right">Saldo</span>
					</div>
					{loop id=linhas}
						<a href="perfil.php?id={field:id_socio}">
							<div class="linha">
								<span class="col-short">{field:codigo}</span>
								<span class="col-long" >{field:nome}</span>
								<span class="col">
									<span class="etiqueta verde">{field:socio_nome_tipo}</span>
								</span>
								<span class="col">
									<span class="etiqueta azul">{field:socio_nome_estado}</span>
								</span>
								<span class="col right numero {field:numClass}">€{field:divida}</span>
							</div>
						</a>
					{/loop}
				</div>
			</span>
		</section>
	</div>
	<script>
		document.body.onkeydown = function(event){ KeysUpDownListagem(event,"socios-listagem"); }
	</script>