<!-- TODO: Funcionamento

O objetivo é que quando for selecionado um dos dados primarios (Socio, Modalidades, Entidades)
ele altere automaticamente os campos do lado direito em (filtro).

-->

	<div id="corpo">
	<h2 class="titulo">{$titulo}</h2>
	<p class="ajuda">{$ajuda}</p>
	<form class="form" action="{$FORMAction}" method="POST" name="novo-relatorio">
	
	<div class="col main">
		<fieldset class="fieldset tags">
			<legend>Tipo de Relatório</legend>
			<input type="radio" class="tag" name="tipo-relatorio" id="tipo-relatorio-1" value="1" disabled required >
			<label for="tipo-relatorio-1">Dinâmico</label>

			<input type="radio" class="tag" name="tipo-relatorio" id="tipo-relatorio-2" value="2" required disabled >
			<label for="tipo-relatorio-2">Estático</label>	
			
			<input type="radio" class="tag" name="tipo-relatorio" id="tipo-relatorio-3" value="3" required checked="checked" >
			<label for="tipo-relatorio-3">Listagem</label>	
		</fieldset>
		
		<fieldset class="fieldset tags">
			<legend>Dados Primários</legend>
			<input type="radio" class="tag" name="dados-primarios" id="dados-primarios-1" value="1" checked="checked" required >
			<label for="dados-primarios-1">Sócios</label>

			<input type="radio" class="tag" name="dados-primarios" id="dados-primarios-2" value="2" required disabled >
			<label for="dados-primarios-2">Modalidades</label>	
			
			<input type="radio" class="tag" name="dados-primarios" id="dados-primarios-3" value="3" required disabled>
			<label for="dados-primarios-3">Entidades</label>	
		</fieldset>
		
		<a href="javascript:void(0);" onclick="ValidateForm('novo-relatorio');" class="botao guardar">Criar Relatório</a>
	 
	</div>
	<div class="col maxwidth-long">
	<h3 class="titulo-3">Filtros (sócios)</h3>
		<fieldset class="fieldset tags">
			<legend>Estado do Sócio</legend>
			<input type="checkbox" class="tag" name="EstadoSocio" id="estado-socio-all" value="all" checked>
			<label for="estado-socio-all" >Todos</label>
			{$HTML_ESTADOSOCIO}
		</fieldset>
			
		<fieldset class="fieldset tags">
			<legend>Tipo de Sócio</legend>
			<input type="checkbox" class="tag" name="TipoSocio" id="tipo-socio-all" value="all" checked>
			<label for="tipo-socio-all" >Todos</label>
			{$HTML_TIPOSOCIO}
		</fieldset>
			
		<fieldset class="fieldset">
			<legend>Inscritos nas Modalidades</legend>
			<select name="Actividades[]" placeholder="Actividades/Modalidades" multiple>
				{$HTML_ACTIVIDADES}
			</select>
<!--
				<option>Natação</option>
				<option>Patinagem</option>
				<option>Boxe</option>
				<option>Dança</option>
-->
			<p class="micro-info">Utilize a tecla CTRL para selecionar vários.</p>	
		</fieldset>					
		
		<fieldset class="fieldset">
			<legend>Quotas</legend>
		   <!--  <div class="line">
				<label class="label">em atraso à mais de:</label>
				<input class="input small numero" name="Fax" placeholder="0" type="text" maxlength="15"> dias
			</div> -->
			<div class="line">
				<label class="label">em dívida entre (€):</label>
				<input class="input small numero" name="divida-min" placeholder="0" type="text" maxlength="15"> e 
				<input class="input small numero" name="divida-max" placeholder="0" type="text" maxlength="15">
			</div>
			<div class="line tags">
				<span class="label auto">apenas sócios </span>
				<input type="checkbox" class="tag" name="estado-quotas" id="quotas-1" value="all-payed">
				<label for="quotas-1">com tudo pago</label>
				
				<input type="checkbox" class="tag" name="estado-quotas" id="quotas-2" value="none-payed">
				<label for="quotas-2">em dívida</label>
			</div>
		</fieldset>
		
		<fieldset class="fieldset">
			<legend>Data de Inscrição</legend>
			<div class="line">
				<label class="label">Inscritos depois de:</label>
				<input class="input numero" name="datainscricao-after" placeholder="0" type="date" maxlength="15">
			</div>
			<div class="line">
				<label class="label">Inscritos antes de:</label>
				<input class="input numero" name="datainscricao-before" placeholder="0" type="date" maxlength="15">
			</div>       
		</fieldset>
		
		<fieldset class="fieldset">
			<legend>Outros</legend>
			<div class="line">
				<label class="label">Nº de Sócio entre:</label>
				<input class="input small numero" name="numsocio-min" placeholder="0" type="text" maxlength="15"> e 
				<input class="input small numero" name="numsocio-max" placeholder="0" type="text" maxlength="15">
			</div>
		</fieldset>
	</div>
			
	</form>
</div>