	<section class="conteudo">
		<span class="info block">Configurações relacionadas com pagamentos.</span>
		<!--
		<span>
			<form name="form-quotas" action="" method="POST">
				<p>
					Ao selecionar o tipo de mensalidade.
					<br/>
					Os meses da lista agrupam-se/dividem-se consuante a mensalidade
				</p>
				<p>Ano:
					<input type="text" name="anos" value="2014/2015">
				</p>
				<p>Montante:
					<input type="text" name="montante" size="8" onkeyup="ObjFormQuotas.updateMontante(event);" value="0.00"> <b>€</b>
				</p>
				<fieldset class="fieldset fluid">
					<legend>Mensalidade</legend>
					<select name="TipoMensalidade" class="select" onchange="ObjFormQuotas.TipoMensalidade(this);" placeholder="Mensalidade (1, 2, 3, 4, 6, 12 Meses)">
						<option value="0" disabled="" selected="">Selecionar uma Mensalidade</option>
						<option value="1">Mensal (1 em 1 Mes)</option>
						<option value="2">Bimestral (2 em 2 Meses)</option>
						<option value="3">TriMestral (3 em 3 Meses)</option>
						<option value="4">Quadrimestral (4 em 4 Meses)</option>
						<option value="6">Semestral (6 em 6 Meses)</option>
						<option value="12">Anual (1 Ano)</option>
					</select>
					<br/>
					<label class="select-label">Distruibuição (€):</label>
					<select name="Distribuicao" class="select" placeholder="Distribuir Montante" onchange="ObjFormQuotas.updateMontante(event);">
						<option value="0" disabled="" selected="">Selecionar uma Distribuição</option>
						<option value="1">Repartir montante por todos os meses</option>
						<option value="2">Mesmo montante por Mês</option>
					</select>
				</fieldset>
				
				<p>Do mês:
					<select name="DEmes" onchange="ObjFormQuotas.updateTabela(this);">
					</select>
					<input type="text" name="DEano" value="" size="8">
				</p>
				<p>Ao mês:
					<select name="AOmes" onchange="ObjFormQuotas.updateTabela(this);">
					</select>
					<input type="text" name="AOano" value="" size="8">
				</p>
			</form>
			<input type="button" value="Actualizar Grelha" onclick="ObjFormQuotas.updateTabela(this);">
			<span>
				<table data-id="table-prev">
					<thead>
						<tr>
							<th scope="col" style="width:100px;">Descrição</th>
							<th scope="col" style="width:60px;">Ano</th>
							<th scope="col" style="width:80px;">Total</th>
							<th scope="col" style="width:100px;">Praz. Pagamento</th>
							<th scope="col" style="width:50px; display:none;">LastMonth</th>
							<th scope="col" style="width:50px; display:none;">isQuota</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</span>
			<input type="button" value="Criar Quotas" onclick="ObjFormQuotas.CriarQuotas(this);">
			
			
			<br/>
				<form name="form-socios-filter" action="" method="POST">
					<div class="col maxwidth-long" data-id="filtros">
						 ---------------------------------------- 
						<h3 class="titulo-3">Filtros (sócios)</h3>
						<fieldset class="fieldset tags">
							<legend>Estado do Sócio</legend>
							<input type="checkbox" class="tag" name="EstadoSocio[]" id="estado-socio-all" value="all" checked>
							<label for="estado-socio-all" >Todos</label>
		
							{$HTML_ESTADOSOCIO}
						</fieldset>
						
						<fieldset class="fieldset tags">
							<legend>Tipo de Sócio</legend>
							<input type="checkbox" class="tag" name="TipoSocio[]" id="tipo-socio-all" value="all" checked>
							<label for="tipo-socio-all" >Todos</label>
		
							{$HTML_TIPOSOCIO}
						</fieldset>
						<fieldset class="fieldset tags">
							<legend>Sexo</legend>
							<input type="radio" class="tag" name="SexoSocio" id="sexo-socio-all" value="all" checked>
							<label for="sexo-socio-all" >Todos</label>
		
							<input type="radio" class="tag" name="SexoSocio" id="sexo-socio-Fem" value="Feminino" >
							<label for="sexo-socio-Fem" >Feminino</label>
							<input type="radio" class="tag" name="SexoSocio" id="sexo-socio-Masc" value="Masculino" >
							<label for="sexo-socio-Masc" >Masculino</label>
						</fieldset>
						-- ---------------------------------------- 
						Total Sócios: <span data-id="num-socios-tipo">76</span>
					</div>
				</form>
		</span>
		<br/>
		
		-- --- --- -->
		<!--
		*
		*
		*
		*
		-->
		
		
		<div class="col">
			<h3>Métodos de Pagamento</h3>
			<fieldset class="fieldset">
			<legend>Método de Pagamento Predefinido</legend>
			<select name="metodo-pagamento-predefinido" id="metodo-pagamento-predefinido" class="select">
				{loop id=pagformapred}
					<option value="{field:id}" >{field:nome}</option>
				{/loop}
			</select>
			</fieldset>

			<fieldset class="fieldset">
				<legend>Adicionar Métodos de Pagamento</legend>
				<span data-table="pagforma">
					<form name="pagforma-perfil_inserir" method="post">
						<input class="input" type="text" name="Nome" value="" data-value="" placeholder="Nome" autofocus="autofocus" onkeypress="ObjConfiguracoes.keyEvent(event);" required>
					</form>
					<span>
						<button class="botao adicionar inline" data-action="inserir" title="Guardar" onClick="ObjConfiguracoes.editItem(this);">adicionar</button>
					</span>
				</span>
			</fieldset>

			<ul class="lista" data-table="pagforma">
				<!--
				<li class="editavel" >
					<input class="item input fluid" value="" data-value="" name="Nome" plceholder="Novo Método Pagamento" onkeypress="ObjConfiguracoes.keyEvent(event);" >
					<span class="botoes">
						<button class="botao ico fi-check" data-action="guardar" title="Guardar" onClick="ObjConfiguracoes.editItem(this);"></button>
					</span>
				</li>
				-->
				{loop id=pagforma}
				<li class="editavel" data-idrow="{field:id}">
					<form name="pagforma-perfil_{field:id}" method="post">
						<input class="item input fluid" type="text" value="{field:nome}" data-value="{field:nome}" name="Nome" plceholder="Nome" onkeypress="ObjConfiguracoes.keyEvent(event);" onkeydown="ObjConfiguracoes.keyEvent(event);" disabled >
						<input type="hidden" name="CodPagForm" value="{field:id}">
					</form>
					<span class="botoes">
						<button class="botao ico fi-check hidden" 		data-action="guardar" title="Guardar" onClick="ObjConfiguracoes.editItem(this);"></button>
						<button class="botao ico fi-arrow-left hidden" 	data-action="anular"  title="Anular" onClick="ObjConfiguracoes.editItem(this);"></button>
						<button class="botao ico fi-trash" 				data-action="apagar"  title="Apagar" onClick="ObjConfiguracoes.editItem(this);"></button>
						<button class="botao ico fi-page-edit" 			data-action="editar"  title="Editar" onClick="ObjConfiguracoes.editItem(this);"></button>
					</span>
				</li>
				{/loop}
			</ul>
		</div>
	</section>