	<section class="conteudo">
		<span class="info block">Configurações relacionadas com {$Titulo}</span>
		<div class="col">
			<h3>{$Titulo}</h3>
			<fieldset class="fieldset">
			<legend>{$TituloPredefinido}</legend>
			<select name="{$form_name}-predefinido" id="{$form_name}-predefinido" class="select">
				{loop id={$form_name}pred}
					<option value="{field:id}" >{field:nome}</option>
				{/loop}
			</select>
			</fieldset>

			<fieldset class="fieldset">
				<legend>Adicionar {$Titulo}</legend>
				<span data-table="{$form_name}">
					<form name="{$form_name}-perfil_inserir" method="post">
						<input class="input" type="text" name="Nome" value="" data-value="" placeholder="Nome" autofocus="autofocus" onkeypress="ObjConfiguracoes.keyEvent(event);" required>
					</form>
					<span>
						<button class="botao adicionar inline" data-action="inserir" title="Guardar" onClick="ObjConfiguracoes.editItem(this);">adicionar</button>
					</span>
				</span>
			</fieldset>

			<ul class="lista" data-table="{$form_name}">
				<!--
				<li class="editavel" >
					<input class="item input fluid" value="" data-value="" name="Nome" plceholder="Novo {$Titulo}" onkeypress="ObjConfiguracoes.keyEvent(event);" >
					<span class="botoes">
						<button class="botao ico fi-check" data-action="guardar" title="Guardar" onClick="ObjConfiguracoes.editItem(this);"></button>
					</span>
				</li>
				-->
				{loop id={$form_name}}
				<li class="editavel" data-idrow="{field:id}" data-elemhide="true">
					<form name="{$form_name}-perfil_{field:id}" method="post">
						<input class="item input fluid" type="text" value="{field:nome}" data-value="{field:nome}" name="Nome" plceholder="Nome" onkeypress="ObjConfiguracoes.keyEvent(event);" onkeydown="ObjConfiguracoes.keyEvent(event);" disabled >
						<input type="hidden" name="{$CodIDField}" value="{field:id}" data-isid="true" >
					</form>
					<span class="botoes">
						<button class="botao ico fi-check hidden" 		data-action="guardar" title="Guardar" onClick="ObjConfiguracoes.editItem(this);"></button>
						<button class="botao ico fi-arrow-left hidden" 	data-action="anular"  title="Anular" onClick="ObjConfiguracoes.editItem(this);"></button>
						<button class="botao ico fi-trash" 				data-action="apagar"  title="Apagar" onClick="ObjConfiguracoes.editItem(this);"></button>
						<button class="botao ico fi-page-edit" 			data-action="editar"  title="Editar" onClick="ObjConfiguracoes.editItem(this);"></button>
					</span>
				</li>
				{/loop}
			</ul>
		</div>
	</section>